<template>
  <div class="section">
    <div class="container px-4 mx-auto">
      <h1 class="font-bold text-3xl mb-5">Companies</h1>

      <div class="flex justify-end mb-5 items-center">

      </div>

      <div class="oc-card oc-card-default rounded-xl">
        <div class="oc-card-body overflow-auto p-0">
          <table class="oc-table oc-table-striped no-border rounded-xl">
            <thead>
            <tr>
              <th>Company title</th>
             
              <th>Twilio number </th>
              <th>Phone number</th>
              <th>Company state</th>
              <th>Company city</th>
              <th>Expiry date</th>
             
              <th>created_at</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody  v-if="companies.length==0">
            <tr class="text-center">
              <td colspan="13">No Campaigns</td>
            </tr>
            </tbody>

            <tbody v-else>
            <tr v-for="item in companies" :key="item.id">
              <td>{{item.business_name}}</td>
              <td>{{item.twilio_number}}</td>
              <td>{{item.phone_number}}</td>
              <td>{{item.state}}</td>
              <td>{{item.city}}</td>
             
              <td>{{item.expiry_date}}</td>
                <td>{{item.created_at}}</td>
              <td>{{item.status}}</td>
            

              <td>
                <button type="button">
                  <more-vertical-icon></more-vertical-icon>
                </button>
                <div uk-dropdown="mode: click">
                  <ul class="uk-nav uk-dropdown-nav">
                    <!-- <li>
                        <nuxt-link :to="`${$route.fullPath}/${campaign.id}/edit`">Edit</nuxt-link>
                    </li> -->
                    <li>
                      <a href="#" class="text-red-500">Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>

            </tbody>


          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { MoreVerticalIcon } from 'vue-feather-icons';

  export default {
    layout:'dashboard',
    props: ['company-slug'],
    components: {
      MoreVerticalIcon
    },
    data() {
      return {
        companies:[]
      }
    },
    created() {
      this.$axios.get('/api/v1/company/company-listing/').then(res=>{
        this.companies=res.data.data;
      }).catch(error=>{

      })
    }
  }

</script>
