<template>
  <div class="section">
    <div class="container px-4 mx-auto">
      <h1 class="font-bold text-3xl mb-5">Owners</h1>
      <div class="flex justify-end mb-5 items-center">
      </div>
      <div class="oc-card oc-card-default rounded-xl">
        <div class="oc-card-body p-0">
          <table class="oc-table oc-table-striped no-border rounded-xl">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Business name</th>
                    <th>Created at</th>
                    <th>status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody  v-if="owner.length==0">
                <tr class="text-center">
                    <td colspan="6">No owners.</td>
                </tr>
            </tbody>

            <tbody v-else>
                <tr v-for="item in owner" :key="item.id">
                  <td>{{item.first_name}}</td>
                  <td>{{item.last_name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.business_name}}</td>
                  <td>{{item.created_at}}</td>
                  <td>{{item.status}}</td>
                  <td>
                    <button type="button">
                      <more-vertical-icon></more-vertical-icon>
                    </button>
                    <div uk-dropdown="mode: click">
                      <ul class="uk-nav uk-dropdown-nav">
                        <li>
                            <nuxt-link to="">Edit</nuxt-link>
                        </li>
                        <li>
                          <a href="#" class="text-red-500">Delete</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { MoreVerticalIcon } from 'vue-feather-icons';

  export default {
    layout:'dashboard',
    props: ['company-slug'],
    components: {
      MoreVerticalIcon
    },
    data() {
      return {
        owner:[]
      }
    },
    created() {
      this.$axios.get('/api/v1/user-module/get-user').then(res=>{
       this.owner=res.data.data;
      }).catch(error=>{

      })
    }
  }

</script>
