<template>
    <div class="section">
        <div class="container px-4 mx-auto">
            <h1 class="text-3xl font-bold">Create Campaign</h1>

            <div class="oc-card oc-card-body oc-card-default rounded my-5">
                <form @submit.prevent="saveCampaign">
                    <div class="oc-grid mb-4">
                        <div class="w-full md:w-1/2">
                            <label for="name">Campaign Name</label>
                            <input type="text" v-model="name" class="oc-form-control">

                            <error name="name"></error>
                        </div>

                        <div class="w-full md:w-1/2">
                            <label for="contact_list_id">Contact List</label>
                            <select name="contact_list" v-model="contact_list_id" class="oc-form-control">
                                <option v-for="contact_list in contact_lists" :key="contact_list.id" :value="contact_list.id">
                                    {{contact_list.title}}
                                </option>
                            </select>

                            <error name="contact_list_id"></error>
                        </div>
                    </div>

                    <div class="mb-4">
                        <button type="submit" class="oc-btn oc-btn-primary rounded">Create Campaign</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:['company-slug'],
    asyncData({$axios, params, error, redirect, store}) {
        return $axios.get(`/api/v1/companies/${params.slug}/contact_lists`).then(res => {
            if(!res.data.data.length) {
                store.dispatch('flash/add',{message: 'You need to have at least 1 contact list'});
                return redirect(`/cd/${params.slug}/contact_lists`);
            }

            return {
                contact_lists: res.data.data,
                contact_list_id: res.data.data[0].id
            }
        }).catch(err => {
            error({statusCode: 500, message: 'Something went wrong, please refresh the browser'});
        })
    },
    data() {
        return {
            name:'',
        }
    },
    methods: {
        saveCampaign() {
            const { name, contact_list_id } = this;

            let url = `/api/v1/companies/${this.companySlug}/campaigns`;

            this.$axios.post(url, {name, contact_list_id})
                .then(res => {
                    this.$router.push(`/cd/${this.companySlug}/campaigns/${res.data.id}/edit`);
                }).catch(err => this.$store.commit('errors/add',err));
        }
    }
}
</script>