<template>
    <div class="section">
        <div class="container px-4 mx-auto">
            <h1 class="font-bold text-3xl mb-5">Campaigns</h1>

            <div class="flex justify-end mb-5 items-center">
                <nuxt-link :to="`/cd/${companySlug}/campaigns/create`" class="oc-btn oc-btn-primary rounded">
                    Create Campaign
                </nuxt-link>
            </div>

            <div class="oc-card oc-card-default rounded-xl">
                <div class="oc-card-body p-0">
                    <table class="oc-table oc-table-striped no-border rounded-xl">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody v-if="campaigns.length">
                            <tr v-for="campaign in campaigns" :key="campaign.id">
                                <td>
                                    <nuxt-link :to="$ocTo('campaigns.show', {slug: $route.params.slug, cp_id: campaign.id})">{{campaign.name}}</nuxt-link>
                                </td>
                                <td>
                                    {{campaign.status | capitalize}}
                                </td>
                            </tr>
                        </tbody>

                        <tbody v-else>
                            <tr class="text-center">
                                <td colspan="3">No Campaigns</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['company-slug'],
    data() {
        return {
            campaigns:[]
        }
    },
    mounted() {
        this.$axios.get(`/api/v1/companies/${this.companySlug}/campaigns`).then(res => {
            this.campaigns = res.data;
        })
    }
}
</script>