<template>
    <div class="top-sidebar">
        <div class="oc-sidebar-nav">
            <nuxt-link :to="`/dashboard`" class="oc-sidebar-item">
                <div>
                    <span class="oc-sidebar-icon">
                        <grid-icon></grid-icon>
                    </span>
                    <span class="ml-3 oc-m-hide">Dashboard</span>
                </div>
            </nuxt-link>
        </div>

        <div class="oc-sidebar-nav">
            <nuxt-link :to="`/dashboard/survey`" class="oc-sidebar-item">
                <div>
                    <span class="oc-sidebar-icon">
                        <users-icon></users-icon>
                    </span>
                    <span class="ml-3 oc-m-hide">Survey</span>
                </div>
            </nuxt-link>
            <nuxt-link :to="`/dashboard/questions`" class="oc-sidebar-item">
                <div>
                    <span class="oc-sidebar-icon">
                        <users-icon></users-icon>
                    </span>
                    <span class="ml-3 oc-m-hide">Questions</span>
                </div>
            </nuxt-link>
        </div>

            </div>
</template>



<script>
import { BriefcaseIcon,UsersIcon,SearchIcon,MailIcon,HomeIcon,GridIcon } from 'vue-feather-icons';

export default {
    components: {
        BriefcaseIcon,
        UsersIcon,
        SearchIcon,
        MailIcon,
        HomeIcon,
        GridIcon
    }
}
</script>
