<template>
    <div class="top-sidebar">
        <div class="oc-sidebar-nav">
            <nuxt-link :to="`/cd/${$route.params.slug}`" class="oc-sidebar-item" :exact="true">
                <div>
                    <span class="oc-sidebar-icon">
                        <home-icon></home-icon>
                    </span>
                    <span class="ml-3 oc-m-hide">Dashboard</span>
                </div>
            </nuxt-link>
        </div>

        <div class="oc-sidebar-nav">
            <nuxt-link :to="`/cd/${$route.params.slug}/contact_lists`" class="oc-sidebar-item">
                <div>
                    <span class="oc-sidebar-icon">
                        <users-icon></users-icon>
                    </span>
                    <span class="ml-3 oc-m-hide">Contacts</span>
                </div>
            </nuxt-link>

            <nuxt-link :to="`/cd/${$route.params.slug}/campaigns`" class="oc-sidebar-item">
                <div>
                    <span class="oc-sidebar-icon">
                        <bar-chart-icon></bar-chart-icon>
                    </span>
                    <span class="ml-3 oc-m-hide">Sequences</span>
                </div>
            </nuxt-link>

            <nuxt-link :to="`/cd/${$route.params.slug}/templates`" class="oc-sidebar-item">
                <div>
                    <span class="oc-sidebar-icon">
                        <book-open-icon></book-open-icon>
                    </span>
                    <span class="ml-3 oc-m-hide">Templates</span>
                </div>
            </nuxt-link>
        </div>
    </div>
</template>

<script>
import { BookOpenIcon, BarChartIcon, UsersIcon, HomeIcon } from 'vue-feather-icons';

export default {
    components: {
        BookOpenIcon,
        BarChartIcon,
        UsersIcon,
        HomeIcon
    }
}
</script>