<template>
	<div class="top-sidebar">
		<div class="oc-sidebar-nav">
			<nuxt-link to="/user" class="oc-sidebar-item" :exact="true">
				<div>
					<span class="oc-sidebar-icon">
						<home-icon></home-icon>
					</span>
					<span class="ml-3 oc-m-hide">Dashboard</span>
				</div>
			</nuxt-link>
		</div>

<!--		<div class="oc-sidebar-nav">-->
<!--			<nuxt-link to="/od/products" class="oc-sidebar-item">-->
<!--				<div>-->
<!--					<span class="oc-sidebar-icon">-->
<!--						<book-open-icon></book-open-icon>-->
<!--					</span>-->
<!--					<span class="ml-3 oc-m-hide">Products </span>-->
<!--				</div>-->
<!--			</nuxt-link>-->
<!--		</div>-->
	</div>
</template>

<script>
import { BookOpenIcon, HomeIcon } from 'vue-feather-icons';

export default {
	components: {
		BookOpenIcon,
		HomeIcon
	}
}
</script>
