<template>
  <CSidebar
    :minimize="minimize"
    unfoldable
    :show.sync="show"
  >
    <CSidebarBrand
      :imgFull="{ width: 118, height: 46, alt: 'Logo', src: '/img/brand/coreui-base-white.svg'}"
      :imgMinimized="{ width: 118, height: 46, alt: 'Logo', src: '/img/brand/coreui-signet-white.svg'}"
      :wrappedInLink="{ href: 'http://app.ownerschat.com/', target: '_blank'}"
    />
    <!-- <CSidebarHeader/> -->
    <!-- <CSidebarForm/> -->
    <!-- {{nav}} -->
    <div v-if="userType=='owner'">
    <CRenderFunction flat :contentToRender="owner"/>
    </div>
    <div v-else-if="userType=='admin'">

    <CRenderFunction flat :contentToRender="nav"/>
    </div>
    <div v-else-if="userType=='business_admin'">
  <CRenderFunction flat :contentToRender="business_admin"/>
    </div>
    <div v-else-if="userType=='business_user'">
  <CRenderFunction flat :contentToRender="business_user"/>
    </div>

    <!-- <CSidebarFooter/> -->
    <CSidebarMinimizer
      class="c-d-md-down-none"
      @click.native="minimize = !minimize"
    />
  </CSidebar>
</template>

<script>
import nav from './_nav'
import owner from './_owner';
import business_admin from './_business_admin';
import business_user from './_business_user';
export default {
  name: 'TheSidebar',
  data () {
    return {
      minimize: false,
      nav,
      owner,
      business_admin,
      business_user,
      show: 'responsive',
      userType:'owner'
    }
  },
  mounted () {
    let type=JSON.parse(localStorage.getItem('userDetail')).type;
   this.userType=type;
  //  this.nav[0]._children.filter(item=>{
  //    if(this.userType=='user'){
  //      return item.name=='Dashboard';
  //    }
  //  });
//  let data= this.nav[0]._children.filter(item=>{
//     // console.log(item);


//   });
  // console.log(JSON.stringify(data));

    this.$root.$on('toggle-sidebar', () => {
      const sidebarOpened = this.show === true || this.show === 'responsive'
      this.show = sidebarOpened ? false : 'responsive'
    })
    this.$root.$on('toggle-sidebar-mobile', () => {
      const sidebarClosed = this.show === 'responsive' || this.show === false
      this.show = sidebarClosed ? true : 'responsive'
    })
  }
}
</script>
