<template>
<CRow>
    <div class="vld-parent">
      <loading :active.sync="isLoading"></loading>
    </div>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CIcon name="cil-grid"/> <span style="color: #231698">{{product_type_name}}</span>
        </CCardHeader>
        <CCardBody>
          <automative ref="automotive" :productType="selectedProduct.id" v-if="selectedProduct.slug=='automotive'"></automative>
          <homeimprovement ref="home_improvements" :productType="selectedProduct.id" v-if="selectedProduct.slug=='home-improvements'"></homeimprovement>
          <insurance ref="insurance_finance" :productType="selectedProduct.id" v-if="selectedProduct.slug=='insurance-finance'"></insurance>
          <kids ref="kids" :productType="selectedProduct.id" v-if="selectedProduct.slug=='kids'"></kids>
          <computer :productType="selectedProduct.id" ref="computers_electronics" v-if="selectedProduct.slug=='computers-electronics'"></computer>
          <healthcare :productType="selectedProduct.id" ref="healthcare" v-if="selectedProduct.slug=='healthcare'"></healthcare>
          <realestate :productType="selectedProduct.id" ref="homes_real_estate" v-if="selectedProduct.slug=='homes-real-estate'"></realestate>
          <localBusiness :productType="selectedProduct.id" ref="local_business" v-if="selectedProduct.slug=='local-business'"></localBusiness>
          <fitness  :productType="selectedProduct.id" ref="fitness" v-if="selectedProduct.slug=='fitness'"></fitness>
      </CCardBody>
      <CCardFooter>
         <CButton @click="saveProduct()" type="submit" size="sm" color="primary">Add product</CButton>
       </CCardFooter>
      </CCard>
    </CCol>
  </CRow>
  </template>
<script>
import Loading from 'vue-loading-overlay';
  // Import stylesheet
  import 'vue-loading-overlay/dist/vue-loading.css';
  import automative from '../product/forms/product_automotive';
  import homeimprovement from '../product/forms/product_home_improvement';
  import insurance from '../product/forms/product_insurance_finance';
  import kids from '../product/forms/product_kids';
  import computer from '../product/forms/product_computers_electronics';
  import healthcare from '../product/forms/product_healthcare';
  import realestate from '../product/forms/product_homes_realestate';
  import localBusiness from '../product/forms/product_local_business';
  import fitness from '../product/forms/product_fitness';
export default {
    components: {
      Loading,
      automative,
      homeimprovement,
      insurance,
      kids,
      computer,
      healthcare,
      realestate,
      localBusiness,
      fitness
    },
    data() {
      return {
        isLoading: false,
        fullPage: true,
        selectedProduct:[],
        product_type_fields: [],
        categoriesOptions:[],


        errors: [],
        success: [],
        slug:'',

        temp_token: null,
        token:localStorage.getItem('token'),
        company_id:'',
        companies:[],
        selectedCompany:[],
        steps:false,
        product:{
            category_id:''
        },
        product_type_name: null,
      };
    },
    created() {
      this.getProductType();
          this.company_id=localStorage.getItem('company_id');
          this.companies=JSON.parse(localStorage.getItem('userDetail')).company;
          this.selectedCompany=this.companies.filter(company=>{
              return company.id==this.company_id
    })
     this.verify_company()
    },
    methods:{
       async saveProduct(){
    //  alert('yes');
    var formref=this.selectedProduct.slug;
    if(formref=='healthcare'){
    let checksubmisstion= await  this.$refs.healthcare.submit()
               if(checksubmisstion){
      this.$alertify.success('Product added successfully');
          this.$router.push('/products/'+this.selectedProduct.slug);
          return true;
     }else{
       return false;
     }
    }else if (formref=='homes-real-estate') {
    let checksubmisstion= await this.$refs.homes_real_estate.submit()
      if(checksubmisstion){
   this.$alertify.success('Product added successfully');
          this.$router.push('/products/'+this.selectedProduct.slug);
          return true;
     }else{
       return false;
     }
    }else if (formref=='local-business') {
    let checksubmisstion=  await this.$refs.local_business.submit()
        if(checksubmisstion){
   this.$alertify.success('Product added successfully');
          this.$router.push('/products/'+this.selectedProduct.slug);
          return true;
     }else{
       return false;
     }
    }else if (formref=='fitness') {
    let checksubmisstion=await  this.$refs.fitness.submit()
       if(checksubmisstion){
   this.$alertify.success('Product added successfully');
          this.$router.push('/products/'+this.selectedProduct.slug);
          return true;
     }else{
       return false;
     }
    }else if (formref=='computers-electronics') {
    let checksubmisstion= await  this.$refs.computers_electronics.submit()
      if(checksubmisstion){
   this.$alertify.success('Product added successfully');
          this.$router.push('/products/'+this.selectedProduct.slug);
          return true;
     }else{
       return false;
     }
    }else if (formref=='kids') {
    let checksubmisstion=  await this.$refs.kids.submit()
     if(checksubmisstion){
   this.$alertify.success('Product added successfully');
          this.$router.push('/products/'+this.selectedProduct.slug);
          return true;
     }else{
       return false;
     }
    }else if (formref=='insurance-finance') {
     let checksubmisstion= await this.$refs.insurance_finance.submit()
     if(checksubmisstion){
   this.$alertify.success('Product added successfully');
          this.$router.push('/products/'+this.selectedProduct.slug);
          return true;
     }else{
       return false;
     }

    }else if (formref=='automotive') {

   let checksubmisstion=  await this.$refs.automotive.submit()
       if(checksubmisstion){
   this.$alertify.success('Product added successfully');
          this.$router.push('/products/'+this.selectedProduct.slug);
          return true;
     }else{
       return false;
     }
    }else if (formref=='home-improvements') {
  let checksubmisstion= await  this.$refs.home_improvements.submit()
      if(checksubmisstion){
   this.$alertify.success('Product added successfully');
          this.$router.push('/products/'+this.selectedProduct.slug);
          return true;
     }else{
       return false;
     }
    }

    },
      getProductType(){
       this.slug=this.$route.params.slug;
       this.$http.get('verify-product-type/'+this.slug).then(res=>{
           this.selectedProduct=res.data.data;
            this.product_type_name = res.data.data.title;
       }).catch(error=>{

       })
      },
            verify_company(){
        this.$http.get('verify-company/' + this.selectedCompany[0].slug)
          .then(response => {
            // if(response.data.error){
            //   this.$router.push(this.$route.query.redirect || '/login')
            // }
            // this.form.company_id = response.data.data.company.id;
            this.categoriesOptions = response.data.data.company_product_type.map(
              item => ({
                value: item.product_type_id,
                text: item.product_type_title,
              })
            );
           this.product_type_fields=   response.data.data.company_product_type_fields;
            this.product.category_id = response.data.data.company_product_type[0].product_type_id;
            this.product_type_fields =  response.data.data.company_product_type_fields;

            let index = this.product_type_fields.findIndex( record => record.slug === "product_name" );
                //   alert(index);
             let check = this.product_type_fields.findIndex( record => record.field_level === "optional" );


            if(check!=-1){
            //  delete this.product_type_fields[index];
            this.product_type_fields.splice(index, 1);
            }
             //let slugarray=[];
            let slug={};
           response.data.data.company_product_type_fields.forEach(function(element){

             slug[element.slug] = ''

            });

           this.productkey=slug;

          })
          .catch(error => {
            // this.$router.push(this.$route.query.redirect || '/login')
            this.errors = '';
          })
      },
   submitProduct(){
        this.isLoading = true;
      // alert('yes');
        // console.log(JSON.stringify(mandatoryFields));
           let index = this.product_type_fields.findIndex( record => record.slug === "product_name" );
          //  alert(index);
        let createMandatoryArray={};
        let optional=[];
        this.product_type_fields.forEach(element=>{
          if(element.field_level=='mandatory' && index!=-1){
              createMandatoryArray[element.slug]=element.temp_value;
              }else if(element.field_level=='mandatory' && element.slug=='bought_at' && index==-1){
                     createMandatoryArray[element.slug]=element.temp_value;
              }else{
                optional.push(element);
              }
        });
       let user_id= JSON.parse(localStorage.getItem('userDetail')).id;
      if(index==-1){
        let title='';
         this.product_type_fields.forEach(element=>{

            if(element.use_for_title_generation=='yes'){
              title+= element.temp_value?element.temp_value+ ' ':' ';
            }
         });
           createMandatoryArray['product_name']= title;
           }
        //  alert(title);
        createMandatoryArray['company_id']= this.selectedCompany[0].id;

        createMandatoryArray['user_id']= user_id;

        createMandatoryArray['optional']=optional;
           this.product_type_fields.forEach(element=>{
             if(element.slug!='product_name' || element.slug!='bought_at'){
              createMandatoryArray[element.slug]=element.temp_value;
              }
           });

    this.$http.post('products/add-product',createMandatoryArray)
         .then(response => {
            this.isLoading = false;

              this.$alertify.success('Product  added successfully');

            this.errors = [];
           this.$router.push('/products');
          })
          .catch(error => {
            this.isLoading = false;
            console.log(error.response.data.errors);
            this.errors = error.response.data.errors;
            this.steps = false;
          })
        if(this.steps)
        {
          return true;
        }
        else
        {
          return false;
        }
     },


    }
}
</script>
