<template>
  <div class="some">
    <!--<div class="vld-parent">

      &lt;!&ndash;<label><input type="checkbox" v-model="fullPage">Full page?</label>&ndash;&gt;
    </div>-->
    <CRow>
      <CCol sm="12">

        <CCard>
          <CCardHeader>
            <CIcon name="cil-grid"/> Owners
          </CCardHeader>
          <CCardBody>
            <loading :active.sync="isLoading"
                     :loader="dots">
            </loading>
            <CDataTable
              :items="usersData"
              :fields="fields"

              table-filter
              items-per-page-select
              :items-per-page="5"
              hover
              sorter
              pagination
            >
              <template #status="{item}">
                <td>
                  <CBadge :color="getBadge(item.status)">
                    {{item.status}}
                  </CBadge>
                </td>
              </template>
              <template #show_details="{item, index}">
                <td class="py-2">
                <!--  <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="toggleDetails(index)"
                  >
                    {{details.includes(index) ? 'Hide' : 'Show'}}
                  </CButton>-->
                </td>
              </template>
              <template #actions="{item, index}">
                <td class="py-2">
                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="updateStatus(item.status, item.id)"
                  >
                    {{item.status== 'not_activated' ? 'Enable' : 'Disable'}}
                  </CButton>
                </td>
              </template>

              <template #details="{item, index}">
                <CCollapse :show="details.includes(index)">
                  <CCardBody>
                    {{index + 1}} - {{item}}
                  </CCardBody>
                </CCollapse>
              </template>
            </CDataTable>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
// import usersData from '../users/UsersData'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
const fields = [
  { key: 'username', _style:'width:40%' },
  'registered',
  { key: 'role', _style:'width:20%;' },
  { key: 'status', _style:'width:20%;' },
  {
    key: 'show_details',
    label: '',
    _style: 'width:1%',
    sorter: false,
    filter: false
  }
]
export default {
  name: 'Owners',
  components: {
    Loading
  },
  data () {
    return {
      isLoading: false,
      fullPage: true,
      usersData:[],
      fields:[{key:'first_name'},{key:'last_name'},{key:'email'},{key:'business_name'},{key:'created_at'},{key:'status'},{key:'actions'}],
      details: [],
    }
  },
  created(){
      this.getOwners();
  },
  methods: {

    getOwners(){
      this.isLoading = true;
      this.$http.get('user-module/get-user').then(response=>{
        this.isLoading = false;
        this.usersData=response.data.data.map(item=>({
          id:item.id,
          first_name:item.first_name,
          last_name:item.last_name,
          email:item.email,
          business_name:item.business_name,
          status:item.status,
          created_at:item.created_at,
        }));
      }).catch(error=>{
        this.isLoading = false;
      })
    },

    updateStatus(status, id){

      if(status=='activated'){
        var c_status = 'not_activated'
      }else{
        var c_status = 'activated'
      }
      //alert(id);
      this.isLoading = true;
      this.$http.post('/user-module/update-user-status', {status:c_status,id:id})
        .then(response => {
          this.isLoading = false;
          this.$alertify.success(response.data.message);
          this.getOwners();
        })
        .catch(error => {
          this.isLoading = false;
          this.error = null;
          this.errors =error.response.data.errors;
        })
    },


    getBadge (status) {
      return status === 'Active' ? 'success'
             : status === 'Inactive' ? 'secondary'
             : status === 'Pending' ? 'warning'
             : status === 'Banned' ? 'danger' : 'primary'
    },

    toggleDetails (index) {
      const position = this.details.indexOf(index)
      position !== -1 ? this.details.splice(position, 1) : this.details.push(index)
    }
  }
}
</script>
