// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
// If you are going to use dark layout please comment next line
@import "~@coreui/coreui-pro/scss/coreui";

@import '~pretty-checkbox/src/pretty-checkbox.scss';

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Import styles with dark layout
// If you want to use dark layout uncomment next line
//@import "~@coreui/coreui-pro/scss/themes/dark/coreui-dark";

// If you want to add something do it here
@import "custom";

.card-header > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
.textonwer-title {
  font-size: 21px !important;
  font-weight: bold;
}
.radio-toolbar label{
  padding: 5px !important;
  font-size: 14px !important;
}
.radio-toolbar-gender label{
  padding: 5px !important;
  font-size: 14px !important;
}
//
img {
  max-width: 100%;
  height: auto;
}

.container-fluid{
  background-color: transparent !important;
}

.select_category{
  padding-top: 50px;
}
.select_category .select-inner{
  text-align: center;
}
// sidebar override style
.vs-sidebar {
  top: auto !important;
  max-width: 200px !important;
}

.vs-sidebar--items {
  padding: 0px 0 10px !important;
}

.vs-sidebar-primary {
  .vs-sidebar--item a:hover {
    background: #0093d5;
    color: #fff !important;
  }
  .vs-sidebar-item-active a {
    //  background: hsla(199, 100%, 42%, 0.2);
    background: #0093d5;
    color: #fff !important;
  }
}

// dropdown override
.con-vs-dropdown--menu {
  min-width: 150px;
}
/*Radio*/
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  margin: 3px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
}
.radio-toolbar input[type="radio"]:focus + label {
  border: 2px solid #e74c3c;
}
.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar-gender input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar-gender label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  margin: 3px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.radio-toolbar-gender input[type="radio"]:checked + label {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
}
.radio-toolbar-gender input[type="radio"]:focus + label {
  border: 2px solid #e74c3c;
}
.radio-toolbar-gender label:hover {
  background-color: #dfd;
}


.vue-form-wizard.md {
  @media screen and (max-width: 600px) {
    .wizard-icon-circle {
      width: 40px !important;
      height: 40px !important;
      font-size: 15px !important;
    }
    .stepTitle {
      display: none;
      &.active {
        display: block !important;
        position: absolute;
        font-size: 9px;
        bottom: -15px;
        line-height: 1;
        padding: 0 10px;
        width: 150px;
      }
    }
    .wizard-nav-pills>li.active>a .wizard-icon {
      font-size: 15px !important;
    }
    .wizard-navigation .wizard-progress-with-circle {
      top: 25px !important;
    }
    .textonwer-title {
      font-size: 18px !important;
    }
    .from_first_step label {
      display: none !important;
    }
  }
}

// tabs style
.vs-tabs {
  .ul-tabs {
    margin: 0 !important;
    button {
      outline: none;
      &:active {
        outline: none !important;
      }
    }
  }
}
