<template>
  <CRow>
    <div class="vld-parent">
      <loading :active.sync="isLoading"
               :is-full-page="fullPage"
               :loader="dots">
      </loading>
      <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
    </div>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CIcon name="cil-grid"/> Buyers


        </CCardHeader>
        <CCardBody>
          <CDataTable
            :items="usersData"
            :fields="fields"

            table-filter
            items-per-page-select
            :items-per-page="5"
            hover
            sorter
            pagination
          >
            <template #status="{item}">
              <td>
                <CBadge :color="getBadge(item.status)">
                  {{item.status}}
                </CBadge>
              </td>
            </template>
            <template #show_details="{item, index}">
              <td class="py-2">
                <CButton
                  color="primary"
                  variant="outline"
                  square
                  size="sm"
                  @click="toggleDetails(index)"
                >
                  {{details.includes(index) ? 'Hide' : 'Show'}}
                </CButton>
              </td>
            </template>
            <template #details="{item, index}">
              <CCollapse :show="details.includes(index)">
                <CCardBody>
                  {{index + 1}} - {{item}}
                </CCardBody>
              </CCollapse>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
// import usersData from '../users/UsersData'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

const fields = [
  { key: 'username', _style:'width:40%' },
  'registered',
  { key: 'role', _style:'width:20%;' },
  { key: 'status', _style:'width:20%;' },
  {
    key: 'show_details',
    label: '',
    _style: 'width:1%',
    sorter: false,
    filter: false
  }
]

export default {
  name: 'Buyres',
  components: {
    Loading,
  },
  data () {
    return {
      isLoading: false,
      fullPage: true,
      usersData:[],
      fields:[{key:'buyer_first_name'},{key:'buyer_last_name'},{key:'cell_phone'},{key:'created_at'}],
      details: [],
    }
  },
  created(){
   this.isLoading = true;
   this.$http.get('/buyer-module/buyers').then(response=>{
     this.isLoading = false;
     this.usersData=response.data.data.data.map(item=>({
         buyer_first_name:item.buyer_first_name,
         buyer_last_name:item.buyer_last_name,
         cell_phone:item.cell_phone,
         created_at:item.created_at
     }))
   }).catch(error=>{
     this.isLoading = false;
   })
  },
  methods: {
    getBadge (status) {
      return status === 'Active' ? 'success'
             : status === 'Inactive' ? 'secondary'
             : status === 'Pending' ? 'warning'
             : status === 'Banned' ? 'danger' : 'primary'
    },

    toggleDetails (index) {
      const position = this.details.indexOf(index)
      position !== -1 ? this.details.splice(position, 1) : this.details.push(index)
    }
  }
}
</script>
