<template>
  <div class="section">
    <div class="container px-4 mx-auto">

      <h1 class="font-bold text-3xl mb-5"> {{survey?survey.title:''}}</h1>
      <div class="flex justify-end mb-5 items-center">

      </div>
      <div class="oc-card oc-card-default rounded-xl">
        <div class="oc-card-body p-0">

          <table class="oc-table oc-table-striped no-border rounded-xl">
            <thead>
            <tr>
              <th>Question</th>
              <th>Rating</th>
            </tr>
            </thead>
            <tbody v-if="item?item.length==0:0"  >
            <tr class="text-center">
              <td colspan="6">No owners.</td>
            </tr>
            </tbody>

            <tbody v-if="item?item.length>0:0" >
            <tr v-for="(survey,index) in item" :key="survey.id">
              <td>{{ survey.question }}</td>
              <td>{{survey.answer}}</td>


            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data(){
    return {
      user_id:null,
      survey_id:null,
      item:[],
      survey:null
    }
  },
  created() {
    this.$axios.get('api/v1/survey/result/'+this.$route.params.user+'/'+this.$route.params.slug)
    .then(res=>{
      this.survey=res.data.data[0];
      this.item=res.data.data;
    })
    .catch(error=>{

    })

  }
}
</script>
