<template>
    <div class="section">
        <div class="container px-4 mx-auto">
            <h1 class="font-bold text-3xl mb-5">Campaigns</h1>

            <div class="flex justify-end mb-5 items-center">
                <nuxt-link :to="`/cd/${companySlug}/campaigns/create`" class="oc-btn oc-btn-primary rounded">
                    Create Campaign
                </nuxt-link>
            </div>

            <div class="oc-card oc-card-default rounded-xl">
                <div class="oc-card-body p-0">
                    <table class="oc-table oc-table-striped no-border rounded-xl">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody >
                            <tr >
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                        <button type="button">
                                            <more-vertical-icon></more-vertical-icon>
                                        </button>
                                        <div uk-dropdown="mode: click">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                <!-- <li>
                                                    <nuxt-link :to="`${$route.fullPath}/${campaign.id}/edit`">Edit</nuxt-link>
                                                </li> -->
                                                <li>
                                                    <a href="#" class="text-red-500">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                </td>
                            </tr>
                        </tbody>


                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { MoreVerticalIcon } from 'vue-feather-icons';

export default {
    props: ['company-slug'],
    components: {
        MoreVerticalIcon
    },
    data() {
        return {
            // campaigns:[]
        }
    },
    mounted() {
        // this.$axios.get(`/api/v1/companies/${this.companySlug}/campaigns`).then(res => {
        //     this.campaigns = res.data;
        })
    }
}
</script>
