<template>
  <div>
    <section class="section py-4">
      <div class="container px-4 mx-auto">
        <h2 class="mb-4 text-2xl">Select a product type</h2>

        <div class="oc-grid">
          <div v-for="type in product_types" :key="type.id" class="w-full md:w-1/3">
            <nuxt-link :to="`/sad/products/${type.slug}`" class="oc-card block oc-display-block oc-text-center oc-card-default oc-card-body oc-margin-bottom">
              <h2>{{type.title}}</h2>
            </nuxt-link>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    layout:'dashboard',
    data() {
      return {
        product_types: []
      }
    },
    created() {
       this.$axios.get('/api/v1/published-product-types').then(res => {

          this.product_types= res.data.data

      }).catch(err => {

      })
    },

  }
</script>
