<template>
<!--    <div class="oc-navbar bg-gray-200">-->
<!--        <div class="w-full mx-auto">-->
<!--            <div class="flex items-center justify-between py-4">-->
<!--                <div class="oc-navbar-item">-->
<!--                    <nuxt-link to="/" class="text-black font-bold text-xl">-->
<!--                        <img src="/img/logo.png" alt="Owner Chat Logo" width="200">-->
<!--                    </nuxt-link>-->
<!--                </div>-->

<!--&lt;!&ndash;                <div class="sm:flex sm:items-center">&ndash;&gt;-->
<!--                    <div class="oc-navbar" v-if="!$auth.user">-->
<!--                        <nuxt-link to="/register" class="text-sm text-gray-700 font-semibold hover:text-purple-600 mr-4">Create an Account</nuxt-link>-->
<!--                        <nuxt-link to="/login" class="text-sm mr-4">Login</nuxt-link>-->
<!--                    </div>-->

<!--                    <div class="oc-navbar-item" v-if="$auth.user">-->
<!--                        <a href="#" class="flex items-center text-sm font-semibold">-->
<!--                            <div class="">-->
<!--                                <span>-->
<!--                                    {{$auth.user.name }}-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                        <div uk-dropdown="mode:click;">-->
<!--                            <ul class="uk-nav uk-navbar-dropdown-nav striped">-->

<!--                              <li v-if="$auth.user.type == 'user'">-->
<!--                                <nuxt-link to="/user">Dashboard</nuxt-link>-->
<!--                              </li>-->
<!--                              <li v-if="$auth.user.type == 'admin'">-->
<!--                                <nuxt-link to="/sad">Dashboard</nuxt-link>-->
<!--                              </li>-->

<!--                                <li>-->
<!--                                    <a href="#" @click.prevent="$store.dispatch('auth/logout')">-->
<!--                                        Log Out-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
  <nav id="header" class="gradient leading-relaxed tracking-wide flex flex-col w-full z-30 top-0 text-white py-1 lg:py-6">
    <div
      class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-2 lg:py-6"
    >
      <div class="pl-4 flex items-center">
        <nuxt-link
          class="text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
          to="/home"
        >
          <svg
            class="h-6 w-6 inline-block fill-current text-orange-700"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path d="M13 8V0L8.11 5.87 3 12h4v8L17 8h-4z" />
          </svg>
          Survey App
        </nuxt-link>
      </div>

      <div class="block lg:hidden pr-4">
        <button
          id="nav-toggle"
          class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800 hover:border-teal-500 appearance-none focus:outline-none"
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>

      <div
        class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 text-black p-4 lg:p-0 z-20"
        id="nav-content"
      >
        <ul v-if="!$auth.user" class="list-reset lg:flex justify-end flex-1 items-center">
          <li class="mr-3">
            <nuxt-link
              class="inline-block py-2 px-4 text-black font-bold no-underline"
              to="/home"
            >Home</nuxt-link
            >
          </li>

        </ul>
        <ul v-if="$auth.user" class="list-reset lg:flex justify-end flex-1 items-center">
          <li class="mr-3">
            <nuxt-link
              class="inline-block py-2 px-4 text-black font-bold no-underline"
              to="/home"
            >Home</nuxt-link
            >
          </li>

          <li class="mr-3">
            <nuxt-link v-if="$auth.user.type == 'user'"
              class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
              to="/user"
            >Dashboard</nuxt-link
            >
          </li>
          <li class="mr-3">
            <nuxt-link v-if="$auth.user.type == 'admin'"
                       class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
                       to="/dashboard"
            >Dashboard</nuxt-link
            >
          </li>
        </ul>
        <button v-if="!$auth.user" @click="login"
                id="navAction"
                class="mx-auto lg:mx-0 hover:underline text-gray-800 font-extrabold rounded mt-4 lg:mt-0 py-4 px-8 shadow opacity-75"
        >
          Login
        </button>
        <button v-if="$auth.user" @click.prevent="$store.dispatch('auth/logout')"
                id="navAction"
                class="mx-auto lg:mx-0 hover:underline text-gray-800 font-extrabold rounded mt-4 lg:mt-0 py-4 px-8 shadow opacity-75"
        >
          logout
        </button>
      </div>
    </div>
  </nav>

</template>

<script>
export default {
 methods:{
   login(){
     $nuxt.$router.push('/login');
   }
 }
}
</script>
