<template>
    <div class="section">
        <div class="container px-4 mx-auto">
            <h1 class="font-bold text-3xl mb-5">Templates</h1>

            <div class="flex justify-between mb-5 items-center">
                <ul class="template-type-list">
                    <li>
                        <button @click="changeType('email')" :class="type == 'email' ? 'active' :''">Email</button>
                    </li>
                    <li>
                        <button @click="changeType('sms')" :class="type == 'sms' ? 'active' :''">SMS</button>
                    </li>
                    <li>
                        <button @click="changeType('voice')" :class="type == 'voice' ? 'active' :''">Voice</button>
                    </li>
                </ul>
                <nuxt-link :to="`/cd/${companySlug}/templates/create`" class="oc-btn oc-btn-primary rounded">
                    Create Template
                </nuxt-link>
            </div>

            <div class="oc-card oc-card-default rounded-xl">
                <div class="oc-card-body p-0">
                    <table class="oc-table oc-table-striped no-border rounded-xl">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody v-if="templates.length">
                            <tr v-for="template in templates" :key="template.id">
                                <td>{{template.name}}</td>
                                <td>
                                    <button type="button">
                                        <more-vertical-icon></more-vertical-icon>
                                    </button>
                                    <div uk-dropdown="mode: click">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li>
                                                <nuxt-link :to="$ocTo('templates.edit', {slug: $route.params.slug, tp_id: template.id})">Edit</nuxt-link>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <tbody v-else>
                            <tr class="text-center">
                                <td colspan="3">No Template Categories</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { MoreVerticalIcon } from 'vue-feather-icons';

export default {
    props: ['company-slug'],
    components: {
        MoreVerticalIcon
    },
    data() {
        return {
            templates: [],
            type: 'email',
        }
    },
    mounted() {
        this.getTemplates(this.type);
    },
    methods: {
        changeType(type) {
            if(this.type != type) {
                this.getTemplates(type);
            }
            this.type = type;
        },
        getTemplates(type) {
            let url = `/api/v1/companies/${this.companySlug}/templates?type=${type}`
            this.$axios.get(url).then(res => {
                this.templates = res.data.data;
            }).catch(err => {

            })
        }
    },
}
</script>

<style lang="postcss" scoped>
    .template-type-list {
        @apply flex;
    }

    .template-type-list li:not(:last-child) {
        @apply mr-3;
    }

    .template-type-list li button {
        @apply text-gray-500 font-bold;
    }

    .template-type-list li button:hover {
        @apply text-gray-700;
    }

    .template-type-list li button.active {
        @apply text-gray-700;
    }
</style>

<router>
    { name: 'templates.index' }
</router>