<template>
  <div>
    <!--<CContainer class="d-flex align-items-center">

    </CContainer>-->

    <b-container class="head-main" fluid>
      <CContainer>
        <CRow class="w-100 head">
          <CCol class="logo" sm="6" md="6">
            <h2>ownerschat.com</h2>
          </CCol>
          <CCol  class="" sm="6" md="6">
            <div class="main_login">
              <router-link :to="'/login'">Login</router-link>  |<router-link :to="'/owners-signup'">Register</router-link>
            </div>
          </CCol>
        </CRow>
      </CContainer>
    </b-container>
    <CContainer class="d-flex align-items-center">
      <div class="vld-parent">
        <loading :active.sync="isLoading"></loading>
      </div>
      <CRow class="w-100 select_category">
        <CCol  class="select-inner-h" sm="12" md="12">
          <h2>Select a product type you wish to buy</h2>
        </CCol>
        <CCol v-for="type in productType" :key="type.id"  class="select-inner" sm="6" md="4">
          <CCard>
            <CCardBody>
              <router-link :to="{name: 'Visitor', params: {slug: type.slug}}">{{type.title}}</router-link>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>

    <b-container class="foot-main" fluid>
      <CContainer>
        <CRow class="w-100 foot">
          <CCol class="footer_left" sm="6" md="6">
            <h2>Register to become an owner to and get rewards for chatting.</h2>
          </CCol>
          <CCol  class="" sm="6" md="6">
            <div class="how_it_works">
              <h2>How it works</h2>
              <a>Consumers</a>  |<a style="padding-left: 5px">Business</a>
            </div>
          </CCol>
        </CRow>
      </CContainer>
    </b-container>
  </div>
</template>

<script>
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  export default {
    name: "TestComponent",
    components: {
      Loading
    },
    data() {
      return {
        errors: [],
        productType: null,
        isLoading: false,
      };
    },
    created(){
      this.getProductTypes();
    },
    methods:{
      getProductTypes(){
        this.isLoading = true;
        this.$http.get('/published-product-types')
          .then(response=>{
            this.isLoading = false;
            this.productType = response.data.data;
          }).
        catch(error=>{
          this.isLoading = false;
        })
      },
    }

  }
</script>
<style scoped>
  .invalid-feedback{
    display: block;
  }
  .select-inner-h{
    padding: 20px 15px;
  }
  .head{
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .how_it_works{
    float: right;
  }
  .foot{
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .foot h2{
    font-size: 16px;
  }
  .select-inner-h h2{
    font-size: 20px;
  }
  .main_login{
    float: right;
  }
  .main_login a{
    padding-left: 4px;
  }
  .head-main{
    border-bottom: 2px solid;
  }
  .foot-main{
    border-top: 2px solid;
  }
  .foot-main{
    margin-top: 200px;
  }

  @media only screen and (max-width:768px) {
    .logo h2{
      font-size: 16px;
    }
  }
  @media only screen and (max-width:568px) {
    .main_login{
      position: relative;
      top: -28px;
      left: 12px;
    }
  }
</style>
