<template>
  <CContainer class="d-flex align-items-center min-vh-100">
    <div class="vld-parent">
      <loading :active.sync="isLoading"
               :is-full-page="fullPage">
      </loading>
      <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
    </div>
    <CRow class="justify-content-center">
      <CCol md="8">
        <CCardGroup>
          <CCard class="p-4">
            <CCardBody>
              <CForm>
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <CInput
                  placeholder="Username"
                  v-model="email"
                  autocomplete="username email"
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <b-form-invalid-feedback v-if="errors.email" id="input-live-feedback">
                  {{errors.email[0]}}
                </b-form-invalid-feedback>
                <CInput
                  placeholder="Password"
                  type="password"
                  v-model="password"
                  autocomplete="curent-password"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <b-form-invalid-feedback v-if="errors.password" id="input-live-feedback">
                  {{errors.password[0]}}
                </b-form-invalid-feedback>
                <b-form-invalid-feedback v-if="error" id="input-live-feedback">
                  {{error}}
                </b-form-invalid-feedback>
                <CRow>
                  <CCol col="6">
                    <CButton color="primary"  @click="login" class="px-4">Login</CButton>
                  </CCol>
                  <CCol col="6" class="text-right">
                    <CButton color="link" class="px-0">Forgot password?</CButton>
                  </CCol>
                </CRow>
              </CForm>
            </CCardBody>
          </CCard>
          <CCard
            color="primary"
            text-color="white"
            class="text-center py-5 d-md-down-none"
            style="width:44%"
            body-wrapper
          >
            <h2>OwnersChat</h2>
            <p>If you have a product you want to sell, sign up with ownerschat, we aim to connect you with potential buyers.
            </p>
            <router-link
              color="primary"
              class="active mt-3 login_color"
              :to="'/owners-signup'"
            >
              Register Now!
            </router-link>
            <router-link
              style="margin-left: 3px"
              color="primary"
              class="active mt-3 login_color"
              :to="'/home'"
            >
             Home
            </router-link>
          </CCard>
        </CCardGroup>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  export default {
    name: "Login",
    components: {
      Loading
    },
    data() {
      return {
        isLoading: false,
        fullPage: true,
        email:'',
        password:'',
        errors:[],
        error: null,
      };
    },
    created(){
        //  alert(this.$route.params.slug);
localStorage.removeItem('token');
    },
    methods:{
      login(e){
        e.preventDefault();
        /*if(this.$route.params.slug){

        }else{

        }*/
        var c_slug =  this.$route.params.slug;
        this.isLoading = true;
        this.$http.post('login', {email:this.email,password:this.password, slug: c_slug})
          .then(response => {
            this.isLoading = false;
            localStorage.setItem('token','Bearer ' +response.data.data.token);
                          localStorage.setItem('userDetail',JSON.stringify(response.data.data.user));
            this.$router.push('/dashboard');
        //  alert('yes');
            // alert(this.$route.params.slug);
  //           if(this.$route.params.slug){
  //                if(response.data.data.user.type=="owner"){
  //
  //
  //                  localStorage.setItem('token','Bearer ' +response.data.data.token);
  //                  localStorage.setItem('userDetail',JSON.stringify(response.data.data.user));
  //                 //  localStorage.setItem('companies',JSON.stringify(response.data.data.user.company));
  //
  //                 //  localStorage.setItem('company_id',response.data.data.user.company[0].id);
  //                let checkIndex=response.data.data.user.company.findIndex( record => record.slug === this.$route.params.slug );
  //
  //                 if(checkIndex!=-1){
  //                   // alert('yes');
  //                   localStorage.setItem('company_id',JSON.stringify(response.data.data.user.company[checkIndex].id));
  //                   // response.data.data.user.company[checkIndex].id
  //                   //  localStorage.setItem('company_id',loggedIn[0].id);
  //                     this.$router.push('/dashboard');
  //                 }else{
  //                   // alert('no');
  //                    localStorage.setItem('companies',JSON.stringify(response.data.data.user.company));
  //                       this.$alertify.error("Can't loggedIn to that commpany.Your are register with other companies");
  //                        this.$router.push('/select-company');
  //                 }
  //           } else if(response.data.data.user.type=="business_admin"){
  // let index=response.data.data.user.company.findIndex( record => record.slug === this.$route.params.slug );
  //          if(index!=-1){
  //               localStorage.setItem('token','Bearer ' +response.data.data.token);
  //          localStorage.setItem('userDetail',JSON.stringify(response.data.data.user));
  //           localStorage.setItem('company_id',JSON.stringify(response.data.data.user.company[index].id));
  //            this.$router.push('/dashboard');
  //            }else{
  //                this.$alertify.error("You are not belong to this company");
  //            }
  //          }else if(response.data.data.user.type=="business_user"){
  //             let index=response.data.data.user.company.findIndex( record => record.slug === this.$route.params.slug );
  //                  if(index!=-1){
  //                       localStorage.setItem('token','Bearer ' +response.data.data.token);
  //                       localStorage.setItem('userDetail',JSON.stringify(response.data.data.user));
  //                       localStorage.setItem('company_id',JSON.stringify(response.data.data.user.company[index].id));
  //                       this.$router.push('/dashboard');
  //                  }
  //                  else
  //                  {
  //                        this.$alertify.error("You are not belong to this company");
  //                  }
  //           }
  //           else if(response.data.data.user.type=="admin"){
  //                  localStorage.setItem('token','Bearer ' +response.data.data.token);
  //                  localStorage.setItem('userDetail',JSON.stringify(response.data.data.user));
  //                  localStorage.setItem('company_id',0);
  //                  this.$router.push('/dashboard');
  //           }
  //           }else{
  //           if(response.data.data.user.type=="owner"){
  //
  //      if(response.data.data.user.company.length==1){
  //                  localStorage.setItem('token','Bearer ' +response.data.data.token);
  //                  localStorage.setItem('userDetail',JSON.stringify(response.data.data.user));
  //                  localStorage.setItem('company_id',response.data.data.user.company[0].id);
  //                   this.$router.push('/dashboard');
  //         }else{
  //                  localStorage.setItem('token','Bearer ' +response.data.data.token);
  //                  localStorage.setItem('userDetail',JSON.stringify(response.data.data.user));
  //                  localStorage.setItem('companies',JSON.stringify(response.data.data.user.company));
  //                   this.$router.push('/select-company');
  //         }
  //           }else if(response.data.data.user.type=="admin"){
  //
  //                 localStorage.setItem('token','Bearer ' +response.data.data.token);
  //                 localStorage.setItem('userDetail',JSON.stringify(response.data.data.user));
  //                 localStorage.setItem('company_id',0);
  //                 this.$router.push('/dashboard');
  //           }else if (response.data.data.user.type=="business_admin") {
  //
  //
  //                    localStorage.setItem('token','Bearer ' +response.data.data.token);
  //                    localStorage.setItem('userDetail',JSON.stringify(response.data.data.user));
  //                    localStorage.setItem('company_id',response.data.data.user.company[0].id);
  //                    this.$router.push('/dashboard');
  //            }else if (response.data.data.user.type=="business_user") {
  //
  //
  //                  localStorage.setItem('token','Bearer ' +response.data.data.token);
  //                  localStorage.setItem('userDetail',JSON.stringify(response.data.data.user));
  //                  localStorage.setItem('company_id',response.data.data.user.company[0].id);
  //                  this.$router.push('/dashboard');
  //            }
  //            }
          })
          .catch(error => {
            this.isLoading = false;
            this.error = null;
            this.errors =error.response.data.errors;
            if(error.response.status==403){
              this.errors = '';
              this.error = 'Invalid credentials';
            }
          })
      }
    }
  }
</script>
<style scoped>
  .invalid-feedback{
    display: block;
  }
  .login_color{
    color: #fff;
    border: 1px solid #fff;
    padding: 6px;
  }

</style>
