<template>
  <div class="thank-you-main">
    <b-container class="head-main" style="padding-top: 160px" fluid>
      <CContainer  style="text-align: center">
        <CRow class="w-100 head">
          <CCol class="logo" sm="12" md="12">
            <h2>Thank you</h2>
          </CCol>
        </CRow>
      </CContainer>
      <CContainer style="text-align: center">
        <CRow class="w-100 head">
          <CCol  class="" sm="12" md="12">
            <div class="main_login">
              We are connecting you with a client now.  You will be receiving a text message from us in a few seconds.
            </div>
            <router-link :to="'home'">Home</router-link>
          </CCol>
        </CRow>
      </CContainer>
    </b-container>
  </div>
</template>
<script>

</script>
<style>

</style>
