<template>
  <div style="height: 100%">
    <div class="vld-parent">
      <loading :active.sync="isLoading">
      </loading>
      <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
    </div>
    <div style="" class="h-100 p-0 pt-sm-5 pb-sm-5 container-fluid centerx">
      <div style="background-color: #fff; max-width: 750px; margin: 0 auto;" class="container">
        <form-wizard @on-complete="onComplete">
          <h2 class="textonwer-title" slot="title">Please fill your personal info to start chat with a product owner.</h2>
           <tab-content :before-change="locationData" title="Owner info" icon="ti-location-arrow" >
            <b-row class="justify-content-md-center o_m_s">
                <div class="col-md-12 mb-5 mt-5 col-sm-12">
                    <b-form>
                    <label class="sr-only" for="inline-form-input-username">Search Products</label>
                        <b-input-group  class="mb-4 mr-sm-4 mb-sm-0">
                            <b-input id="inline-form-input-username" v-model="product.search_query" placeholder="Search products"></b-input>
                            <b-button type="submit" @click="searchProduct" variant="primary">Search</b-button>
                        </b-input-group>
                    </b-form>
                </div>
                <div class="m-4" >
                     <span  v-if="searchMatch>0">
                        {{product.search_query}} has {{searchMatch}} registered owners.
                    </span>

                    <span style="width:50%;margin:auto;" v-if="searchMatch==0">
                        No owners are currently registered.  Would you like us to find you an owner within the next 2-4 hours?. Please fill out form.
                    </span>
                </div>
            </b-row>



            <div class="location_from">

                <b-form class="from_first_step_stop" role="form"  enctype="multipart/form-data">

            <health-care :error="errors" @procedure="procedureValue" @bussiness="businessValue" v-if="category_slug=='healthcare'"></health-care>
            <homes-real-estate :error="errors" @type="propertyTypeValue" v-if="category_slug=='homes-real-estate'"></homes-real-estate>
            <local-business :error="errors" @service="serviceValue" v-if="category_slug=='local-business'"></local-business>
            <fitness :error="errors" @type="typeValue" @trainer="trainerValue" v-if="category_slug=='fitness'"></fitness>
            <computers-or-electronics :error="errors" @type="typeValue" @make="makeValue" @model="modelValue" v-if="category_slug=='computers-electronics'"></computers-or-electronics>
            <kids :error="errors" @type="typeValue" @age="ageValue" v-if="category_slug=='kids'"></kids>
            <insurance-or-finance :error="errors" @advisor="advisorValue" v-if="category_slug=='insurance-finance'"></insurance-or-finance>
            <automotive :error="errors" @make="makeValue" @model="modelValue" @year="yearValue" v-if="category_slug=='automotive'"></automotive>
            <home-improvements :error="errors" @manufacturer="manufacturerValue" @type="typeValue" v-if="category_slug=='home-improvements'"></home-improvements>
                  <b-form-group label="Location:">
                         <gmap-autocomplete class="form-control" @place_changed="setPlace">
                         </gmap-autocomplete>
                         <b-form-invalid-feedback v-if="errors.address" id="input-live-feedback">
                            {{errors.address[0]}}
                         </b-form-invalid-feedback>
                   </b-form-group>
                 <b-form-group
                    id="verify_cell"
                    label="Distance:"
                    label-for="verify_cell"
                  >
                    <div class="radio-toolbar">
                       <input type="radio" id="radio3" v-model="location.distance" name="radios" value="10">
                       <label for="radio3">10 miles</label>
                       <input type="radio" v-model="location.distance" id="radio1" name="radios1" value="25" >
                       <label for="radio1">25 miles</label>
                       <input type="radio" v-model="location.distance" id="hundard" name="hundard" value="100" >
                       <label for="hundard">100 miles</label>
                       <input type="radio" v-model="location.distance" id="fivhundard" name="fivhundard" value="500" >
                       <label for="fivhundard">500 miles</label>
                       <input type="radio" v-model="location.distance" id="thausand" name="thausand" value="1000" >
                       <label for="thausand">1000 miles</label>
                        <input type="radio" v-model="location.distance" id="any" name="any" value="any" >
                       <label for="any">Any</label>
                 </div>
                 <b-form-invalid-feedback v-if="errors.distance" id="input-live-feedback">
                    {{errors.distance[0]}}
                 </b-form-invalid-feedback>

                 </b-form-group><b-form-group
                    id="verify_cell"
                    label="Age:"
                    label-for="verify_cell"
                  >

                     <div class="radio-toolbar">
                        <input type="radio" v-model="location.age" id="age1" name="age" value="18-24" checked>
                        <label for="age1">18-24</label>
                        <input type="radio" id="age2" v-model="location.age" name="age" value="25-34">
                        <label for="age2">25-34</label>
                        <input type="radio" id="age3" v-model="location.age" name="age" value="35-44">
                        <label for="age3">35-44</label>
                        <input type="radio" id="radio4" v-model="location.age" name="age" value="45-60">
                        <label for="radio4">45-60</label>
                        <input type="radio" id="radio5" v-model="location.age" name="age" value="61-70">
                        <label for="radio5">61-70</label>
                        <input type="radio" id="radio6" v-model="location.age" name="age" value="71+">
                        <label for="radio6">71+ </label>
                      </div>
                      <b-form-invalid-feedback v-if="errors.distance" id="input-live-feedback">
                        {{errors.age[0]}}
                      </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group
                    id="verify_cell"
                    label="Gender:"
                    label-for="verify_cell"
                  >
                    <div class="radio-toolbar-gender">
                      <input type="radio" id="female" v-model="location.gender" name="gender" value="male" >
                      <label for="female">Male </label>
                      <input type="radio" v-model="location.gender" id="male" name="gender" value="female" checked>
                      <label for="male">Female</label>
                    </div>
                    <b-form-invalid-feedback v-if="errors.distance" id="input-live-feedback">
                      {{errors.gender[0]}}
                    </b-form-invalid-feedback>
                  </b-form-group>
              </b-form>
            </div>

         </tab-content>


        <tab-content class="steps-title-t" :before-change="firstStep" title="Personal Details"  icon="ti-user">

         <div v-if="search.length==0" class="alert alert-success">
           No owners are currently registered.  Would you like us to find you an owner within the next 2-4 hours?.Please fill out form.
         </div>
             <b-form class="from_first_step_stop" ref="firstStep_form"  role="form"  enctype="multipart/form-data">

              <b-form-group id="first_name" label="First Name:" label-for="first_name">
                <b-form-input
                  id="first_name"
                  v-model="form.buyer_first_name"
                  required
                  placeholder="Enter first name"
                ></b-form-input>
                <b-form-invalid-feedback v-if="errors.buyer_first_name" id="input-live-feedback">
                  {{errors.buyer_first_name[0]}}
                </b-form-invalid-feedback>

              </b-form-group>
              <b-form-group id="input-group-2" label="Last Name:" label-for="last_name">
                <b-form-input
                  id="last_name"
                  v-model="form.buyer_last_name"
                  required
                  placeholder="Enter last name"
                ></b-form-input>
                <b-form-invalid-feedback v-if="errors.buyer_last_name" id="input-live-feedback">
                  {{errors.buyer_last_name[0]}}
                </b-form-invalid-feedback>
              </b-form-group>
               <b-form-group id="input-group-2" label="Email:" label-for="last_name">
                <b-form-input
                  id="last_name"
                  v-model="form.email"
                  required
                  placeholder="Enter email"
                ></b-form-input>
                <b-form-invalid-feedback v-if="errors.email" id="input-live-feedback">
                  {{errors.email[0]}}
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                id="input-group-4"
                label="Cell:"
                label-for="cell"
                description="Cell phone format: +16171234567"
              >
                <masked-input
                  name="taxid"
                  class="form-control"
                  v-model="form.cell_phone"
                  :mask="['+',/\d/, /\d/, /\d/, /\d/,  /\d/, /\d/, /\d/, /\d/, /\d/, /\d/, /\d/, /\d/]"
                  :guide="false"
                  type="text"
                  required
                  placeholder="Cell"
                />
                <b-form-invalid-feedback v-if="errors.cell_phone" id="input-live-feedback">
                  {{errors.cell_phone[0]}}
                </b-form-invalid-feedback>
              </b-form-group>


            </b-form>

        </tab-content>
        <tab-content :before-change="verifyCellPhone" title="Verify Phone" icon="ti-mobile" >
          <b-form class="from_first_step_stop" role="form"  enctype="multipart/form-data">
            <b-form-group
              id="verify_cell"
              label="Verification Code:"
              label-for="verify_cell"
              description="Please enter 6 digits code you received on your cell for verification."
            >
              <b-form-input
                id="verify_code"
                v-model="verify.verification_code"
                type="text"
                required
                placeholder="Enter 6 digits code"
              ></b-form-input>

              <b-form-invalid-feedback v-if="errors.verification_code" id="input-live-feedback">
                {{errors.verification_code[0]}}
              </b-form-invalid-feedback>

            </b-form-group>
          </b-form>
        </tab-content>
         <template slot="footer" slot-scope="props">
          <div class="wizard-footer-left">
            <!--
                                        <wizard-button v-if="props.activeTab`Index` > 0 && !props.isLastStep" @click.native="props.prevTab()" :style="props.fillButtonStyle">Previous</wizard-button>
            -->
          </div>
          <div class="wizard-footer-right">
            <wizard-button v-if="!props.isLastStep" @click.native="props.nextTab()" class="wizard-footer-right" :style="props.fillButtonStyle">Next</wizard-button>
            <wizard-button v-else @click.native="verifyCellPhone" class="wizard-footer-right finish-button" :style="props.fillButtonStyle">{{props.isLastStep ? 'Done' : 'Next'}}</wizard-button>
          </div>
        </template>
        </form-wizard>
      </div>
    </div>
  </div>
</template>
<script>
  import MaskedInput from 'vue-text-mask'
  import {FormWizard, TabContent, WizardButton} from 'vue-form-wizard';
  import 'vue-form-wizard/dist/vue-form-wizard.min.css';
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css'
  import HealthCare from './productsfilters/HealthCare';
  import HomesRealEstate from './productsfilters/HomesRealEstate';
  import LocalBusiness from "./productsfilters/LocalBusiness";
  import Fitness from "./productsfilters/Fitness";
  import ComputersOrElectronics from "./productsfilters/ComputersOrElectronics";
  import Kids from "./productsfilters/Kids";
  import InsuranceOrFinance from "./productsfilters/InsuranceOrFinance";
  import Automotive from "./productsfilters/Automotive";
  import HomeImprovements from "./productsfilters/HomeImprovements";
  export default {
    components: {
      MaskedInput,
      WizardButton,
      FormWizard,
      TabContent,
      Loading,
      HealthCare,
      HomesRealEstate,
      LocalBusiness,
      Fitness,
      ComputersOrElectronics,
      Kids,
      InsuranceOrFinance,
      Automotive,
      HomeImprovements,
    },
    data() {
      return {
             center: { lat: 24.774, lng: 46.738  },
             selectedAge:"",
                markers: [],
                places: [],
                currentPlace: null,
                adr_address: null,
                adr_name: null,
                adr_lat: null,
                adr_lng: null,
                addOption: false,
                search:[],


        loading: false,
        fullPage: true,
        product:{
         table_name:"",
         search_query:""
        },
        selectedProduct:[],
        form: {
          buyer_first_name: '',
          email:'',
          buyer_last_name: '',

          cell_phone: null,

        },
        verify: {
          verification_code: '',
          buyer_id:null,
        },


        isLoading: false,


        errors: [],
        success: [],
        productkey:[],
        show: true,


        temp_token: null,
        token:localStorage.getItem('token'),


        form_control:{
          user_token:	true,
          user:	true,
          cell_verification:	false,
          user_availiblity:	true,
          user_language:	false,
          user_product:	false,
        },
        location:{
         address:"",
         lat:null,
         lng:null,
         distance:100,
         age:"25-34",
         gender:"male",
         table_name:"",
         buyer_id:null,
         businessType:"",
         procedure:"",
         make:"",
         model:"",
         year:"",
         trainer:"",
         type:"",
         manufacturer:"",
         advisor:"",
         product_age:"",
         service:"",
         property_type:""
        },
        searchMatch:null,
        steps: null,
        category_slug: null,
      };
    },
    created() {
      this.verify_category();
      this.getProductType();

      this.geolocate();
      //this.load_product_types()
    },
    computed: {

    },
    methods:{
      propertyTypeValue(value){
      this.location.property_type=value;
      },
        serviceValue(value){
           this.location.service=value;
        },
        ageValue(value){
          // alert(value);
         this.location.product_age=value;
        },
        advisorValue(value){
         this.location.advisor=value;
        },
        manufacturerValue(value){
             this.location.manufacturer=value;
        },
        trainerValue(value){
          this.location.trainer=value;
        },
        typeValue(value){
        this.location.type=value;
        // alert(value+'yes');
        },
        yearValue(value){
         this.location.year=value;
        //  alert(value);
        },
        modelValue(value){
            this.location.model=value;
        //    alert(value);
        },
        makeValue(value){
         this.location.make=value;
        //  alert(value+'test');
        },
       businessValue(value){
       this.location.businessType=value;
       },
       procedureValue(value){
         this.location.procedure=value;
       },
       setPlace(place) {

                this.currentPlace = place;

                this.adr_name = this.currentPlace.name;

                this.location.address =  this.currentPlace.name+','+this.currentPlace.formatted_address;
                this.location.lat = this.currentPlace.geometry.location.lat();
                this.location.lng = this.currentPlace.geometry.location.lng();

            },

      geolocate: function() {
                navigator.geolocation.getCurrentPosition(position => {
                    this.center = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                });
            },
      searchProduct(e){
          e.preventDefault();
       this.product.table_name=this.selectedProduct.table_name;
       this.$http.post('search-product',this.product).
       then(response=>{
        this.searchMatch=response.data.data.length;
       }).
       catch(error=>{

       })
      },
      getProductType(){
        // alert('yes');
       this.slug=this.$route.params.slug;
       this.$http.get('verify-product-type/'+this.slug).then(res=>{
           this.selectedProduct=res.data.data;
           this.search.table_name=this.selectedProduct.table_name;
           this.location.table_name=this.selectedProduct.table_name;
       }).catch(error=>{
          // alert('no');
       })
      },

      verify_category(){
        this.$http.get('verify-product-type/' + this.$route.params.slug)
          .then(response => {
            if(response.data.error){
              this.$router.push(this.$route.query.redirect || '/login')
            }
            this.form.category_id = response.data.data.id;
            this.category_slug = response.data.data.slug;

          })
          .catch(error => {
            this.$router.push(this.$route.query.redirect || '/login')
            this.errors = '';
          })
      },



      onComplete(){
        alert('Yay. Done!');
      },

      async firstStep() {
        this.isLoading = true;
        await  this.$http.post('buyer-module/buyer-info', this.form)
          .then(response => {
            this.isLoading = false;
            this.success = response.data.success
            localStorage.setItem('token','Bearer ' +response.data.data.token);
            this.temp_token = 'Bearer ' +response.data.data.token;
            /*toast.fire({
              type: 'success',
              title: 'Registered successfully.'
            });*/
            this.verify.buyer_id=response.data.data.id;
            this.location.buyer_id=response.data.data.id;
            this.form_control.cell_verification = true;


            // console.log(this.verify);
            this.errors = [];
            this.steps = true;
            // alert('no');
          })
          .catch(error => {
            this.errors = error.response.data.errors;
            this.isLoading = false;

            this.steps = false;
          })
        if(this.steps)
        {
          return true;
        }
        else
        {
          return false;
        }
      },
      async locationData(){

        this.location.table_name=this.selectedProduct.table_name;
        // console.log(JSON.stringify(this.location));

           await this.$http.post('connect-to-owner',this.location).
           then(response=>{

          this.steps = true;

              this.search=response.data.data;
            //   alert(this.steps);
            //   this.$alertify.success(`The location you enter. We have ${response.data.data.length} owner to connect you.`);
           }).
           catch(error=>{
                  this.errors = error.response.data.errors;
          this.steps = false;
        //   alert(this.steps);
           })
           if(this.steps){
               return true;
           }else{
               return false;
           }
       },

      async verifyCellPhone() {
        /*evt.preventDefault()*/

        this.isLoading = true;
        var token_to_be_used;
        if(this.temp_token != null){
          token_to_be_used = this.temp_token;
        }else{
          token_to_be_used = this.token;
        }
        await  this.$http.post('buyer-module/verify-cell', this.verify,{ headers: { Authorization: token_to_be_used } })
          .then(response => {
            this.isLoading = false;
            this.success = response.data.success;
            /*toast.fire({
              type: 'success',
              title: response.data.message,
            });*/
            console.log(JSON.stringify(this.location));
                this.$http.post('save-request', this.location).
                then(response=>{
                    this.$alertify.success(`Your request has been submitted successfully. An owner will contact you shortly`);
                    this.$router.push('/thank-you');
                }).
                catch(error=>{

                })
            this.form_control.cell_verification = true;
            this.errors = '';
            this.steps = true;

          })
          .catch(error => {
            this.isLoading = false;
            this.errors = error.response.data.errors;
            this.steps = false;
          })
        if(this.steps)
        {
          return true;
          this.isLoading = false;
          this.steps = false;
        }
        else
        {
          return false;
          this.isLoading = false;
          this.steps = false;
        }
      },

    }
  }
</script>
<style lang="scss" scopped>
  .to-register-wraper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0px;
  }
  .col-auto{
    max-width: 300px !important;
    width: 100% !important;
  }
  .col-auto ul li{
    padding: 10px 0px !important;
    font-weight: bold !important;
  }
  .to-register-wraper .card{
    border-radius: 0px !important;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000 !important;
    background-color: transparent !important;
    padding-left: 45px;
  }
  .nav-pills .nav-link {
    padding-left: 45px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #6c757d;

  }
  .card .nav.flex-column > li{
    border-bottom: none !important;
  }
  .col-auto ul{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .process-buttons{
    padding-top: 40px;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #3490dc;
    background-color: #3490dc;
  }
  .vue-tags-input {
    max-width: 500px !important;
  }
  .invalid-feedback{
    display: block;
  }
  .textowners-date input{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #e0eefc;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .right_side{
    background-color: #fff;
  }
  .container-fluid{
    background-color: transparent !important;
  }
  .radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    margin: 3px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar input[type="radio"]:checked + label {
 background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}
.radio-toolbar input[type="radio"]:focus + label {
    border: 2px solid #e74c3c;
}
.radio-toolbar label:hover {
  background-color: #dfd;
}







 .radio-toolbar-gender input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar-gender label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    margin: 3px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar-gender input[type="radio"]:checked + label {
 background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}
.radio-toolbar-gender input[type="radio"]:focus + label {
    border: 2px solid #e74c3c;
}
.radio-toolbar-gender label:hover {
  background-color: #dfd;
}
.main_search{
    padding-top: 40px;
    padding-bottom: 60px;
}
.o_m_s{
    background-color: lightgray;

}
.location_from{
    padding-top: 5px;
}
</style>
