<template>
    <table class="oc-table oc-table-striped no-border rounded-xl">
        <thead>
            <tr>
              <th>Name</th>
              <th>Bought at</th>
              <th>Product type</th>
              <th>Age</th>
              <th>State</th>
              <th>City</th>
              <th>Created at</th>
              <th>Status</th>
              <th>Action</th>
              <th>Verify</th>
            </tr>
        </thead>
        <tbody  v-if="product.length==0">
            <tr class="text-center">
              <td colspan="3">No products</td>
            </tr>
        </tbody>
        <tbody v-else>
            <tr  v-for="item in product" :key="item.id">
              <td>{{item.name}}</td>
              <td>{{item.baught_at}}</td>
              <td>{{item.product_type}}</td>
              <td>{{item.age}}</td>
              <td>{{item.state}}</td>
              <td>{{item.city}}</td>
              <td>{{item.created_at}}</td>
              <td>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                  {{item.status==0 ?  'Disable':'Enable' }}
                </span>
              </td>
              <td>
                <button
                  class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                  @click="updateStatus(item.status, item.id)"
                >
                  {{item.status==0 ? 'Enable' : 'Disable'}}
                </button>
              </td>
                <td>
                  <button
                    class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                    @click="approve_status(item.approve_status, item.id)"
                  >
                    {{item.approve_status==0 ? 'Verify' : 'Verified'}}
                  </button>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
  import { MoreVerticalIcon } from 'vue-feather-icons';

  export default {
    props: ['company-slug'],
    components: {
      MoreVerticalIcon
    },
    data() {
      return {
        product:[]
      }
    },
    created() {
      this.loadData()
    },
    methods:{
      loadData(){
        this.$axios.get('/api/v1/products/product-kids/product-listing').then(res=>{
          console.log(res.data.data);
          this.product=res.data.data;
        }).catch(error=>{
          console.log('error');
        })
      },
      updateStatus(status, id){
        if(status){
          var status = 0;
        }else{
          var status = 1;
        }
        this.$axios.post('/api/v1/products/update-product-status-by-product-type', {status:status,id:id, table_name:'product_kids'})
          .then(response => {
            this.loadData();
          })
          .catch(error => {
           
          })
      },
      
      approve_status(status, id){
        if(status){
          var status = 1;
        }else{
          var status = 1;
        }
        this.$axios.post('/api/v1/products/verify-product', {approve_status:status,id:id, table_name:'product_kids'})
          .then(response => {
            this.loadData();
          })
          .catch(error => {
          })
      },
    }
  }

</script>
