<template>
  <div>
    <CRow>
      
      <CCol xs="12" lg="12">
        <CCard>
          <CCardHeader>
            <h2>Embed</h2>
<p>Please select a one of embedding methods below.</p>
          </CCardHeader>
          <CCardBody>
            <CTabs variant="pills">
              <CTab title="Client connected page" active>
                    <CCard class="mt-2">
                <CCardHeader>
           Just redirect your visitors to our hosted page and they will be able to connect with your current clients.
You can use any of these templates.
          </CCardHeader>
          <CCardBody>
                     
                <CForm class="mb-5">
               <CRow>
               <CCol lg="4">
                    <CImg src="https://signup.textowners.com/ext/buttons/buttonblack_200x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="input1" autocomplete="name" class="mb-2"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                    <CImg src="https://signup.textowners.com/ext/buttons/buttonblue_200x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="input2" autocomplete="name"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                      <CImg src="https://signup.textowners.com/ext/buttons/buttongreen_200x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="input3" autocomplete="name"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                      <CImg src="https://signup.textowners.com/ext/buttons/buttonorange_200x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="input4" autocomplete="name"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                      <CImg src="https://signup.textowners.com/ext/buttons/buttonred_200x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="input5" autocomplete="name"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                      <CImg src="https://signup.textowners.com/ext/buttons/buttonblack_300x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="input6" autocomplete="name"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                      <CImg src="https://signup.textowners.com/ext/buttons/buttonblue_300x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="input7" autocomplete="name"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                      <CImg src="https://signup.textowners.com/ext/buttons/buttongreen_300x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="input8" autocomplete="name"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                      <CImg src="https://signup.textowners.com/ext/buttons/buttonorange_300x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="input9" autocomplete="name"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                      <CImg src="https://signup.textowners.com/ext/buttons/buttonred_300x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="input10" autocomplete="name"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                  URL HTML Code:
               </CCol>
               <CCol lg="8">  <CInput v-model="input11" autocomplete="name"/></CCol>
              </CRow>
             
              <CRow>
               <CCol lg="4">
                  URL:
               </CCol>
               <CCol lg="8">  <CInput v-model="input12" autocomplete="name"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                  <router-link to=''>Open Url</router-link>
               </CCol>
               <CCol lg="8">  </CCol>
              </CRow>
            
            </CForm>
          </CCardBody>
                    </CCard>
              </CTab>
              <CTab title="Client Connected Popup Form">
                <CCard class="mt-2">
                <CCardHeader>
          You will be able to connect your visitors with current clients with embedded popup form. Visitor will be able to select a product or service to connect with appropriate client.
Integrate popup form to your website with two easy steps.
          </CCardHeader>
          <CCardBody>
               
                <CForm class="mb-5">
                    <CRow class="mt-2 ml-2">
                        <h3>Step 1 - Copy this code and place on your site</h3>
                
                    </CRow>
                    <CRow>
                              <CTextarea
                   description="Place a code to your website in each page you want the form appear It is better to place it before </body> tag closer to it."
                   placeholder="Content..."
                
                  rows="9"
                  style="width:100%;"
                  cols='500'
                  v-model="step1"
                  class="ml-2 mt-2"
              />
               <h3 class="ml-3"> Step 2 - Select a button template and place this code where you want your button to appear on your site</h3>
                    </CRow>
               <CRow class="mt-2">
               <CCol lg="4">
                    <CImg src="https://signup.textowners.com/ext/buttons/buttongreen_200x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="step2" autocomplete="name" class="mb-2"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                   <CImg src="https://signup.textowners.com/ext/buttons/buttongreen_200x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="step3" autocomplete="name"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                      <CImg src="https://signup.textowners.com/ext/buttons/buttongreen_200x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="step4" autocomplete="name"/></CCol>
              </CRow>
              <CRow>
               <CCol lg="4">
                       <CImg src="https://signup.textowners.com/ext/buttons/buttongreen_200x75.jpg" block class="mb-2" />
               </CCol>
               <CCol lg="8">  <CInput v-model="step5" autocomplete="name"/></CCol>
              </CRow>
             
              
            </CForm>
          </CCardBody>
                    </CCard>
              </CTab>
              <CTab title="Advanced" >
             <CCard>
               <CCardHeader></CCardHeader>
             </CCard>
              </CTab>
            </CTabs>
          </CCardBody>
        </CCard>
      </CCol>
     
    </CRow>
  </div>
</template>

<script>
export default {
  name: 'Tabs',
  data () {
    return {
      step1:'<a href="https://signup.textowners.com/go/dev-company/" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttongreen_300x75.jpg" /></a>',
      step2:'<a href="https://signup.textowners.com/go/dev-company/" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttongreen_300x75.jpg" /></a>',
      step3:'<a href="https://signup.textowners.com/go/dev-company/" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttongreen_300x75.jpg" /></a>',
      step4:'<a href="https://signup.textowners.com/go/dev-company/" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttongreen_300x75.jpg" /></a>',
      step5:'<a href="https://signup.textowners.com/go/dev-company/" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttongreen_300x75.jpg" /></a>',
      input1:'<a href="http://app.ownerchat.com/buyer-info" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttonblack_200x75.jpg" /></a>',
      input2:'<a href="http://app.ownerchat.com/buyer-info" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttonblue_200x75.jpg" /></a>',
      input3:'<a href="http://app.ownerchat.com/buyer-info" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttongreen_200x75.jpg" /></a>',
      input4:'<a href="http://app.ownerchat.com/buyer-info" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttonorange_200x75.jpg" /></a>',
      input5:'<a href="http://app.ownerchat.com/buyer-info" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttonred_200x75.jpg" /></a>',
      input6:'<a href="http://app.ownerchat.com/buyer-info" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttonblack_300x75.jpg" /></a>',
      input7:'<a href="http://app.ownerchat.com/buyer-info" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttonblue_300x75.jpg" /></a>',
      input8:'<a href="http://app.ownerchat.com/buyer-info" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttongreen_300x75.jpg" /></a>',
      input9:'<a href="http://app.ownerchat.com/buyer-info" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttonorange_300x75.jpg" /></a>',
      input10:'<a href="http://app.ownerchat.com/buyer-info" target="_blank"><img src="https://signup.textowners.com/ext/buttons/buttonred_300x75.jpg" /></a>',
      input11:'<a href="http://app.ownerchat.com/buyer-info" target="_blank">Ask a current client about their experience</a>',
      input12:'http://app.ownerchat.com/buyer-info',
      tabs: [
        'Client Connected Page',
        'Client Connected Popup Form',
        'Advanced'
      ]
    }
  }
}
</script>
