<template>
    <nuxt-child :company-slug="$route.params.slug"></nuxt-child>
</template>

<script>
export default {
    layout: 'dashboard',
    middleware: ['auth'],
    asyncData({$axios, redirect, params, error}) {
        return $axios.get(`/api/v1/companies/${params.slug}`).then(res => {

        }).catch(err => {
            if(err.response && err.response.status == 404) {
                return error({statusCode: 404, message: 'Company Not Found'});
            }
        })
    }
}
</script>
