<template>
    <h2>{{$auth.user.type}} weee</h2>
</template>

<script>
export default {
  layout: 'dashboard',
    asyncData({$axios, redirect}) {
        return $axios.get('/api/v1/companies').then(res => {
            if(res.data.length) {
                return redirect(`/cd/${res.data[0].slug}`)
            }
        }).catch(err => console.log(err))
    }
}
</script>
