<template>
  <section class="bg-white border-b py-8">
    <div class="container mx-auto flex flex-wrap pt-4 pb-12">
      <h2
        class="w-full my-2 text-5xl font-black leading-tight text-center text-gray-800"
      >
        Latest Survey
      </h2>
      <div class="w-full mb-4">
        <div
          class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
        ></div>
      </div>


      <div  v-for="(item,index) in survey"  class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
<!--      <div v-else-if="survey.length>6 || survey.length<9" v-for="item in survey.slice(0,6)" class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">-->
        <div
          class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow"
        >
          <a href="#" class="flex flex-wrap no-underline hover:no-underline">
            <p class="w-full text-gray-600 text-xs md:text-sm px-6 mt-6">
              GETTING STARTED
            </p>
            <div class="w-full font-bold text-xl text-gray-800 px-6">
             {{item.title}}
            </div>
            <p class="text-gray-600 text-base px-6 mb-5">
            {{item.description}}
            </p>
          </a>
        </div>
        <div
          class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
        >
          <div class="flex items-center justify-start">
            <button @click="surveyDetail(item.slug)"
              class="mx-auto lg:mx-0 hover:underline gradient2 text-gray-800 font-extrabold rounded my-6 py-4 px-8 shadow-lg"
            >
              Action
            </button>
          </div>
        </div>
      </div>

    </div>
  </section>
</template>

<script>
import { MoreVerticalIcon } from 'vue-feather-icons';

export default {
  props: ['company-slug'],
  components: {
    MoreVerticalIcon
  },
  data() {
    return {
      survey:[]
      // campaigns:[]
    }
  },
  created() {
    this.$axios.get('/api/v1/survey')
      .then(response => {
         this.survey=response.data.data.data;
      })
      .catch(error => {
      })
  },
  methods:{
    surveyDetail(id){

      $nuxt.$router.push('/home/'+id);
    }
  }

}
</script>
