<template>
	<div>
        <div class="section">
            <div class="flex m-2">
	              <!-- widget -->

                        <div class="bg-blue-600 break-words flex m-2 mb-6 min-w-0 relative rounded shadow-xl w-64 xl:mb-0">
                            <div class="flex-auto p-6">
                                <div class="flex flex-wrap">
                                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                                    <h5 class="font-bold text-white text-xs uppercase">
                                    Current Conversation
                                    </h5>
                                    <span class="font-semibold text-xl text-white">
                                    {{currentConversation?currentConversation:0}}
                                    </span>
                                </div>
                                <div class="relative w-auto pl-4 flex-initial">

                                </div>
                                </div>

                            </div>
                     </div>

                        <div class="bg-blue-600 break-words flex m-2 mb-6 min-w-0 relative rounded shadow-xl w-64 xl:mb-0">
                            <div class="flex-auto p-6">
                                <div class="flex flex-wrap">
                                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                                    <h5 class="font-bold text-white text-xs uppercase">
                                    Daily Conversation
                                    </h5>
                                    <span class="font-semibold text-xl text-white">
                                    {{dailyConversation?dailyConversation:0}}
                                    </span>
                                </div>
                                <div class="relative w-auto pl-4 flex-initial">

                                </div>
                                </div>

                            </div>
                     </div>

                        <div class="bg-blue-600 break-words flex m-2 mb-6 min-w-0 relative rounded shadow-xl w-64 xl:mb-0">
                            <div class="flex-auto p-6">
                                <div class="flex flex-wrap">
                                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                                    <h5 class="font-bold text-white text-xs uppercase">
                                    Weekly Conversation
                                    </h5>
                                    <span class="font-semibold text-xl text-white">
                                   {{weeklyConversation?weeklyConversation:0}}
                                    </span>
                                </div>
                                <div class="relative w-auto pl-4 flex-initial">

                                </div>
                                </div>

                            </div>
                     </div>

                        <div class="bg-blue-600 break-words flex m-2 mb-6 min-w-0 relative rounded shadow-xl w-64 xl:mb-0">
                            <div class="flex-auto p-6">
                                <div class="flex flex-wrap">
                                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                                    <h5 class="font-bold text-white text-xs uppercase">
                                    Total Conversation
                                    </h5>
                                    <span class="font-semibold text-xl text-white">
                                    {{totalConversation?totalConversation:0}}
                                    </span>
                                </div>
                                <div class="relative w-auto pl-4 flex-initial">

                                </div>
                                </div>

                            </div>
                     </div>





                  <!-- end widget -->
             </div>
		</div>

		<div class="section">
			<div class="container px-4 mx-auto">
				<div class="oc-card oc-card-default rounded-xl">
					<div class="oc-card-body p-0 overflow-auto">
						<vue-highcharts :options="options" ref="lineCharts"></vue-highcharts>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container px-4 mx-auto">
				<h3 class="font-bold text-3xl mb-5">Last Conversation</h3>

				<div class="oc-card oc-card-default rounded-xl">
					<div class="oc-card-body p-0 overflow-auto">
						<LastConversation ></LastConversation>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container px-4 mx-auto">
				<h3 class="font-bold text-3xl mb-5">Last leads</h3>

				<div class="oc-card oc-card-default rounded-xl">
					<div class="oc-card-body p-0 overflow-auto">
						<LastLead></LastLead>
					</div>
				</div>
			</div>
		</div>

	</div>

</template>
<script>
import VueHighcharts from 'vue2-highcharts'
import LastConversation from '@/components/LastConversation';
import LastLead from '@/components/LastLead';

export default {
	layout:'dashboard',
	components: {
		VueHighcharts,
		LastConversation,
		LastLead
	},
	data(){
		return {
            currentConversation:null,
            dailyConversation:null,
            weeklyConversation:null,
            totalConversation:null,

			options: {
				chart: {
					type: 'column'
				},
				title: {},
				subtitle: {},
				xAxis: {
					categories: [
						'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
						'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
					]
				},
				yAxis: {
					title: {},
					labels: {}
				},
				tooltip: {
					crosshairs: true,
					shared: true
				},
				credits: {
					enabled: false
				},
				plotOptions: {
					spline: {
						marker: {
							radius: 4,
							lineColor: '#666666',
							lineWidth: 1
						}
					}
				},
				series: [
					{
						name: 'Conversation',
						marker: {
							symbol: 'square'
						},
						data: [
							7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2,
							{
								y: 26.5,
								marker: {}
							},
							23.3, 18.3, 13.9, 9.6
						]
					},
					{
						name: 'Lead',
						marker: {
							symbol: 'square'
						},
						data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, {
							y: 26.5,
							marker: {

							}
						}, 23.3, 18.3, 13.9, 9.6]
					}
				]
			}
		}
	},
	mounted() {
		this.load();
        this.conversation();

	},
	methods: {

        conversation(){
           this.$axios.get('/api/v1/stat/conversation').then(response=>{
               this.currentConversation  =  response.data.data.currentConversation;
               this.dailyConversation    =  response.data.data.dailyConversation;
               this.weeklyConversation   =  response.data.data.weeklyConversation;
               this.totalConversation    =  response.data.data.totalConversation;

           }).catch(error=>{

           });
        },
		load(){
			let lineCharts = this.$refs.lineCharts;
			// lineCharts.delegateMethod('showLoading', 'Loading...');
			setTimeout(() => {
				// lineCharts.addSeries(asyncData);
				// lineCharts.hideLoading();
			}, 2000)
		}
	}
}
</script>
