<template>
    <table class="oc-table oc-table-striped no-border rounded-xl">
		<thead>
			<tr>
				<th>Lead</th>
				<th>Client</th>
				<th>Product</th>
				<th>Started at</th>
				<th>Finished at</th>
			</tr>
		</thead>
		<tbody v-if="conversation.length==0">
			<tr class="text-center">
				<td colspan="13">No conversations</td>
			</tr>
		</tbody>
		<tbody v-else>
			<tr v-for="item in conversation" :key="item.id">
				<td>{{item.first_name}}  {{item.last_name}}</td>
				<td>{{item.buyer_first_name}} {{item.buyer_last_name}}</td>
			    <td>{{item.product_name}}</td> 	
				<td>{{item.created_at}}</td>
				<td>{{item.updated_at}}</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
import { MoreVerticalIcon } from 'vue-feather-icons';

export default {
    components: {
        MoreVerticalIcon
    },
    data() {
        return {
            conversation: []
        }
    },
    created() {
        this.loadData();
        this.lastConversation();
    },
    methods: {
        lastConversation(){
           this.$axios.get('/api/v1/stat/conversation-listing').then(response=>{
               this.conversation    =   response.data.data;
            
           }).catch(error=>{

           });
        },
        loadData() {
            this.$axios.get('/api/v1/products/product-home-real-estate/product-listing').then(res => {
                this.product = res.data.data;
            }).catch(error => {
                console.log('error');
            })
        },
    }
}
</script>
