<template>
	<table class="oc-table oc-table-striped no-border rounded-xl">
		<thead>
			<tr>
				<th>First name</th>
				<th>Cell phone</th>
				
				<th>Product name</th>
				
				<th>Conversation</th>
			</tr>
		</thead>
		<tbody v-if="lastLead.length==0">
			<tr class="text-center">
				<td colspan="13">No leads</td>
			</tr>
		</tbody>
		<tbody v-else>
			<tr v-for="item in lastLead" :key="item.id">
				<td>{{item.first_name}}</td>
				<td>{{item.owner_cell_phone}}</td>
			
				<td>{{item.product_name}}</td>
				
				<td>{{item.chat_lead_status}}</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
import { MoreVerticalIcon } from 'vue-feather-icons';

export default {
    props: ['company-slug'],
    components: {
        MoreVerticalIcon
    },
    data() {
        return {
            lastLead: []
        }
    },
    created() {
        this.loadData()
        this.getLastLead()
    },
    methods: {
        getLastLead(){
           this.$axios.get('/api/v1/stat/lead-listing').then(response=>{
               this.lastLead    =   response.data.data;
            
           }).catch(error=>{

           });
        },
        loadData() {
            this.$axios.get('/api/v1/products/product-home-real-estate/product-listing').then(res => {
                this.product = res.data.data;
            }).catch(error => {
                console.log('error');
            })
        },
    }
}
</script>
