<template>
  <div class="section">
    <div class="container px-4 mx-auto">
      <h1 class="font-bold text-3xl mb-5">Enrolled Survey</h1>
      <div class="flex justify-end mb-5 items-center">

      </div>
      <div class="oc-card oc-card-default rounded-xl">
        <div class="oc-card-body p-0">
          <div v-if="error" class="bg-red-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
            <p class="font-bold">Error message</p>
            <p class="text-sm">{{message}}.</p>
          </div>
          <div v-if="success" class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
            <p class="font-bold">Success message</p>
            <p class="text-sm">{{message}}.</p>
          </div>

          <table class="oc-table oc-table-striped no-border rounded-xl">
            <thead>
            <tr>
              <th>Title</th>
              <th>Amount</th>
              <th>Enrolled Date</th>


            </tr>
            </thead>

            <tbody v-if="item.length==0"  >
            <tr class="text-center">
              <td colspan="6">No owners.</td>
            </tr>
            </tbody>

            <tbody v-if="item.length>0" >
            <tr v-for="(survey,index) in item" :key="survey.id">
              <td>{{ survey.survey.title | capitalize}}</td>
              <td>${{survey.payment}}</td>
              <td>{{survey.survey.created_at | moment("dddd, MMMM Do YYYY")}}</td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import VueMoment from 'vue-moment'
export default {
  layout:'dashboard',
  filters: {
    capitalize: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  data(){
    return{
      item:[],
      error:false,
      message:'',
      success:false
    }
  },
  created() {
    this.$axios.get('api/v1/survey/enrolled-survey').then(res=>{

      this.item=res.data.data;

    }).catch(error=>{
      console.log('error');
    })
  },
  methods:{
    trashItem(id,index){


      this.$axios.delete('api/v1/survey'+'/'+id).then(res=>{
        this.success=true;
        this.error=false;
        this.message=res.data.data.message;
        this.item.splice(index, 1);

      }).catch(error=>{
        if(error.response.status==403){
          this.error=true;
          this.success=false;
          this.message=error.response.data.data.message;
        }
      })
    }
  }
}
</script>
