@import './base/video.css';

html {
    @apply font-body
}

p {
    @apply text-gray-700;
}

a {
    @apply text-blue-500;
}

.text-base {
    @apply text-gray-700;
}

h1, h2, h3, h4, h5 {
    @apply text-gray-700;
}

/* Section */
.section {
    @apply py-4
}