/* User Icon */
.user-icon-circle {
  @apply h-10 w-10 border bg-red-500 text-white border-red-500 text-center relative flex justify-center items-center rounded-full;
}

/* Register Page */

.register-step > div {
    @apply flex items-center mb-10;
}

.register-step .circle {
    @apply rounded-full bg-gray-400 h-10 w-10 flex items-center justify-center;
}

.register-step .circle.active {
    @apply bg-white text-gray-600;
}

.register-step .circle p {
   font-size:15px;
   line-height:24px;
}

.register-step > div > p:last-child {
    @apply ml-6 text-lg;
}


/* Icon */
.uk-icon {
    @apply m-0 bg-transparent inline-block overflow-visible p-0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    fill: currentcolor;
    line-height: 0;
}

/* Spinner */
.uk-spinner > * {
  animation: uk-spinner-rotate 1.4s linear infinite;
}
@keyframes uk-spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
/*
 * Circle
 */
.uk-spinner > * > * {
  stroke-dasharray: 88px;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: uk-spinner-dash 1.4s ease-in-out infinite;
  stroke-width: 1;
  stroke-linecap: round;
}
@keyframes uk-spinner-dash {
  0% {
    stroke-dashoffset: 88px;
  }
  50% {
    stroke-dashoffset: 22px;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 88px;
    transform: rotate(450deg);
  }
}

/* Full Page loading */
.lds-ring {
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: fixed;
    z-index: 1100;
    display: none;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.lds-ring:before {
	content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* purgecss ignore */
.lds-ring.show {
	@apply flex;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #cef;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #cef transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Text Error */
.text-error {
  @apply text-red-500 block text-sm;
}