button:focus, a:focus {
    @apply outline-none;
}

.oc-btn {
    @apply py-2 px-4 border border-2 rounded inline-block text-center;
    min-width:120px;
}

.oc-btn-primary {
    @apply bg-primary text-white border-primary;
}

.oc-btn-primary:hover {
    background-color: #59a0f6;
    border-color: #59a0f6;
}

.oc-btn:focus {
    @apply outline-none;
}

.oc-btn-default {
    @apply border-gray-300;
}

/* Red Button */
.oc-btn-red {
    @apply border-red-500 bg-red-500 text-white;
}

.oc-btn-red:disabled {
    @apply bg-red-200 border-red-200;
}

.oc-btn-red:hover {
    @apply bg-red-600 border-red-600;
}

/* Tag Button */
.oc-btn-tag {
    @apply rounded-full text-sm font-semibold text-gray-700;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}

.oc-btn-tag:hover {
    background-color: #ece6e6;
}

.oc-btn-tag.active {
    @apply bg-red-500 border-red-500 text-white;
}

/* Step  Button */
.step-button {
    @apply w-full flex justify-between outline-none items-center rounded border;
    height: 65px;
    border-radius: 4px;
    margin-top: 12px;
    padding: 0 23px 0 26px;
}

.step-button svg {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    fill: #CDCEE4;
}

.step-button.complete {
  @apply bg-red-500 text-white cursor-default;
}

/* Button Icon */
.oc-btn-icon {
    @apply flex justify-center;
}

.oc-btn-icon svg {
    @apply mr-2;
}

/* Btn small */
.oc-btn-small {
    @apply px-2 py-1;
}