label{
    @apply mb-1 block text-gray-600;
}

.oc-form-control {
    @apply appearance-none border border-gray-300 rounded w-full py-3 px-4 text-gray-700 leading-tight;
}

.oc-form-control:focus {
    @apply outline-none bg-white border-primary;
}

.oc-form-control-underline {
    @apply appearance-none border-b mb-2 bg-transparent border-gray-300 w-full py-2 text-gray-700 leading-tight;
}

.oc-form-control-underline:focus {
    @apply outline-none border-primary;
}

/* Select */
select.oc-form-control {
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - .5em) .5em;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 1.5em;
    background-repeat: no-repeat;
}

/* Input Group */
.oc-input-group {
    @apply relative flex flex-wrap items-stretch w-full;
}

.oc-input-group-text {
    @apply flex items-center px-4 mb-0 text-center whitespace-no-wrap bg-gray-200 border-2 rounded-l border-gray-300;
    padding-top: 0.61rem;
    padding-bottom: 0.61rem;
}

.oc-input-group-prepend {
    margin-right: -1px;
}

.oc-input-group > .oc-form-control {
    @apply relative;
    flex: 1 1 auto;
    width: 1%;
}

.oc-input-group > .oc-form-control:not(:first-child) {
    @apply rounded-l-none;
}

/* Type Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}