.oc-grid {
    @apply flex flex-wrap m-0 p-0 -ml-2;
}

.oc-grid.no-gutter {
    @apply ml-0;
}

.oc-grid.no-gutter > :not(:last-child) {
    @apply mb-0;
}

.oc-grid.no-gutter > * {
    @apply pl-0;
}

.oc-grid > :not(:last-child) {
    @apply mb-2;
}

.oc-grid > * {
    @apply pl-2;
}

.oc-grid.gutter-lg  > * {
    @apply pl-4;
}

.oc-grid.gutter-lg {
    @apply -ml-4;
}

.oc-grid.no-gutter > :not(:last-child) {
    @apply pl-0;
}