/*.oc-nav {*/
/*    @apply block;*/
/*}*/

/*.oc-nav li a, .oc-nav li button {*/
/*    @apply text-gray-500 font-bold flex px-4 py-2;*/
/*}*/

/*.oc-nav li a:hover, .oc-nav li a.active, .oc-nav li button:hover {*/
/*    @apply text-gray-700;*/
/*}*/


/*!* Dot nav *!*/

/*.oc-dotnav > * {*/
/*    @apply pl-1;*/
/*}*/

/*.oc-dotnav > * > * {*/
/*    @apply block overflow-hidden bg-transparent border border-gray-500;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    border-radius: 50%;*/
/*}*/

/*.oc-dotnav > .active > * {*/
/*    @apply bg-gray-500;*/
/*}*/
