@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
}

.gradient {
  background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
}

button,
.gradient2 {
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

/* Browser mockup code
* Contribute: https://gist.github.com/jarthod/8719db9fef8deb937f4f
* Live example: https://updown.io
*/

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  position: relative;
  height: 60vh;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: "";
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup > * {
  display: block;
}

/* Custom code for the demo */
/*.oc-navbar {*/
/*    @apply flex relative;*/
/*}*/

/*.oc-navbar-left, .oc-navbar-right, .oc-navbar-center {*/
/*    @apply flex items-center;*/
/*}*/

/*.oc-navbar-left, .oc-navbar-right, .oc-navbar-center:only-child {*/
/*    @apply flex-wrap;*/
/*}*/

/*.oc-navbar-item {*/
/*    @apply flex justify-center items-center px-4 text-gray-700 text-sm;*/
/*}*/

/*a.oc-navbar-item:hover {*/
/*    @apply text-gray-200;*/
/*}*/

/*.oc-navbar-right {*/
/*    @apply ml-auto;*/
/*}*/

/*!* Divider *!*/
/*.nav-divider {*/
/*    @apply border-t border-gray-200;*/
/*}*/

/*!* Profile Nav *!*/
/*.profile-nav {*/
/*    @apply flex justify-center;*/
/*}*/

/*.profile-nav li a {*/
/*    @apply text-white;*/
/*}*/

/*.profile-nav li:not(:last-child) {*/
/*    @apply mr-8;*/
/*}*/

/*.profile-nav li a:hover {*/
/*    @apply text-red-500;*/
/*}*/
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
#card-errors{
  color: red;
}
