.uk-notification {
    @apply fixed;
    top: 10px;
    left: 10px;
    z-index: 1040;
    box-sizing: border-box;
    width: 350px
}

.uk-notification-top-right,.uk-notification-bottom-right {
    left: auto;
    right: 10px
}

.uk-notification-top-center,.uk-notification-bottom-center {
    left: 50%;
    margin-left: -175px
}

.uk-notification-bottom-left,.uk-notification-bottom-right,.uk-notification-bottom-center {
    top: auto;
    bottom: 10px
}

@media (max-width: 639px) {
    .uk-notification {
        @apply m-0;
        left:10px;
        right: 10px;
        width: auto;
    }
}

.uk-notification-message {
    @apply relative cursor-pointer rounded;
    padding: 10px;
    background: #f8f8f8;
    color: #666;
    font-size: 16px;
    line-height: 1.4;
}

*+.uk-notification-message {
    margin-top: 10px
}

.uk-notification-close {
    @apply absolute;
    display: none;
    top: 15px;
    right: 15px
}

.uk-notification-message:hover .uk-notification-close {
    @apply block;
}

.uk-notification-message-primary {
    color: #1e87f0
}

.uk-notification-message-success {
    @apply text-white;
    background-color: #2f2839;
}

.uk-notification-message-warning {
    color: #faa05a
}

.uk-notification-message-danger {
    @apply bg-red-600 text-white;
}

.uk-notification-message-success .uk-notification-close svg line{
    stroke: white;
}