/* Sidebar for Dashboard */
.oc-sidebar {
    @apply text-gray-600 top-0 bottom-0 left-0 justify-between flex flex-col fixed leading-tight bg-white;
    padding: 12px 0px 2px;
    width: 240px;
}

/* When Collapse */
#dashboardLayout.collapsed .oc-sidebar {
    width: 70px;
}

#dashboardLayout {
    padding-left: 240px;
}

#dashboardLayout.collapsed {
    padding-left: 70px;
}

#dashboardLayout.collapsed .oc-m-hide {
    @apply hidden;
}

#dashboardLayout.collapsed #collapseBtn .oc-sidebar-icon {
    transform: rotate(180deg);
}

/* Top Sidebar */
.oc-sidebar .top-sidebar {
    @apply flex flex-col min-h-0 min-w-0;
    flex: 1 1 0%;
}

/* Sidebar item */
.oc-sidebar-nav {
    @apply flex flex-col;
    margin: 8px 0px;
    padding: 0px 16px;
}
/* Link */
.oc-sidebar-nav a {
    @apply text-gray-600;
}

.oc-sidebar-nav a:hover , .oc-sidebar-nav button:hover{
    @apply text-gray-700 no-underline;
}

.oc-sidebar-nav a svg, .oc-sidebar-nav button svg {
    @apply mx-auto;
}

/* Sidebar item */

.oc-sidebar-item {
    @apply flex items-start w-full p-0 relative;
    height: 34px;
    font-size: 16px;
}

.oc-sidebar-item > div:not(.user-info) {
    @apply flex items-center w-full;
}

.oc-sidebar-item.active {
    @apply text-gray-700;
}

a.oc-sidebar-item, button.oc-sidebar-item {
    @apply outline-none items-center;
    line-height:1;
}

.oc-sidebar-icon {
    @apply inline-block;
    width: 38px;
    height:24px;
    content:'';
    font-size:20px;
}

.avatar {
    @apply rounded align-middle relative inline-block bg-red-600 text-white;
    flex-shrink: 0;
    width: 38px;
    height: 38px;
}
/* Sidebar when 768px */
@media (max-width: 768px) {
    #dashboardLayout {
        @apply pl-0;
        padding-top:54px;
    }

    #dashboardLayout.collapsed .oc-sidebar {
        @apply w-auto;
    }

    #dashboardLayout.collapsed {
        @apply pl-0;
    }

    .oc-sidebar {
        @apply top-0 left-0 right-0 bottom-auto w-auto items-center flex-row;
        height:54px;
        padding: 0 8px;
        z-index: 1000;
    }

    .oc-sidebar .top-sidebar, .oc-sidebar .bottom-sidebar {
        @apply h-full items-center flex-row;
    }

    .top-sidebar {
        @apply overflow-auto border-r;
    }

    .oc-m-hide {
        @apply hidden;
    }

    .oc-sidebar .oc-sidebar-nav {
        @apply flex-row h-full items-center pr-1 mr-1;
    }

    a.oc-sidebar-item, button.oc-sidebar-item {
        @apply mx-1 my-0 p-0;
    }

    .oc-sidebar-nav {
        @apply m-0 p-0;
    }

    #collapseBtn {
        display:none;
    }

}