.oc-tab {
    @apply bg-white border-b;
}

.oc-tab-nav {
    @apply flex flex-row;
}

.oc-tab-nav * {
    @apply text-gray-600 py-4 px-6 block text-blue-500 font-medium;
}

.oc-tab-nav > *:hover {
    @apply text-blue-500;
}

.oc-tab-nav > *:focus {
    @apply outline-none;
}

.oc-tab-nav > *.active {
    @apply border-b border-blue-500;
}