.oc-table {
    @apply table-auto w-full bg-white;
}

.oc-table th, .oc-table td {
    @apply px-6 py-3 text-sm border-b;
}

.oc-table thead {
    @apply text-left;
}

.oc-table.oc-table-striped thead {
    @apply border-b border-gray-200;
}

.oc-table th:last-child, td:last-child {
    @apply border-r-0;
}

.oc-table th:first-child, td:first-child {
    @apply border-l-0;
}

.oc-table.no-border th, .oc-table.no-border td {
    @apply border-0;
}

.oc-table tbody tr:not(:last-child) {
    @apply border-t border-b border-gray-200;
}