<template>
  <div class="some">
    <CContainer class="d-flex align-items-center">
      <div class="vld-parent">
        <loading :active.sync="isLoading"></loading>
      </div>
      <CRow class="w-100 select_category">
        <CCol v-for="type in productType" :key="type.id"  class="select-inner" sm="6" md="3">
          <CCard>
            <CCardBody>
              <!--<router-link :to="{name: 'AllProducts', params: {slug: type.slug}}">{{type.title}}</router-link>-->
              <router-link
                :to="'/products/'+type.slug"
              >{{type.title}}</router-link>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>
<script>
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  export default {
    name: 'Products Types',
    components: {
      Loading
    },
    data () {
      return {
        isLoading: false,
        fullPage: true,
        productType: null,
      }
    },
    created(){
      this.productTypes();
    },
    methods: {
      productTypes(){
        this.isLoading = true;
        this.$http.get('products/all-products-for-admin').then(response=>{
          this.isLoading = false;
          this.productType = response.data.data;
        }).catch(error=>{
          this.isLoading = false;
        })
      },
    }
  }
</script>
