<template>
  <CRow>
    <div class="vld-parent">
      <loading :active.sync="isLoading"
               :is-full-page="fullPage">
      </loading>
      <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
    </div>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CIcon name="cil-grid"/> Products

          <div style="float: right" class="col-3">
            <!-- {{userType}} -->
            <b-form-select  @change="SelectUser" v-model="owner_id" :options="owners">
              <template slot="">
                <option value="">All Owners</option>
              </template>
            </b-form-select>
          </div>

        </CCardHeader>

        <CCardBody>
          <CDataTable
            :items="usersData"
            :fields="fields"

            table-filter
            items-per-page-select
            :items-per-page="5"
            hover
            sorter
            pagination
          >
            <template #status="{item}">
              <td>
                <CBadge :color="getBadge(item.status)">
                  {{item.status==0 ? 'Disabled' : 'Active'}}
                </CBadge>
              </td>
            </template>

            <template #actions="{item, index}">
              <td class="py-2">
                <CButton
                  color="primary"
                  variant="outline"
                  square
                  size="sm"
                  @click="updateStatus(item.status, item.id)"
                >
                  {{item.status==0 ? 'Enable' : 'Disable'}}
                </CButton>
              </td>
            </template>

          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
  // import usersData from '../users/UsersData'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';

  const fields = [
    { key: 'username', _style:'width:40%' },
    'registered',
    { key: 'role', _style:'width:20%;' },
    { key: 'status', _style:'width:20%;' },
    {
      key: 'show_details',
      label: '',
      _style: 'width:1%',
      sorter: false,
      filter: false
    }
  ]

  export default {
    components: {
      Loading,
    },
    name: 'AdvancedTables',
    data () {
      return {
        isLoading: false,
        fullPage: true,
        usersData:[],
        fields:[],
        details: [],
        owners: [],
        owner_id: '',
      }
    },
    created(){
      this.getProductsByCompanyId();
      this.getOwners();
    },
    methods: {
      getProductsByCompanyId(){
        this.isLoading = true;
        this.fields=[];
        this.$http.get('products/products-by-product-type-id?company_id='+this.$route.params.id+'&owner_id='+this.owner_id).then(response=>{
          this.isLoading = false;
          let dynamiceFeilds={};
          response.data.fields.forEach(element => {
            this.fields.push(dynamiceFeilds['key']=element);
          });
          this.fields.push(dynamiceFeilds['key']='owner_first_name');
          this.fields.push(dynamiceFeilds['key']='owner_last_name');
          this.fields.push(dynamiceFeilds['key']='owner_cell_phone');
          this.fields.push(dynamiceFeilds['key']='created_at');
          this.fields.push(dynamiceFeilds['key']='status');
          this.fields.push(dynamiceFeilds['key']='actions');
          this.usersData= response.data.data;
        }).catch(error=>{
          this.isLoading = false;
          console.log(error);
        })
      },

      updateStatus(status, id){
        if(status){
          var status = 0;
        }else{
          var status = 1;
        }
        //alert(id);
        this.isLoading = true;
        this.$http.post('/products/update-product-status', {status:status,id:id})
          .then(response => {
            this.isLoading = false;
            this.$alertify.success(response.data.message);
            this.getProductsByCompanyId();
          })
          .catch(error => {
            this.isLoading = false;
            this.error = null;
            this.errors =error.response.data.errors;
          })
      },

      SelectUser(){
        this.getProductsByCompanyId();
      },

      getOwners(){
        this.$http.get('user-module/get-all-owners-for-filters').then(response=>{
          //  this.options=    { value: null, text: 'Please select some item' };
          let data=response.data.data.map(item=>({value:item.id,text:item.first_name}));
          this.owners.push( { value: null, text: 'Please select some item' });
          this.owners=data;
        }).catch(error=>{

        });
      },

      getBadge (status) {
        return status === 'Active' ? 'success'
          : status === 'Inactive' ? 'secondary'
            : status === 'Pending' ? 'warning'
              : status === 'Banned' ? 'danger' : 'primary'
      },

      toggleDetails (index) {
        const position = this.details.indexOf(index)
        position !== -1 ? this.details.splice(position, 1) : this.details.push(index)
      }
    }
  }
</script>
