<template>
  <CRow>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <div class="row justify-content-between">
            <div class="col-7">
              <CIcon name="cil-grid"/> <span style="color: #231698">{{title}}</span>
            </div>
            <div class="col-2 fix-inline">
              <router-link style="float: right" v-if="userType=='owner'" :to="/add-products/+$route.params.slug" class="btn btn-primary">Add Product</router-link>
            </div>
            <div class="col-3 fix-inline">
              <b-form-select  @change="SelectProductType()" v-model="selected" :options="options">
                <template slot="">
                  <option value="">Select Product Type</option>
                </template>
              </b-form-select>
            </div>
          </div>
        </CCardHeader>
          <product-healthcare v-if="category_slug=='healthcare'"></product-healthcare>
          <product-homes-realestate v-if="category_slug=='homes-real-estate'"></product-homes-realestate>
          <product-local-business v-if="category_slug=='local-business'"></product-local-business>
          <product-fitness v-if="category_slug=='fitness'"></product-fitness>
          <product-computers-electronics v-if="category_slug=='computers-electronics'"></product-computers-electronics>
          <product-kids v-if="category_slug=='kids'"></product-kids>
          <product-insurance-finance v-if="category_slug=='insurance-finance'"></product-insurance-finance>
          <product-automotive v-if="category_slug=='automotive'"></product-automotive>
          <product-home-improvement v-if="category_slug=='home-improvements'"></product-home-improvement>
      </CCard>
    </CCol>
  </CRow>
</template>
<script>
  import ProductHealthcare from "./ProductsListing/ProductHealthcare";
  import ProductHomesRealestate from "./ProductsListing/ProductHomesRealestate";
  import ProductLocalBusiness from "./ProductsListing/ProductLocalBusiness";
  import ProductFitness from "./ProductsListing/ProductFitness";
  import ProductComputersElectronics from "./ProductsListing/ProductComputersElectronics";
  import ProductKids from "./ProductsListing/ProductKids";
  import ProductInsuranceFinance from "./ProductsListing/ProductInsuranceFinance";
  import ProductAutomotive from "./ProductsListing/ProductAutomotive";
  import ProductHomeImprovement from "./ProductsListing/ProductHomeImprovement";
export default {
  components: {
    ProductHealthcare,
    ProductHomesRealestate,
    ProductLocalBusiness,
    ProductFitness,
    ProductComputersElectronics,
    ProductKids,
    ProductInsuranceFinance,
    ProductAutomotive,
    ProductHomeImprovement
  },
  name: 'ProductCategories',
  data () {
    return {
      category_slug: null,
      title: null,
      userType:JSON.parse(localStorage.getItem('userDetail')).type,
      options: [],
      selected: '',
    }
  },
  created(){
    this.verify_category();
    this.productTypes();
  },
  watch: {
    '$route.params.slug': function (slug, newSlug) {
      this.verify_category();
    }
  },
  methods: {
    SelectProductType(){
      this.$router.push('/products/'+this.selected);
    },
    productTypes(){
      this.$http.get('products/all-products-for-admin').then(response=>{
        //  this.options=    { value: null, text: 'Please select some item' };
        let data=response.data.data.map(item=>({value:item.slug,text:item.title}));
        this.options.push( { value: null, text: 'Please select some item' });
        this.options=data;
      }).catch(error=>{

      });
    },
    verify_category(){
      this.$http.get('verify-product-type/' + this.$route.params.slug)
        .then(response => {
          if(response.data.error){
            this.$router.push(this.$route.query.redirect || '/dashboard')
          }
          this.category_slug = response.data.data.slug;
          this.title = response.data.data.title;
        })
        .catch(error => {
          this.$router.push(this.$route.query.redirect || '/login')
          this.errors = '';
        })
    },
  }
}
</script>
<style scoped>
  .fix-inline a{
    display: inline;
  }
</style>
