<template>
  <div>
    <div class="section w-full md:w-2/3 m-auto justify-center p-6 flex flex-col flex-grow flex-shrink">
      <div class="container px-4 mx-auto">
        <div class="oc-card oc-card-default rounded-xl">
          <div class="small">
            <vue-highcharts  :updateArgs="[true, false]" :options="options" ref="lineCharts"></vue-highcharts>
          </div>
        </div>
      </div>
    </div>

    <div v-for="(item,index) in question"  class="w-full md:w-2/3 m-auto justify-center p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-danger rounded-t rounded-b-none overflow-hidden shadow"
      >
        <div
          class="flex-none m-auto mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
        >

        Q#{{index}}:  {{item.question}}
          <div class="flex items-center justify-start">
            {{item.answer}}
          </div>
        </div>

      </div>



    </div>


  </div>
</template>
<script>
// import VueHighcharts from 'vue2-highcharts'
import _ from 'lodash'
import VueHighcharts from 'vue2-highcharts'
import LastConversation from "@/components/LastConversation";
import LastLead from "@/components/LastLead";
let asyncData =
  {
    data: [
      {
        name: "Chrome",
        y: 62.74,
        drilldown: "Chrome"
      },
      {
        name: "Firefox",
        y: 10.57,
        drilldown: "Firefox"
      },
      {
        name: "Internet Explorer",
        y: 7.23,
        drilldown: "Internet Explorer"
      },
      {
        name: "Safari",
        y: 5.58,
        drilldown: "Safari"
      },
      {
        name: "Edge",
        y: 4.02,
        drilldown: "Edge"
      },
      {
        name: "Opera",
        y: 1.92,
        drilldown: "Opera"
      },
      {
        name: "Other",
        y: 7.62,
        drilldown: null
      }
    ]
  }
export default {

  components: {
    VueHighcharts

  },
  data(){
    return{
      showLine:false,
      datacollection: null,
      question:null,
      options: {
        chart: {
          type: 'column'
        },
        title: {
          text: 'Category Average Rating'
        },
        accessibility: {
          announceNewData: {
            enabled: true
          }
        },
        xAxis: {
          type: 'category'
        },
        yAxis: {
          title: {
            text: 'Total Average'
          }

        },
        legend: {
          enabled: false
        },
        plotOptions: {
          series: {
            borderWidth: 0,
            dataLabels: {
              enabled: true,
              format: '{point.y:.1f}'
            }
          }
        },

        tooltip: {
          headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
          pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> avg<br/>'
        },
        series: []
      }

    }
  },
  created() {
    this.$axios.get('/api/v1/survey/answer/'+this.$route.params.slug+'/'+this.$route.query.user)
    .then(response=>{
     this.question=response.data.data;
      this.load()


    }).catch(error=>{

    })
  },
  methods: {

   async load() {

     await this.$axios.get('/api/v1/average-answer')
        .then(response => {


           asyncData['data'] =  response.data.data.map(item=>( {
            name: item.category,
            y: parseInt(item.average),
             drilldown:item.category
          }));
          // //
          let lineCharts = this.$refs.lineCharts;
           lineCharts.delegateMethod('showLoading', 'Loading...');
          setTimeout(() => {
           lineCharts.addSeries(asyncData);
           lineCharts.hideLoading();
          }, 2000)
          this.showLine = true;


        })


    }
  }
}
</script>
