<template>
  <div>

    <div class="w-25 mb-4 ">
      <div
        class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>
    <div   class="w-full md:w-3/3 p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-danger rounded-t rounded-b-none overflow-hidden shadow"
      >
        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
          <p class="w-25 text-gray-600 text-xs md:text-sm px-6 mt-6">
            Enrollment Fee ${{item?item.fees:''}}
          </p>
          <div class="w-full font-bold text-xl text-gray-800 px-6">
            {{item?item.title:''}}
          </div>
          <p class="text-gray-600 text-base px-6 mb-5">
            {{item?item.description:""}}
          </p>
        </a>
      </div>

      <div
        class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
      >
        <div class="w-full md:w-3/3 p-6">
          <button @click="makepaymentstrip"
                  class="mx-auto justify-start lg:mx-0 hover:underline gradient2 text-gray-800 font-extrabold rounded my-6 py-4 px-8 shadow-lg"
          >
            Stripe card
          </button>
          <button @click="makepaymentsofort"
                  class="mx-auto justify-center lg:mx-0 hover:underline gradient2 text-gray-800 font-extrabold rounded my-6 py-4 px-8 shadow-lg"
          >
            Sofort
          </button>
          <button @click="makepaymentpaypal"
                  class="mx-auto justify-end lg:mx-0 hover:underline gradient2 text-gray-800 font-extrabold rounded my-6 py-4 px-8 shadow-lg"
          >
            Paypal
          </button>
        </div>

      </div>
    </div>






    <section class="bg-white border-b py-8">

    </section>
  </div>
</template>
<style scoped>

</style>
<script>

export default {
  data(){
    return{
      card:null,
      item:null
    }
  },
  head () {
    return {
      title: 'Payment Page - My awesome project', // Other meta information
      script: [
        { hid: 'stripe', src: '<https://js.stripe.com/v3/>', defer: true }
      ]
    }
  },
  mounted() {
    this.$axios.get('api/v1/survey/get-by-slug/'+this.$route.params.slug)
      .then(res=>{
        this.item=res.data.data.data;
      }).catch(error=>{
      console.log('no');
    })

  },
  methods:{
    makepaymentstrip(){
      $nuxt.$router.push('/home/'+this.$route.params.slug+'/strip-card');

    },
    makepaymentpaypal(){
      $nuxt.$router.push('/home/'+this.$route.params.slug+'/paypal-payment');

    },
    makepaymentsofort(){
      $nuxt.$router.push('/home/'+this.$route.params.slug+'/sofort-payment');

    }

  }

}
</script>
