<template>
  <div>

    <div   class="w-full md:w-2/3 m-auto justify-center p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-danger rounded-t rounded-b-none overflow-hidden shadow"
      >
        <div
          class="flex-none m-auto mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
        >
          <vue-tabs>
            <v-tab title="Stripe payment">

             <div style="margin: auto;width: 80%;padding: 20px;">
               <div class="mb-4">
                 <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                   Name
                 </label>
                 <input type="text" v-model="stripeCard.name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"  placeholder="Name">
               </div>
               <div class="mb-4">
                 <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                   Email
                 </label>
                 <input type="email" name="email" v-model="stripeCard.email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email"  placeholder="Email">
               </div>

               <div class="mb-4">
               <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Credit card
              </label>

              <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  id="card-element">
                <!-- A Stripe Element will be inserted here. -->
              </div>
               </div>
              <div class="flex items-center justify-start">
                <button  @click="payWithcredit"
                         class="mx-auto lg:mx-0 hover:underline gradient2 text-gray-800 font-extrabold rounded my-6 py-4 px-8 shadow-lg"
                >
                  Pay with credit card${{item?item.fees:''}}
                </button>
              </div>
             </div>
            </v-tab>

            <v-tab title="Sofort payment">
              <div style="margin: auto;width: 80%;padding: 20px">
                <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Name
                  </label>
                  <input type="text" name="name" v-model="stripeSofort.name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"  placeholder="Name">
                </div>
                <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Email
                  </label>
                  <input type="email" name="email" v-model="stripeSofort.email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email"  placeholder="Email">
                </div>

<!--                <button  @click="paywithSofort"-->
<!--                         class="mx-auto lg:mx-0 hover:underline gradient2 text-gray-800 font-extrabold rounded my-6 py-4 px-8 shadow-lg"-->
<!--                >-->
<!--                  Pay with Sofort${{item?item.fees:''}}-->
<!--                </button>-->
              </div>
            </v-tab>

            <v-tab title="Paypal">

              <div style="margin: auto;width: 80%;padding: 20px">
                <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Name
                  </label>
                  <input type="text" name="name" v-model="paypal.name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"  placeholder="Name">
                </div>
                <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Email
                  </label>
                  <input type="email" name="email" v-model="paypal.email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email"  placeholder="Email">
                </div>


                <PayPal

                amount="10.00"
                currency="USD"
                :client="credentials"
                :items="myItems"
                @payment-authorized="payment_authorized_cb"
                @payment-completed="payment_completed_cb"
                @payment-cancelled="payment_cancelled_cb"

                env="sandbox">
                Paypal
              </PayPal>
              </div>

            </v-tab>
          </vue-tabs>
        </div>
      </div>



    </div>
  </div>
</template>
<script>
import {VueTabs, VTab} from 'vue-nav-tabs'
import PayPal from 'vue-paypal-checkout'
//you can also import this in your style tag
import 'vue-nav-tabs/themes/vue-tabs.css'
let stripe;
let elements;
let card;
export default {
  components: {
    VueTabs,
    VTab,
    PayPal

  },
  middleware: ['auth'],
  data(){
    return{
      stripeCard:{
        name:"",
        email:"",
      },
      stripeSofort:{
        name:"",
        email:"",
      },
      paypal:{
        name:"",
        email:"",
      },
      credentials: {
        sandbox: 'Afs2otxbjNC65-H8iYn4TsLHVHtosuzPU1JIrImT8epSvgDYqneEKEsClyrPohMRms7d-qbPhYtQRu1r',
        production: '<production client id>'
      },


      card:null,
      item:null,
      success:false,
      paymenterror:false
    }
  },
  mounted() {
    stripe = this.$stripe.import()
    elements = stripe.elements()

    card = elements.create('card')
    card.mount("#card-element")
       // this.checkPayment();
  },
  methods:{
    payment_authorized_cb(res){
        console.log(res)
    },
    payment_completed_cb(res){
      console.log(res)
    },
    payment_cancelled_cb(res){
      console.log(res)
    },
    paywithSofort(){
      // stripe.createSource({
      //   type: 'sofort',
      //   amount: 1099,
      //   currency: 'eur',
      //
      //   redirect: {
      //
      //     return_url: 'https://shop.example.com/crtA6B28E1?amount=10099&email="arsalanqayum332@gmail.com"',
      //   },
      //   sofort: {
      //     country: 'DE',
      //   },
      // }).then(function(result) {
      //   // handle result.error or result.source
      //   window.location=result.source.redirect.url;
      // });
    },
    checkPayment(){

      this.$axios.
      get('api/v1/survey/check-payment/'+this.$route.params.slug).
      then(response=>{
         if(response.data.error===true)
         {
           this.getSurvey();
         }
         else
         {
           $nuxt.$router.push('/home/'+this.$route.params.slug+'/question');
         }
      })
      .catch(error=>{

      })
    },
    getSurvey(){
      this.$axios.get('api/v1/survey/get-by-slug/'+this.$route.params.slug)
        .then(res=>{
          this.item=res.data.data.data;
        }).catch(error=>{
        console.log('no');
      })
    },
    submitPayment () {
      stripe.createToken(card)
        .then(result => {
          if (result.error) {
            console.log(result.error)
          } else {

            console.log(result.token)
            this.$axios.
            post('api/v1/survey/check',
              {'token':result.token.id,
                'price':this.item.fees,
                'survey_id':this.item.id
              }).
            then(res=>{
             this.success=true;
             this.paymenterror=false;
             this.checkPayment();
            }).catch(error=>{
              this.success=false;
              this.paymenterror=true;

            });
            // handle stripe charge logic here.
          }
        })
    },

  }
}
</script>
