<template>
  <div>

    <div   class="w-full md:w-2/3 m-auto justify-center p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-danger rounded-t rounded-b-none overflow-hidden shadow"
      >
        <div
          class="flex-none m-auto mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
        >
          <vue-tabs>
            <v-tab title="Stripe payment">
              <div style="margin: auto;width: 80%;padding: 20px">
                <div class="mb-4">
                  <label v-bind:class="errors.name?'text-red-500':''" class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Name
                  </label>
                  <input type="text" v-bind:class="errors.name?'border-red-500':''" v-model="paypal.name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"  placeholder="Name">
                  <p v-if="errors.name" class="text-red-500 text-xs ">{{errors.name[0]}}</p>
                </div>
                <div class="mb-4">
                  <label v-bind:class="errors.email?'text-red-500':''" class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Email
                  </label>
                  <input type="email" v-bind:class="errors.email?'border-red-500':''" name="email" v-model="paypal.email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email"  placeholder="Email">
                  <p v-if="errors.email" class="text-red-500 text-xs ">{{errors.email[0]}}</p>
                </div>
                <div class="mb-4">
                  <label v-bind:class="errors.age?'text-red-500':''" class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Age
                  </label>
                  <input type="text" v-bind:class="errors.age?'border-red-500':''" name="age" v-model="paypal.age" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="age"  placeholder="Age">
                  <p v-if="errors.age" class="text-red-500 text-xs ">{{errors.age[0]}}</p>
                </div>
                <div class="mb-4">
                  <label v-bind:class="errors.country?'text-red-500':''" class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Country
                  </label>
                  <input type="text" v-bind:class="errors.country?'border-red-500':''" name="country" v-model="paypal.country" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="country"  placeholder="Country">
                  <p v-if="errors.country" class="text-red-500 text-xs ">{{errors.country[0]}}</p>
                </div>

                <no-ssr>
                  <paypal-checkout

                  :amount="item.fees"
                  currency="USD"
                  v-if="paypalStatus"
                  :client="credentials"

                  @payment-authorized="payment_authorized_cb"
                  @payment-completed="payment_completed_cb"
                  @payment-cancelled="payment_cancelled_cb"

                  env="sandbox">
                  Paypal
                  </paypal-checkout>
                </no-ssr>
                <button v-if="!paypalStatus" @click="paypalSubmit"
                         class="mx-auto lg:mx-0 hover:underline gradient2 text-gray-800 font-extrabold rounded my-6 py-4 px-8 shadow-lg"
                >
                  Pay With Paypal ${{item?item.fees:''}}
                </button>
              </div>

            </v-tab>



          </vue-tabs>
        </div>
      </div>



    </div>
  </div>
</template>
<script>

// import PayPal from 'vue-paypal-checkout'
//you can also import this in your style tag

export default {
  components:{

  },
  data(){
    return{
      errors:[],
      paypalStatus:false,
      item:null,
      code:null,
      paypal:{
        name:"",
        email:"",
        age:"",
        country:""
      },
      credentials: {
        sandbox: 'Afs2otxbjNC65-H8iYn4TsLHVHtosuzPU1JIrImT8epSvgDYqneEKEsClyrPohMRms7d-qbPhYtQRu1r',
        production: '<production client id>'
      },
    }
  },
  created() {
    this.getSurvey();
    this.code= this.randomString(8,'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');
  },

  methods:{
    randomString(length, chars) {
      var result = '';
      for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
      return result;
    },
    paypalSubmit(){
      this.$axios.post('/api/v1/survey/sofort',
        {
          'name':this.paypal.name,
          'country':this.paypal.country,
          'age':this.paypal.age,

          'email':this.paypal.email
        }
        )
        .then(response=>{
          this.paypalStatus=true;
          this.errors=[];
        }).catch(error=>{
        if(error.response.status==422){
          this.errors=error.response.data.errors;
        }
      })
    },
    getSurvey(){
      this.$axios.get('/api/v1/survey/get-by-slug/'+this.$route.params.slug)
        .then(response=>{
          this.item=response.data.data.data;
        })
    },
    payment_authorized_cb(res){

    },
    payment_completed_cb(res){
      this.$axios.post('/api/v1/survey/sofort/payment',
        {
          name:this.paypal.name,
          email:this.paypal.email,
          age:this.paypal.age,
          country:this.paypal.country,
          survey_id:this.item.id,
          code:this.code,
          amount:this.item.fees
        }
      )
        .then(response=>{

          localStorage.setItem('user',JSON.stringify(response.data.user));
          $nuxt.$router.push('/home/'+this.$route.params.slug+'/paypal-success');
        })
        .catch(error=>{

        })
    },
    payment_cancelled_cb(res){
      $nuxt.$router.push('/home/'+this.$route.params.slug+'/payment-cancel');
    },
  }
}
</script>
