<template>
  <div>

    <div class="w-25 mb-4 ">
      <div
        class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>

    <div v-if="staticStatus "  class="w-full md:w-3/3 p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-danger rounded-t rounded-b-none overflow-hidden shadow"
      >
        <div class="mt-4 p-6">
          <span class="text-gray-700">{{staticQuestion[0]?staticQuestion[0].question:""}}</span>
          <div class="mt-2">
            <label v-if="staticQuestion[0]?staticQuestion[0].option_a:false" class="inline-flex items-center">
              <input type="radio" v-model="answer_one" class="form-radio" name="question_one" v-bind:value="staticQuestion[0]?staticQuestion[0].option_a:''">
              <span class="ml-2">{{staticQuestion[0]?staticQuestion[0].option_a:''}}</span>
            </label>
            <label v-if="staticQuestion[0]?staticQuestion[0].option_b:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_one" class="form-radio" name="question_one" v-bind:value="staticQuestion[0]?staticQuestion[0].option_b:''">
              <span class="ml-2">{{staticQuestion[0]?staticQuestion[0].option_b:''}}</span>
            </label>
            <label v-if="staticQuestion[0]?staticQuestion[0].option_c:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_one" class="form-radio" name="question_one" v-bind:value="staticQuestion[0]?staticQuestion[0].option_c:''">
              <span class="ml-2">{{staticQuestion[0]?staticQuestion[0].option_c:''}}</span>
            </label>
            <label v-if="staticQuestion[0]?staticQuestion[0].option_d:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_one" class="form-radio" name="question_one" v-bind:value="staticQuestion[0]?staticQuestion[0].option_d:''">
              <span class="ml-2">{{staticQuestion[0]?staticQuestion[0].option_d:''}}</span>
            </label>
            <label v-if="staticQuestion[0]?staticQuestion[0].option_e:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_one" class="form-radio" name="question_one" v-bind:value="staticQuestion[0]?staticQuestion[0].option_e:''">
              <span class="ml-2">{{staticQuestion[0]?staticQuestion[0].option_e:''}}</span>
            </label>
            <label v-if="staticQuestion[0]?staticQuestion[0].option_f:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_one" class="form-radio" name="question_one" v-bind:value="staticQuestion[0]?staticQuestion[0].option_f:''">
              <span class="ml-2">{{staticQuestion[0]?staticQuestion[0].option_f:''}}</span>
            </label>
          </div>
        </div>
        <div class="mt-4 p-6">
          <span class="text-gray-700">{{staticQuestion[1]?staticQuestion[1].question:''}}</span>
          <div class="mt-2">
            <label v-if="staticQuestion[1]?staticQuestion[1].option_a:false" class="inline-flex items-center">
              <input type="radio" v-model="answer_two"  class="form-radio" name="question_two" v-bind:value="staticQuestion[1]?staticQuestion[1].option_a:''">
              <span class="ml-2">{{staticQuestion[1]?staticQuestion[1].option_a:''}}</span>
            </label>
            <label v-if="staticQuestion[1]?staticQuestion[1].option_b:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_two"  class="form-radio" name="question_two" v-bind:value="staticQuestion[1]?staticQuestion[1].option_b:''">
              <span class="ml-2">{{staticQuestion[1]?staticQuestion[1].option_b:''}}</span>
            </label>
            <label v-if="staticQuestion[1]?staticQuestion[1].option_c:false" class="inline-flex items-center ml-6">
              <input type="radio"  v-model="answer_two"  class="form-radio" name="question_two" v-bind:value="staticQuestion[1]?staticQuestion[1].option_c:''">
              <span class="ml-2">{{staticQuestion[1]?staticQuestion[1].option_c:''}}</span>
            </label>
            <label v-if="staticQuestion[1]?staticQuestion[1].option_d:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_two"  class="form-radio" name="question_two" v-bind:value="staticQuestion[1]?staticQuestion[1].option_d:''">
              <span class="ml-2">{{staticQuestion[1]?staticQuestion[1].option_d:''}}</span>
            </label>
            <label v-if="staticQuestion[1]?staticQuestion[1].option_e:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_two"  class="form-radio" name="question_two" v-bind:value="staticQuestion[1]?staticQuestion[1].option_e:''">
              <span class="ml-2">{{staticQuestion[1]?staticQuestion[1].option_e:''}}</span>
            </label>
            <label v-if="staticQuestion[1]?staticQuestion[1].option_f:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_two"  class="form-radio" name="question_two" v-bind:value="staticQuestion[1]?staticQuestion[1].option_f:''">
              <span class="ml-2">{{staticQuestion[1]?staticQuestion[1].option_f:''}}</span>
            </label>
          </div>
        </div>
        <div class="mt-4 p-6">
          <span class="text-gray-700">{{staticQuestion[2]?staticQuestion[2].question:''}}</span>
          <div class="mt-2">
            <label v-if="staticQuestion[2]?staticQuestion[2].option_a:false" class="inline-flex items-center">
              <input type="radio"  v-model="answer_three"  class="form-radio" name="question_three" v-bind:value="staticQuestion[2]?staticQuestion[2].option_a:''">
              <span class="ml-2">{{staticQuestion[2]?staticQuestion[2].option_a:''}}</span>
            </label>
            <label v-if="staticQuestion[2]?staticQuestion[2].option_b:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_three" class="form-radio" name="question_three" v-bind:value="staticQuestion[2]?staticQuestion[2].option_b:''">
              <span class="ml-2">{{staticQuestion[2]?staticQuestion[2].option_b:''}}</span>
            </label>
            <label v-if="staticQuestion[2]?staticQuestion[2].option_c:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_three" class="form-radio" name="question_three" v-bind:value="staticQuestion[2]?staticQuestion[2].option_c:''">
              <span class="ml-2">{{staticQuestion[2]?staticQuestion[2].option_c:''}}</span>
            </label>
            <label v-if="staticQuestion[3]?staticQuestion[3].option_d:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_three" class="form-radio" name="question_three" v-bind:value="staticQuestion[3]?staticQuestion[3].option_d:''">
              <span class="ml-2">{{staticQuestion[3]?staticQuestion[3].option_d:''}}</span>
            </label>
            <label v-if="staticQuestion[4]?staticQuestion[4].option_e:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_three" class="form-radio" name="question_three" v-bind:value="staticQuestion[4]?staticQuestion[4].option_e:''">
              <span class="ml-2">{{staticQuestion[4]?staticQuestion[4].option_e:''}}</span>
            </label>
            <label v-if="staticQuestion[5]?staticQuestion[5].option_f:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_three" class="form-radio" name="question_four" v-bind:value="staticQuestion[5]?staticQuestion[5].option_f:''">
              <span class="ml-2">{{staticQuestion[5]?staticQuestion[5].option_f:''}}</span>
            </label>
          </div>
        </div>
        <div class="mt-4 p-6">
          <span class="text-gray-700">{{staticQuestion[3]?staticQuestion[3].question:''}}</span>
          <div class="mt-2">
            <label v-if="staticQuestion[3]?staticQuestion[3].option_a:false" class="inline-flex items-center">
              <input type="radio"  v-model="answer_four"  class="form-radio" name="question_four" v-bind:value="staticQuestion[3]?staticQuestion[3].option_a:''">
              <span class="ml-2">{{staticQuestion[3]?staticQuestion[3].option_a:''}}</span>
            </label>
            <label v-if="staticQuestion[3]?staticQuestion[3].option_b:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_four" class="form-radio" name="question_four" v-bind:value="staticQuestion[3]?staticQuestion[3].option_b:''">
              <span class="ml-2">{{staticQuestion[3]?staticQuestion[3].option_b:''}}</span>
            </label>
            <label v-if="staticQuestion[3]?staticQuestion[3].option_c:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_four" class="form-radio" name="question_four" v-bind:value="staticQuestion[3]?staticQuestion[3].option_c:''">
              <span class="ml-2">{{staticQuestion[3]?staticQuestion[3].option_c:''}}</span>
            </label>
            <label v-if="staticQuestion[3]?staticQuestion[3].option_d:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_four" class="form-radio" name="question_four" v-bind:value="staticQuestion[3]?staticQuestion[3].option_d:''">
              <span class="ml-2">{{staticQuestion[3]?staticQuestion[3].option_d:''}}</span>
            </label>
            <label v-if="staticQuestion[3]?staticQuestion[3].option_e:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_four" class="form-radio" name="question_four" v-bind:value="staticQuestion[3]?staticQuestion[3].option_e:''">
              <span class="ml-2">{{staticQuestion[3]?staticQuestion[3].option_e:''}}</span>
            </label>
            <label v-if="staticQuestion[3]?staticQuestion[3].option_f:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_four" class="form-radio" name="question_four" v-bind:value="staticQuestion[3]?staticQuestion[3].option_f:''">
              <span class="ml-2">{{staticQuestion[3]?staticQuestion[3].option_f:''}}</span>
            </label>
          </div>
        </div>
        <div class="mt-4 p-6">
          <span class="text-gray-700">{{staticQuestion[4]?staticQuestion[4].question:''}}</span>
          <div class="mt-2">
            <label v-if="staticQuestion[4]?staticQuestion[4].option_a:false" class="inline-flex items-center">
              <input type="radio"  v-model="answer_five"  class="form-radio" name="question_five" v-bind:value="staticQuestion[4]?staticQuestion[4].option_a:''">
              <span class="ml-2">{{staticQuestion[4]?staticQuestion[4].option_a:''}}</span>
            </label>
            <label v-if="staticQuestion[4]?staticQuestion[3].option_b:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_five" class="form-radio" name="question_five" v-bind:value="staticQuestion[4]?staticQuestion[4].option_b:''">
              <span class="ml-2">{{staticQuestion[4]?staticQuestion[4].option_b:''}}</span>
            </label>
            <label v-if="staticQuestion[4]?staticQuestion[4].option_c:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_five" class="form-radio" name="question_five" v-bind:value="staticQuestion[4]?staticQuestion[4].option_c:''">
              <span class="ml-2">{{staticQuestion[4]?staticQuestion[4].option_c:''}}</span>
            </label>
            <label v-if="staticQuestion[4]?staticQuestion[4].option_d:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_five" class="form-radio" name="question_five" v-bind:value="staticQuestion[4]?staticQuestion[4].option_d:''">
              <span class="ml-2">{{staticQuestion[4]?staticQuestion[4].option_d:''}}</span>
            </label>
            <label v-if="staticQuestion[4]?staticQuestion[4].option_e:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_five" class="form-radio" name="question_five" v-bind:value="staticQuestion[4]?staticQuestion[4].option_e:''">
              <span class="ml-2">{{staticQuestion[4]?staticQuestion[4].option_e:''}}</span>
            </label>
            <label v-if="staticQuestion[4]?staticQuestion[4].option_f:false" class="inline-flex items-center ml-6">
              <input type="radio" v-model="answer_five" class="form-radio" name="question_five" v-bind:value="staticQuestion[4]?staticQuestion[4].option_f:''">
              <span class="ml-2">{{staticQuestion[4]?staticQuestion[4].option_f:''}}</span>
            </label>
          </div>
        </div>


      </div>


      <div
        class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
      >
        <button @click="submitStaticQuestion"
                class="mx-auto lg:mx-0 hover:underline gradient2 text-gray-800 font-extrabold rounded my-6 py-4 px-8 shadow-lg"
        >
          Submit answer
        </button>
      </div>
    </div>

    <div  v-if="paymentStatus && !staticStatus" class="w-full md:w-3/3 p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-danger rounded-t rounded-b-none overflow-hidden shadow"
      >
        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
          <p class="w-25 text-gray-600 text-xs md:text-sm px-6 mt-6">

          </p>
          <div class="w-full font-bold text-xl text-gray-800 px-6">
            <div class="mt-4">
              <span class="text-gray-700">{{item?item.question:''}}</span>
              <div class="mt-2">
                <label class="inline-flex items-center">
                  <input type="radio" class="form-radio" v-model="answer" name="answer" value="1">

                </label>
                <label class="inline-flex items-center ml-6">
                  <input type="radio" class="form-radio" v-model="answer" name="answer" value="2">

                </label>
                <label class="inline-flex items-center ml-6">
                  <input type="radio" class="form-radio" name="answer" v-model="answer" value="3">

                </label>
                <label class="inline-flex items-center ml-6">
                  <input type="radio" class="form-radio" name="answer" v-model="answer" value="4">

                </label>
                <label class="inline-flex items-center ml-6">
                  <input type="radio" class="form-radio" name="answer" v-model="answer" value="5">

                </label>
                <label class="inline-flex items-center ml-6">
                  <input type="radio" class="form-radio" name="answer" v-model="answer" value="6">

                </label>
                <label class="inline-flex items-center ml-6">
                  <input type="radio" class="form-radio" name="answer" v-model="answer" value="7">

                </label>

              </div>
            </div>

          </div>

        </a>
      </div>

      <div
        class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
      >
        <div class="flex items-center justify-start">
          <button @click="submitAnswer"
                  class="mx-auto lg:mx-0 hover:underline gradient2 text-gray-800 font-extrabold rounded my-6 py-4 px-8 shadow-lg"
          >
            Submit answer
          </button>
        </div>
      </div>
    </div>
    <div  v-if="paymentStatus && surveyCompeted" class="w-full md:w-3/3 p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-danger rounded-t rounded-b-none overflow-hidden shadow"
      >
        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
          <p class="w-25 text-gray-600 text-xs md:text-sm px-6 mt-6">

          </p>
          <div class="w-full font-bold text-xl text-blue-800 px-6">
            <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
              <strong class="font-bold">Congratulation!</strong>
              <span class="block sm:inline">You have completed survey.</span>
              <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
            </div>

          </div>

        </a>
      </div>

      <div
        class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
      >
      </div>
    </div>
    <div  v-if="!paymentStatus" class="w-full md:w-3/3 p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-danger rounded-t rounded-b-none overflow-hidden shadow"
      >
        <a href="#" class="flex flex-wrap no-underline hover:no-underline">

          <div class="w-full font-bold text-xl text-gray-800 px-6">
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
              <strong class="font-bold">Sorry!</strong>
              <span class="block sm:inline">Please make payment to start.</span>
              <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
            </div>

          </div>

        </a>
      </div>

      <div
        class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
      >
        <div class="flex items-center justify-start">

        </div>
      </div>
    </div>






    <section class="bg-white border-b py-8">

    </section>
  </div>
</template>
<script>

export default {
  middleware: [],
data(){
  return{
    answer:null,
    item:null,
    staticStatus:false,
    surveyCompeted:false,
    paymentStatus:false,
    user:null,
    answer_one:"",
    answer_two:"",
    answer_three:"",
    answer_five:"",
    answer_foure:"",
    staticQuestion:[]
  }
},
  created() {
  // this.user=  JSON.parse(window.localStorage.getItem('user'));
    this.getStaticQuestion();

  },
  mounted() {
    this.$axios.get('/api/v1/user/'+this.$route.query.user).then(res=>{
      localStorage.setItem('user',JSON.stringify(res.data.data));
    this.user=  JSON.parse(window.localStorage.getItem('user'));
      this.checkPayment();
    })
    .catch(error=>{

    });
  },
  methods:{
    submitStaticQuestion(){

      this.$axios.post('/api/v1/static-question',
        {
         'answer_one':this.answer_one,
         'answer_two':this.answer_two,
         'answer_three':this.answer_three,
         'answer_four':this.answer_four,
         'answer_five':this.answer_five,
          'survey_id':this.item.survey_id,


          'user_id':this.user.id,
        }
        ).then(response=>{
          this.paymentStatus=true;
          this.staticStatus=false;
      });
    },
    getStaticQuestion(){
      this.$axios.get('/api/v1/static-question')
      .then(response=>{
        this.staticQuestion=response.data.data;
      })

    },
    makepayment(){
      $nuxt.$router.push('/home/'+this.$route.params.slug+'/payment');
    },
    submitAnswer(){

      this.$axios.post('/api/v1/question/answer',
        {
          'survey_id':this.item.survey_id,
          'question_id':this.item.id,
          'answer':this.answer,
          'user_id':this.user.id,
        }).then(response=>{
          this.answer=null;
          this.getQuestion();
      })

    },
    checkPayment(){
      this.$axios.
      post('api/v1/survey/check-survey-payment',
        {
          'slug':this.$route.params.slug,
          'code':this.$route.query.code
        }).
      then(response=>{
        if(response.data.error===false)
        {
          this.paymentStatus=true;
          this.staticStatus=false;
          this.getQuestion();
        }
        else
        {

          this.paymentStatus=false;


        }
      })
        .catch(error=>{

        })
    },
    getCheckStatic(){
      this.$axios.post('/api/v1/check-attempt',{
        'user_id':this.user.id,
        'survey_id':this.item.survey_id
      })
      .then(response=>{
        if(response.data.data.length==0){
          this.staticStatus=false;
        }else{
          this.staticStatus=true;
        }
      })
    },
    getQuestion(){
      this.$axios.get('/api/v1/survey/question/'+this.$route.params.slug+'?user='+this.user.id)
      .then(res=>{

        this.item=res.data.data[0];
        this.getCheckStatic();
      }).catch(error=>{
        console.log(error.response.status);
          if(error.response.status==403){
           this.$axios.post('/api/v1/survey/update-survey-payment'
           ,{code:this.$route.query.code,
             slug:this.$route.params.slug}).then(res=>{
             $nuxt.$router.push('/home/'+this.$route.params.slug+'/survey-completed?code='+this.$route.query.code+'&user='+this.user.id);
           });

          }
      })
    }
  }
}
</script>
