<template>
  <div>

    <div   class="w-full md:w-2/3 m-auto justify-center p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-danger rounded-t rounded-b-none overflow-hidden shadow"
      >
        <div
          class="flex-none m-auto mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
        >
          <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
            <div class="flex">
              <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
              <div>
                <p class="font-bold">Congratulation </p>
                <p class="text-sm">You had made payment successfully.You will receive an email to complete survey.</p>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</template>
<script>
export default {
  data(){
    return{
      name:null,
      email:null,
      amount:null,
      code:null,
      survey_id:null,
      redirect_status:null
    }
  },
  created() {
   this.amount  = this.$route.query.amount;
   this.name  = this.$route.query.name;
   this.email  = this.$route.query.email;
   this.code  = this.$route.query.code;
   this.survey_id  = this.$route.query.survey_id;
   this.redirect_status  = this.$route.query.redirect_status;
   if(this.redirect_status=='failed'){
     this.$nuxt.$router.push('/home/'+this.$route.params.slug+'/payment-cancel');
     return
   }
   this.saveRecord();
  },
  methods:{
    saveRecord(){
    this.$axios.post('/api/v1/survey/sofort/payment',
      {
        name:this.name,
        email:this.email,
        survey_id:this.survey_id,
        code:this.code,
        amount:this.amount,
        age:this.$route.query.age,
        country:this.$route.query.country,
      }
      )
      .then(response=>{
       localStorage.setItem('user',JSON.stringify(response.data.user));
      })
      .catch(error=>{

      })
    }
  }
}
</script>
