<template>
  <div>

    <div   class="w-full md:w-2/3 m-auto justify-center p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-danger rounded-t rounded-b-none overflow-hidden shadow"
      >
        <div
          class="flex-none m-auto mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
        >
          <vue-tabs>
            <v-tab title="Stripe payment">
              <div style="margin: auto;width: 80%;padding: 20px">
                <div class="mb-4">
                  <label v-bind:class="errors.name?'text-red-500':''" class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Name
                  </label>
                  <input type="text" v-bind:class="errors.name?'border-red-500':''" v-model="stripeSofort.name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"  placeholder="Name">
                  <p v-if="errors.name" class="text-red-500 text-xs ">{{errors.name[0]}}</p>
                </div>
                <div class="mb-4">
                  <label v-bind:class="errors.email?'text-red-500':''" class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Email
                  </label>
                  <input type="email" v-bind:class="errors.email?'border-red-500':''" name="email" v-model="stripeSofort.email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email"  placeholder="Email">
                  <p v-if="errors.email" class="text-red-500 text-xs ">{{errors.email[0]}}</p>
                </div>
                <div class="mb-4">
                  <label v-bind:class="errors.age?'text-red-500':''" class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Age
                  </label>
                  <input type="text" v-bind:class="errors.age?'border-red-500':''" name="email" v-model="stripeSofort.age" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="age"  placeholder="Age">
                  <p v-if="errors.age" class="text-red-500 text-xs ">{{errors.age[0]}}</p>
                </div>
                <div class="mb-4">
                  <label v-bind:class="errors.country?'text-red-500':''" class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Country
                  </label>
                  <input type="text" v-bind:class="errors.country?'border-red-500':''" name="country" v-model="stripeSofort.country" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="country"  placeholder="Country">
                  <p v-if="errors.country" class="text-red-500 text-xs ">{{errors.country[0]}}</p>
                </div>



                <button  @click="paywithSofort"
                                         class="mx-auto lg:mx-0 hover:underline gradient2 text-gray-800 font-extrabold rounded my-6 py-4 px-8 shadow-lg"
                                >
                                  Pay with Sofort ${{item?item.fees:''}}
                                </button>
              </div>

            </v-tab>



          </vue-tabs>
        </div>
      </div>



    </div>
  </div>
</template>
<script>

let stripe;
let elements;
let card;
export default {
  data(){
    return{

      stripeSofort:{
        name:"",
        email:"",
        age:"",
        country:""
      },
      errors:[],
      item:null,
      code:null,
    }
  },
  mounted() {
    stripe = this.$stripe.import()



    this.getSurvey();
   this.code= this.randomString(8,'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');
  },

  methods:{
    randomString(length, chars) {
      var result = '';
      for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
      return result;
    },
    getSurvey(){
      this.$axios.get('/api/v1/survey/get-by-slug/'+this.$route.params.slug)
        .then(response=>{
          this.item=response.data.data.data;
        })
    },
    paywithSofort(){
    this.$axios.post('/api/v1/survey/sofort',
      {
        'name':this.stripeSofort.name,
        'email':this.stripeSofort.email,
        'age':this.stripeSofort.age,
        'country':this.stripeSofort.country
      }
      )
      .then(
        response=>
        {
        this.submitPayment();

        }
      )
      .catch(
        error=>
        {
          if(error.response.status==422)
          {
            this.errors=error.response.data.errors;
          }
        }
    )
    },
    submitPayment(){
      stripe.createSource({
        type: 'sofort',
        amount: this.item.fees,
        currency: 'eur',

        redirect: {

          return_url: "http://localhost:8080/home/"+this.item.slug+"/sofort-success?amount="+this.item.fees+"&email="+this.stripeSofort.email+"&name="+this.stripeSofort.name+"&survey_id="+this.item.id+"&code="+this.code+"&age="+this.stripeSofort.age+"&country="+this.stripeSofort.country,
        },
        sofort: {
          country: 'DE',
        },
      }).then(function(result) {
        // handle result.error or result.source
       // var url=result.source.redirect.url+"&age="+this.stripeSofort.age+"&country="+this.stripeSofort.country;
        window.location=result.source.redirect.url;
      });
    }
  }
}
</script>
