<template>
  <div>

    <div   class="w-full md:w-2/3 m-auto justify-center p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-danger rounded-t rounded-b-none overflow-hidden shadow"
      >
        <div
          class="flex-none m-auto mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
        >

              <div style="margin: auto;width: 80%;padding: 20px;">
                <div class="mb-4">
                  <label v-bind:class="errors.name?'text-red-500':''" class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Name
                  </label>
                  <input type="text" v-bind:class="errors.name?'border-red-500':''" v-model="stripeCard.name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"  placeholder="Name">
                  <p v-if="errors.name" class="text-red-500 text-xs ">{{errors.name[0]}}</p>
                </div>
                <div class="mb-4">
                  <label v-bind:class="errors.email?'text-red-500':''" class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Email
                  </label>
                  <input type="email" v-bind:class="errors.email?'border-red-500':''" name="email" v-model="stripeCard.email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email"  placeholder="Email">
                  <p v-if="errors.email" class="text-red-500 text-xs ">{{errors.email[0]}}</p>
                </div>
                <div class="mb-4">
                  <label v-bind:class="errors.age?'text-red-500':''" class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Age
                  </label>
                  <input type="text" v-bind:class="errors.age?'border-red-500':''" name="age" v-model="stripeCard.age" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email"  placeholder="Age">
                  <p v-if="errors.age" class="text-red-500 text-xs ">{{errors.age[0]}}</p>
                </div>
                <div class="mb-4">
                  <label v-bind:class="errors.country?'text-red-500':''" class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Country
                  </label>
                  <input type="text" v-bind:class="errors.country?'border-red-500':''" name="country" v-model="stripeCard.country" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="country"  placeholder="Country">
                  <p v-if="errors.country" class="text-red-500 text-xs ">{{errors.country[0]}}</p>
                </div>

                <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Credit card
                  </label>

                  <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                  </div>
                </div>
                <div class="flex items-center justify-start">
                  <button  @click="submitPayment"
                           class="mx-auto lg:mx-0 hover:underline gradient2 text-gray-800 font-extrabold rounded my-6 py-4 px-8 shadow-lg"
                  >
                    Pay with credit card ${{item?item.fees:''}}
                  </button>
                </div>
              </div>

        </div>
      </div>



    </div>
  </div>
</template>
<script>

let stripe;
let elements;
let card;
export default {
  data(){
    return{
      stripDetail:null,
      stripeCard:{
        name:"",
        email:"",
        country:"",
        age:""
      },
      item:null,
      errors:[],
      user:null

    }
  },
  mounted() {
    stripe = this.$stripe.import()
    elements = stripe.elements()

    card = elements.create('card')
    card.mount("#card-element")
   this.getSurvey();
  },
  methods:{

    getSurvey(){
       this.$axios.get('/api/v1/survey/get-by-slug/'+this.$route.params.slug)
      .then(response=>{
        this.item=response.data.data.data;
      })
    },
    submitPayment () {

      // stripe.createToken(card)
      //   .then(result => {
      //     console.log(result);
      //     debugger
      //     if (result.error) {
      //       console.log(result.error)
      //     } else {
      //
            this.$axios.
            post('api/stripe-session',
              {
                'price':this.item.fees,
                'name':this.stripeCard.name,
                'email':this.stripeCard.email,
                'title':this.item.title,
                'country':this.stripeCard.country,
                'age':this.stripeCard.age,
                'survey_id':this.item.id
              }).
            then(res=>{
     this.stripDetail=res
       console.log(res.data.id);
              stripe.redirectToCheckout({
                sessionId: res.data.id
              })
              // this.errors=[];
              // localStorage.setItem('user',JSON.stringify(res.data.user));
              // // this.user=JSON.parse(localStorage.getItem('user'));
              //  $nuxt.$router.push('/home/'+this.$route.params.slug+'/success');


            }).catch(error=>{
              if(error.response.status==422){
                this.errors=error.response.data.errors;
                this.error=true;
                this.success=false;
                this.message=error.response.data.data.message;
              }

            });
      //       // handle stripe charge logic here.
      //     }
      //   })
    }
  }
}
</script>
