<template>
    <div>
        <ProductHealthcare v-if="slug=='healthcare'" />
        <ProductHomesRealestate v-if="slug=='homes-real-estate'" />
        <ProductLocalBusiness v-if="slug=='local-business'" />
        <ProductsFitness v-if="slug=='fitness'" />
        <ProductComputersElectronics v-if="slug=='computers-electronics'" />
        <ProductKids v-if="slug=='kids'" />
        <ProductInsuranceFinance v-if="slug=='insurance-finance'" />
        <ProductAutomotive v-if="slug=='automotive'" />
        <ProductHomeImprovements v-if="slug=='home-improvements'" />
    </div>
</template>

<script>
import ProductHealthcare from '@/components/products/forms/ProductHealthcare';
import ProductHomesRealestate from '@/components/products/forms/ProductHomesRealestate';
import ProductLocalBusiness from '@/components/products/forms/ProductLocalBusiness';
import ProductsFitness from '@/components/products/forms/ProductsFitness';
import ProductComputersElectronics from '@/components/products/forms/ProductComputersElectronics';
import ProductKids from '@/components/products/forms/ProductKids';
import ProductInsuranceFinance from '@/components/products/forms/ProductInsuranceFinance';
import ProductAutomotive from '@/components/products/forms/ProductAutomotive';
import ProductHomeImprovements from '@/components/products/forms/ProductHomeImprovements';
export default {
    data() {
        return {
            slug: null,
        }
    },
    components: {
        ProductHealthcare,
        ProductHomesRealestate,
        ProductLocalBusiness,
        ProductsFitness,
        ProductComputersElectronics,
        ProductKids,
        ProductInsuranceFinance,
        ProductAutomotive,
        ProductHomeImprovements
    },
    created(){
        this.slug=this.$route.params.slug;
    },
    computed: {
    },
    methods: {
    
    }
}
</script>