<template>
    <form @submit.prevent="save">
        <h2 class="mb-2">Demographic</h2>
        <div class="oc-grid">
            <div class="w-full md:w-1/2">
                <label for="sex">Sex</label>

                <select v-model="sex" class="oc-form-control">
                    <option>Male</option>
                    <option>Female</option>
                </select>

                <error name="sex"></error>
            </div>

            <div class="w-full md:w-1/2">
                <label for="age">Age</label>

                <select v-model="age" class="oc-form-control">
                    <option>18-24</option>
                    <option>25-34</option>
                    <option>35-44</option>
                    <option>45-54</option>
                    <option>55-64</option>
                    <option>65-74</option>
                    <option>75+</option>
                </select>

                <error name="age"></error>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <!-- <input type="text" v-model="address" placeholder="Address" class="oc-form-control"> -->
                    <client-only>
                    <vue-google-autocomplete
                        id="address"
                        classname="appearance-none block border border-gray-200 border-gray-600 focus:bg-white focus:border-gray-500 focus:outline-none leading-tight mb-3 px-4 py-3 rounded text-gray-700 w-full"
                        placeholder="Search location"
                        v-on:placechanged="getAddressData">
                    </vue-google-autocomplete>
                </client-only>
                    <error name="address"></error>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input type="text" v-model="city" placeholder="City" class="oc-form-control">

                    <error name="city"></error>
                </div>
            </div>

        </div>

        <div class="oc-grid mb-4">
            <div class="w-full">
                <input autocomplete v-model="state" placeholder="state" type="text"  class="oc-form-control">

                <error name="state"></error>
            </div>

            <div class="w-full">
                <label>Country</label>

                <select v-model="location" class="oc-form-control">
                    <option>USA</option>
                </select>

                <error name="location"></error>
            </div>
        </div>

        <div class="mb-4 flex justify-end">
            <button type="submit" class="oc-btn oc-btn-primary rounded">Submit</button>
        </div>

    </form>
</template>



<script>
export default {
    data() {
        return {
            sex: 'Male',
            age: '18-24',
            address: '',
            lat: '',
            lng: '',
            city: '',
            state: '',
            location: 'USA',
        }
    },
    methods: {
        save() {
            const data = {
                sex: this.sex,
                age: this.age,
                address: this.address,
                lat: this.lat,
                lng: this.lng,
                city: this.city,
                state: this.state,
                location: this.location,
            }

            this.$axios.post('/api/v1/registration/add-user-demographics', data).then(res => {
                    this.$store.dispatch('auth/logout');
                }).catch(err => {
                    this.$store.commit('errors/add', err);
                })
        },

        getAddressData(addressData, placeResultData, id) {
		this.address =addressData.route+','+addressData.locality+','+addressData.country;
		this.lat = addressData.latitude;
		this.lng = addressData.longitude;


	},
    }
}
</script>