<template>
    <div>
        <div class="mb-4">
            <p class="mb-3 text-gray-500 text-sm">
                We have sent a verification code to your number, please enter in the column below to verify your account
            </p>
            <div class="flex">
                <input v-model="input_1" @keyup="goToNext" type="text" max="1" class="sms-input w-full mr-1 text-center md:mr-12">
                <input v-model="input_2" @keyup="goToNext" type="text" max="1" class="sms-input w-full mr-1 text-center md:mr-12">
                <input v-model="input_3" @keyup="goToNext" type="text" max="1" class="sms-input w-full mr-1 text-center md:mr-12">
                <input v-model="input_4" @keyup="goToNext" type="text" max="1" class="sms-input w-full mr-1 text-center md:mr-12">
                <input v-model="input_5" @keyup="goToNext" type="text" max="1" class="sms-input w-full mr-1 text-center md:mr-12">
                <input v-model="input_6" @keyup="goToNext" type="text" max="1" class="sms-input text-center w-full">
            </div>
            <span class="text-red-500 text-sm">
                <error name="password_confirmation"></error>
            </span>
        </div>
        <div class="mb-4 flex justify-end">
            <button @click="verifyPhone" class="oc-btn oc-btn-primary rounded">Next</button>
        </div>
    </div>
</template>

<script>
export default {
    middleware: ['auth'],
    data() {
        return {
            input_1:'',
            input_2:'',
            input_3:'',
            input_4:'',
            input_5:'',
            input_6:'',
        }
    },
    methods: {
        verifyPhone() {
            const { input_1, input_2, input_3, input_4, input_5, input_6} = this;
            let sms_code = `${input_1}${input_2}${input_3}${input_4}${input_5}${input_6}`;
            const data = {
                verification_code: sms_code
            }
            this.$axios.post('/api/v1/registration/verify-cell', data).then(res => {
                this.$store.commit('auth/changeIsSendVerification', false);
                this.$store.commit('auth/changeOwnerAvailability', true);
            }).catch(err => {
                this.$store.commit('errors/add', err);
            })
        },
        
        /**
         * Input sms code go to next input
         *
         * @param {Event} e
         */
        goToNext(e) {
            let target = e.srcElement || e.target;
            if(e.target.value.length >= 1) {
                if(e.target.value.length > 1) {
                    e.target.value = String.fromCharCode(e.keyCode ? e.keyCode : e.which);
                }
                let next = target;
                while(next = next.nextElementSibling) {
                    if(next === null) {
                        break;
                    }
                    if(next.tagName.toLowerCase() == 'input') {
                        next.focus();
                        break;
                    }
                }
            } else if(e.target.value.length == 0) {
                let prev = target;
                while(prev = prev.previousElementSibling) {
                    if(prev === null) {
                        break;
                    }
                    if(prev.tagName.toLowerCase() == 'input') {
                        prev.focus();
                        break;
                    }
                }
            }
        }
    }
}
</script>
<style lang="postcss" scoped>
    .sms-input {
        @apply appearance-none border-2 border-gray-300 rounded py-3 px-4 text-gray-700 leading-tight;
    }
</style>