<template>
    <form @submit.prevent="save">
        <h2 class="mb-2">Personal Information</h2>
        <div class="oc-grid">
            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input type="text" v-model="first_name" placeholder="First Name" class="oc-form-control">

                    <error name="first_name"></error>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input type="text" v-model="last_name" placeholder="Last Name" class="oc-form-control">

                    <error name="last_name"></error>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input type="text" v-model="cell_phone" placeholder="Phone Number" class="oc-form-control">

                    <error name="cell_phone"></error>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input type="text" v-model="email" placeholder="Email" class="oc-form-control">

                    <error name="email"></error>
                </div>
            </div>

        </div>

        <div class="oc-grid">
            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input autocomplete v-model="password" type="password" placeholder="Password" class="oc-form-control">

                    <error name="password"></error>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input autocomplete v-model="password_confirmation" type="password" placeholder="Password Confirmation" class="oc-form-control">

                    <error name="password_confirmation"></error>
                </div>
            </div>
        </div>

        <div class="mb-4 flex justify-end">
            <button type="submit" class="oc-btn oc-btn-primary rounded">Next</button>
        </div>

    </form>
</template>

<script>
export default {
    data() {
        return {
            first_name: '',
            last_name: '',
            cell_phone: '',
            email: '',
            password: '',
            password_confirmation: '',
        }
    },
    methods: {
         save() {
                const data = {
                    first_name: this.first_name,
                    last_name: this.last_name,
                    cell_phone: this.cell_phone,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                }

          this.$axios.post('/api/v1/register', data).then(res => {
                    this.$store.commit('auth/changeOwnerRegistration', false);
                    this.$store.commit('auth/changeIsSendVerification', true);
                    this.$store.dispatch('auth/authenticate', res);

                }).catch(err => {
                    this.$store.commit('errors/add', err);
                })
            },
    }
}
</script>