<template>
    <form @submit.prevent="save">
        <h2 class="mb-2 text-xl">Availability Time</h2>

		<div class="mb-4">
			<label for="timezone">Select Timezone</label>

			<div class="radio-toolbar resize-labels flex">
				<div v-for="(ownerTimezone, index) in ownerTimezoneOptions" :key="index">
					<input type="radio" v-model="timezone" :id="`radio${index+1}`" name="radios" :value="ownerTimezone.value">
					<label :for="`radio${index+1}`">{{ownerTimezone.text}}</label>
				</div>

			</div>

			<error name="timezone"></error>
		</div>

		<div class="mb-4">
			<label for="language">Language</label>

			<div class="radio-toolbar resize-labels flex">
				<div class="mr-2">
					<input type="radio" v-model="tag" id="english" name="language" value="English" checked>
					<label for="english">English</label>
				</div>

				<div>
					<input type="radio" id="spanish" v-model="tag" name="language" value="Spanish">
					<label for="spanish">Spanish</label>
				</div>
			</div>

			<error name="tag"></error>
		</div>

		<div class="mb-4">
			<label for="chatTimeSelected">Available Time To Chat</label>

			<div class="radio-toolbar resize-labels flex">
				<div v-for="(chatTime, index) in chatTimeOptions" :key="index" class="mr-2">
					<input type="radio" v-model="chatTimeselected" :id="`${chatTime.value}`" name="time_to_chat" :value="chatTime.value">
					<label :for="chatTime.value">{{chatTime.text}}</label>
				</div>
			</div>

			<error name="chatTimeselected"></error>
		</div>

		<div class="mb-4">
			<label for="prefer_chat">Prefer Chat Option</label>
			<div class="radio-toolbar resize-labels flex">
				<div class="mr-2">
					<input type="radio" v-model="preferedChatSelected" id="sms" name="chat_option" value="SMS" checked>
					<label for="sms">SMS</label>
				</div>

				<div>
					<input type="radio" id="video" v-model="preferedChatSelected" disabled name="chat_option" value="Video">
					<label for="video">Video</label>
				</div>
			</div>

			<error name="preferedChatSelected"></error>
		</div>

        <div class="mb-4 flex justify-end">
            <button type="submit" class="oc-btn oc-btn-primary rounded">Next</button>
        </div>

    </form>
</template>

<script>
export default {
    data() {
        return {

            timezone: 'Eastern Standard Time', // Must be an array reference!
            ownerTimezoneOptions: [
				{ text: 'Eastern Standard Time', value: 'Eastern Standard Time' },
				{ text: 'Central Standard Time', value: 'Central Standard Time' },
				{ text: 'Mountain Standard Time', value: 'Mountain Standard Time' },
				{ text: 'Pacific Standard Time', value: 'Pacific Standard Time' },
				{ text: 'Hawaii Standard Time', value: 'Hawaii Standard Time' },
				{ text: 'Alaska Standard Time', value: 'Alaska Standard Time' },
            ],

            tag: 'English',
            tags: [
            { text: 'English', value: 'english' },
            { text: 'Spanish', value: 'spanish' },
            ],

            chatTimeselected: 'Morning', // Must be an array reference!
            chatTimeOptions: [
				{ text: 'Morning', value: 'Morning' },
				{ text: 'Afternoon', value: 'Afternoon' },
				{ text: 'Evening', value: 'Evening' },
            ],

            preferedChatSelected: 'SMS', // Must be an array reference!
            preferedChat: [
				{ text: 'SMS', value: 'sms' },
				{ text: 'Video', value: 'video', disabled: true },
            ],

        }
    },
    methods: {
        save() {
            const data = {
                time: this.chatTimeselected,
                communication_type: this.preferedChatSelected,
                user_timezone: this.timezone,
                language: this.tag,
            }

            this.$axios.post('/api/v1/registration/available', data).then(res => {
                this.$store.commit('auth/changeOwnerAvailability', false);
                this.$store.commit('auth/changeOwnerProduct', true);
            }).catch(err => {
                this.$store.commit('errors/add', err);
            })
        }
    }
}
</script>