<template>
  <CRow>
    <div class="vld-parent">
      <loading :active.sync="isLoading"
               :is-full-page="fullPage"
               :loader="dots">
      </loading>
      <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
    </div>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CIcon name="cil-grid"/>Matched Active SMS Chat Heads


        </CCardHeader>
        <CCardBody>
          <CDataTable
            :items="usersData"
            :fields="fields"

            table-filter
            items-per-page-select
            :items-per-page="5"
            hover
            sorter
            pagination
          >
            <template #status="{item}">
              <td>
                <CBadge :color="getBadge(item.status)">
                  {{item.status}}
                </CBadge>
              </td>
            </template>
            <template #actions="{item, index}">
              <td class="py-2">


               <!-- <CButton @click="viewSms(item.id)" variant="outline" class="d-sm-down-none" color="success">View</CButton> -->

              <CButton size="sm" v-show="item.chat_lead_status!='terminated'" @click="changeStatus(item.id)"  color="danger">Terminate</CButton>
                <!-- <CButton size="sm" v-show="item.owner_reply=='yes'" @click="ownerbuyerchat(item.id)" variant="outline" color="success">View Chat</CButton> -->
                <CButton size="sm" v-show="item.owner_reply!='yes'"  variant="outline" color="link">No Chat</CButton>

                <router-link
                    variant="outline"
                    v-show="item.owner_reply=='yes'"
                    :to="'/owner-buyer-chat/'+item.id"
                    class="btn btn-outline-success btn-sm"
                >View Chat</router-link>


              </td>
            </template>
            <template #details="{item, index}">
              <CCollapse :show="details.includes(index)">
                <CCardBody>
                  {{index + 1}} - {{item}}
                </CCardBody>
              </CCollapse>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

const fields = [
  { key: 'username', _style:'width:40%' },
  'registered',
  { key: 'role', _style:'width:20%;' },
  { key: 'status', _style:'width:20%;' },
  {
    key: 'show_details',
    label: '',
    _style: 'width:1%',
    sorter: false,
    filter: false
  }
]

export default {
  name: 'Chat Lead Heads',
  components: {
    Loading,
  },
  data () {
    return {
      isLoading: false,
      fullPage: true,
      usersData:[],
      leadId:null,
      fields:[{key:'buyer_name'},{key:'owner_name'},{key:'buyer_cell_phone'},{key:'owner_cell_phone'},{key:'product_name'},
      {key:'chat_lead_status'},{key:'owner_reply'},{key:'created_at'},{key:'actions'}],
      details: [],
    }
  },
  created(){
   this.leadId=this.$route.params.id;
      this.loadLeads();
  },
  methods: {
    ownerbuyerchat(id){
       alert(id);
       this.$router.push('/owner-buyer-chat/'+id);
    },
    changeStatus(id){
     this.$http.post('sms-chat/active-chat-leads-status',{id:id,chat_lead_status:'terminated'}).then(response=>{
     this.loadLeads();
     }).catch(error=>{
       console.log('error');
     })
    },
    loadLeads(){
     this.isLoading = true;
     this.$http.get('sms-chat/active-chat-leads?lead_id='+this.leadId).then(response=>{
         this.isLoading = false;
         this.usersData=response.data.data.data.map(item=>({
             id:item.id,
           buyer_name:item.buyer_first_name,
           owner_name:item.owner_first_name,
           buyer_cell_phone:item.buyer_cell_phone,
           owner_cell_phone:item.owner_cell_phone,
           product_name:item.product_name,
           chat_lead_status:item.chat_lead_status,
           owner_reply:item.owner_reply_to_request,
           created_at:item.created_at,
         }));
      }).catch(error=>{
       this.isLoading = true;
      })
    },
    getBadge (status) {
      return status === 'Active' ? 'success'
             : status === 'Inactive' ? 'secondary'
             : status === 'Pending' ? 'warning'
             : status === 'Banned' ? 'danger' : 'primary'
    },

    toggleDetails (index) {
      const position = this.details.indexOf(index)
      position !== -1 ? this.details.splice(position, 1) : this.details.push(index)
    },

  }
}
</script>
