<template>
  <CRow>
    <div class="vld-parent">
      <loading :active.sync="isLoading">
      </loading>
      <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
    </div>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CIcon name="cil-grid"/>Buyer Chat Requests
        </CCardHeader>
        <CCardBody>
          <CDataTable
            :items="usersData"
            :fields="fields"
            table-filter
            items-per-page-select
            :items-per-page="5"
            hover
            sorter
            pagination
          >
            <template #status="{item}">
              <td>
                <CBadge :color="getBadge(item.status)">
                  {{item.status}}
                </CBadge>
              </td>
            </template>
            <template #actions="{item, index}">
              <td class="py-2">

               <CButtonGroup>
              <CButton @click="viewSms(item.id)" variant="outline" class="d-sm-down-none" color="success">View</CButton>

              <CButton v-show="item.status=='pending'" @click="changeStatus(item.id)" variant="outline" color="danger">Disable</CButton>

            </CButtonGroup>
              </td>
            </template>
            <template #details="{item, index}">
              <CCollapse :show="details.includes(index)">
                <CCardBody>
                  {{index + 1}} - {{item}}
                </CCardBody>
              </CCollapse>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
// import usersData from '../users/UsersData'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

const fields = [
  { key: 'username', _style:'width:40%' },
  'registered',
  { key: 'role', _style:'width:20%;' },
  { key: 'status', _style:'width:20%;' },
  {
    key: 'show_details',
    label: '',
    _style: 'width:1%',
    sorter: false,
    filter: false
  }
]

export default {
  name: 'ChatLeads',
  components: {
    Loading,
  },
  data () {
    return {
      isLoading: false,
      fullPage: true,
      usersData:[],
      fields:[{key:'first_name'},{key:'last_name'},{key:'cell_phone'},{key:'table_name'},{key:'distance'},{key:'age'},{key:'gender'},{key:'location'},{key:'created_at'},{key:'status'},{key:'actions'}],
      details: [],
    }
  },
  created(){
      this.loadLeads();
  },
  methods: {
    viewSms(id){
    this.$router.push('sms-chat-leads/'+id);
    },
    loadLeads(){
     this.isLoading = true;
     this.$http.get('sms-chat/leads').then(response=>{
         this.isLoading = false;
         this.usersData=response.data.data.map(item=>({
           id:item.id,
           first_name:item.first_name,
           last_name:item.last_name,
           cell_phone:item.cell_phone,
           table_name:item.table_name,
           distance:item.distance + ' Miles' ,
           age:item.age,
           gender:item.gender,
           location:item.address,
           status:item.status,
           created_at:item.created_at,
         }));
      }).catch(error=>{
       this.isLoading = false;
      })
    },
    getBadge (status) {
      return status === 'Active' ? 'success'
             : status === 'Inactive' ? 'secondary'
             : status === 'Pending' ? 'warning'
             : status === 'Banned' ? 'danger' : 'primary'
    },

    toggleDetails (index) {
      const position = this.details.indexOf(index)
      position !== -1 ? this.details.splice(position, 1) : this.details.push(index)
    },
    changeStatus(id){

        this.$http.post('sms-chat/lead-status',{
          request_status:'processed',
          id:id
        }).then(response=>{
          this.loadLeads();
        }).catch(error=>{

        })
    }
  }
}
</script>
