<template>
    <div class="section">
        <div class="container px-4 mx-auto">
            <div class="oc card oc-card-default rounded">
                <div class="oc-card-header">
                    <h2 class="text-2xl">Edit Contact</h2>
                </div>

                <div class="oc-card-body">
                    <form @submit.prevent="updateContact">
                        <div class="mb-4 oc-grid">
                            <div class="w-full md:w-1/2">
                                <label for="first_name">First Name</label>
                                <input type="text" v-model="first_name" class="oc-form-control">

                                <error name="first_name"></error>
                            </div>

                            <div class="w-full md:w-1/2">
                                <label for="last_name">Last Name</label>
                                <input type="text" v-model="last_name" class="oc-form-control">

                                <error name="last_name"></error>
                            </div>
                        </div>

                        <div class="mb-4 oc-grid">
                            <div class="w-full md:w-1/2">
                                <label for="email">Email</label>
                                <input type="email" v-model="email" class="oc-form-control">

                                <error name="email"></error>
                            </div>

                            <div class="w-full md:w-1/2">
                                <label for="phone_number">Phone Number</label>
                                <input type="text" v-model="phone_number" class="oc-form-control">

                                <error name="phone_number"></error>
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="other">Other</label>
                            <input type="text" v-model="other" class="oc-form-control">

                            <error name="other"></error>
                        </div>

                        <div class="mb-4">
                            <button type="submit" class="oc-btn oc-btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    head() {
        return {
            title: 'Edit Contact'
        }
    },
    asyncData({$axios, error, params}) {
        return $axios.get(`/api/v1/contacts/${params.ct_id}`).then(res => {
            const { first_name, last_name, email, phone_number, other } = res.data;
            return {
                first_name,
                last_name,
                email,
                phone_number,
                other
            }
        }).catch(err => {
            return error({statusCode: 404, message: 'Cannot Find contact'});
        })
    },
    data() {
        return {
            first_name: '',
            last_name: '',
            email: '',
            phone_number: '',
            other: '',
        }
    },
    methods: {
        updateContact() {
            const data = this.$object.except(this.$data, []);

            const { params } = this.$route;

            this.$axios.patch(`/api/v1/contacts/${this.$route.params.ct_id}`, data).then(res => {
                this.$router.push({name: 'contact_lists.show', params: {slug: params.slug, ctl_id: params.ctl_id}});
            }).catch(err => {
                this.$store.commit('errors/add',err);
            })
        }
    },
}
</script>

<router>
    {
        name: 'contacts.edit'
    }
</router>