<template>
    <div class="section">
        <div class="container px-4 mx-auto">
            <h1 class="font-bold text-3xl">Create Contact</h1>

            <div class="oc-card oc-card-default oc-card-body rounded mt-5">
                <form @submit.prevent="saveContact">
                    <div class="oc-grid mb-4">
                        <div class="w-full md:w-1/2">
                            <label for="first_name">First Name</label>
                            <input type="text" v-model="first_name" name="first_name" class="oc-form-control">

                            <error name="first_name"></error>
                        </div>

                        <div class="w-full md:w-1/2">
                            <label for="last_name">Last Name</label>
                            <input type="text" v-model="last_name" name="last_name" id="" class="oc-form-control">

                            <error name="last_name"></error>
                        </div>
                    </div>

                    <div class="oc-grid mb-4">
                        <div class="w-full md:w-1/2">
                            <label for="email">Email</label>
                            <input type="email" v-model="email" class="oc-form-control">

                            <error name="email"></error>
                        </div>

                        <div class="w-full md:w-1/2">
                            <label for="phone_number">Phone Number</label>
                            <input type="text" v-model="phone_number" class="oc-form-control">

                            <error name="phone_number"></error>
                        </div>
                    </div>

                    <div class="oc-grid mb-4">
                        <div class="w-full md:w-1/2">
                            <label for="contact_list_id">Contact List</label>
                            <select name="contact_list_id" v-model="contact_list_id" class="oc-form-control">
                                <option value="">Select Contact List</option>
                                <option v-for="contact_list in contact_lists" :key="contact_list.id" :value="contact_list.id">
                                    {{contact_list.title}}
                                </option>
                            </select>

                            <error name="contact_list_id"></error>
                        </div>

                        <div class="w-full md:w-1/2">
                            <label for="other">Other ( optional )</label>
                            <input type="text" v-model="other" class="oc-form-control">
                        </div>
                    </div>

                    <div class="mb-4">
                        <button type="submit" class="oc-btn oc-btn-primary rounded">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
    data() {
        return {
            first_name: '',
            last_name: '',
            email: '',
            phone_number: '',
            other: '',
            contact_list_id: ''
        }
    },
    mounted() {
        this.$store.dispatch('contact_lists/index',this.$route.params.slug);
    },
    methods: {
        saveContact() {
            const data = {
                first_name: this.first_name,
                last_name: this.last_name,
                email: this.email,
                phone_number: this.phone_number,
                other: this.other,
                contact_list_id: this.contact_list_id
            }

            this.$axios.post(`/api/v1/contacts`, data).then(res => {
                this.$router.push({name: 'contact_lists.index', params: {slug: this.$route.params.slug}});
            }).catch(err => this.$store.commit('errors/add', err))
        }
    },
    computed: {
        ...mapState({
            contact_lists: state => state.contact_lists.all
        })
    }
}
</script>


<router>
    {
        name: 'contacts.create'
    }
</router>