<template>
    <div class="section">
        <div class="container px-4 mx-auto">
            <h1 class="text-3xl font-bold mb-8">Contacts</h1>

            <div class="flex justify-between mb-6">
                <div>
                    <nuxt-link :to="$ocTo('contacts.create', {slug: $route.params.slug, ctl_id: $route.params.ctl_id})" class="oc-btn oc-btn-primary rounded">Add Contact</nuxt-link>
                </div>

                <div>
                    <nuxt-link :to="`/cd/${$route.params.slug}/contact_lists/import`" class="oc-btn oc-btn-red rounded">Import Contact</nuxt-link>
                </div>
            </div>

            <div class="oc-card oc-card-default overflow-auto rounded-xl">
                <div class="oc-card-body p-0">
                    <table class="oc-table oc-table-striped no-border rounded-xl">
                        <thead>
                            <tr>
                                <th v-if="contacts.data.length">
                                    <input type="checkbox" name="all">
                                </th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <td>Actions</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="contact in contacts.data" :key="contact.id">
                                <td>
                                    <input type="checkbox" :value="contact.id" @change="changeSelected($event,contact.id)" class="contact-lists">
                                </td>
                                <td>{{ contact.first_name || 'N/A'}}</td>
                                <td>{{ contact.last_name || 'N/A' }}</td>
                                <td>{{ contact.email || 'N/A' }}</td>
                                <td>{{ contact.phone_number || 'N/A'}}</td>
                                <td>
                                    <button>
                                        <more-vertical-icon></more-vertical-icon>

                                        <div uk-dropdown="mode:click;">
                                            <ul class="uk-dropdown-nav">
                                                <li>
                                                    <nuxt-link :to="$ocTo('contacts.edit',{slug: $route.params.slug, ctl_id: $route.params.ctl_id, ct_id: contact.id})">Edit</nuxt-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </button>
                                </td>
                            </tr>

                            <tr v-if="!contacts.data.length">
                                <td colspan="6" class="text-center">No Contact</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <oc-pagination :data="contacts"></oc-pagination>
        </div>
    </div>
</template>

<script>
import { MoreVerticalIcon } from 'vue-feather-icons';

export default {
    watchQuery: ['page'],
    components: {
        MoreVerticalIcon,
    },
    asyncData({$axios, params, query}) {
        return $axios.get(`/api/v1/contact_lists/${params.ctl_id}/contacts?page=${query.page}`).then(res => {
            return {
                contacts: res.data
            }
        }).catch(err => {

        })
    }
}
</script>

<router>
    {
        name: 'contact_lists.show'
    }
</router>