<template>
    <div id="contactListModal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body rounded">
            <h2 class="uk-modal-title">Add Contact List</h2>
            <form @submit.prevent="saveContactList">
                <div class="mb-4">
                    <label for="title">Title</label>
                    <input type="text" v-model="title" class="oc-form-control">

                    <error name="title"></error>
                </div>

                <div class="mb-4">
                    <button type="submit" class="oc-btn oc-btn-primary rounded">Save</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            title:'',
        }
    },
    methods: {
        saveContactList() {
            this.$axios.post(`/api/v1/companies/${this.$route.params.slug}/contact_lists`,{title: this.title}).then(res => {
                this.$store.commit('contact_lists/pushContactList', res.data);
                UIkit.modal('#contactListModal').hide()
            }).catch(err => this.$store.commit('errors/add', err))
        }
    }
}
</script>