.talent-category a {
    @apply w-full block;
}

.talent-category a:not(:last-child) {
    @apply mb-3;
}

.talent-vt-category {
    @apply px-1 py-2 text-center overflow-x-auto overflow-y-hidden whitespace-no-wrap;
}

.talent-vt-category li {
    @apply inline-block;
}

.talent-vt-category li a {
    @apply px-3 py-2 text-gray-700 rounded;
}

.talent-vt-category li a.active, .talent-vt-category li a:hover {
    @apply text-blue-800 bg-red-200;
}