<template>
  <div>
     <div class="flex min-h-screen items-center bg-gray-200 py-4">
        <div class="container mx-auto px-4">
            <div class="oc-grid justify-center">
                <div class="w-full md:w-2/3">
                        <div class="oc-card oc-card-default rounded">
                           

                            <div class="oc-card-body">  
                                 <ProductHealthcare v-if="$route.params.slug==='healthcare'" ></ProductHealthcare>
                                 <ProductAutomative v-if="$route.params.slug==='automotive'"></ProductAutomative>
                                 <ProductComputerElectronics v-if="$route.params.slug==='computers-electronics'"></ProductComputerElectronics>
                                 <productfitness v-if="$route.params.slug==='fitness'"></productfitness>
                                 <producthomeimprovement v-if="$route.params.slug==='home-improvements'"></producthomeimprovement>
                                 <productinsurancefinance v-if="$route.params.slug==='insurance-finance'"></productinsurancefinance>
                                 <productkids v-if="$route.params.slug==='kids'"></productkids>
                                 <productlocalbusiness v-if="$route.params.slug==='local-business'"></productlocalbusiness>
                                 <producthomerealstate v-if="$route.params.slug==='homes-real-estate'"></producthomerealstate>
                            </div>
                        </div>
                </div>
            </div>
        </div>
  </div>

    
  </div>
</template>
<script>
import ProductAutomative from "../../../../components/products/forms/ProductAutomotive";
import ProductComputerElectronics from "../../../../components/products/forms/ProductComputersElectronics";
import productfitness from "../../../../components/products/forms/ProductsFitness";
import ProductHealthcare from "../../../../components/products/forms/ProductHealthcare";
import producthomeimprovement from "../../../../components/products/forms/ProductHomeImprovements";
import productinsurancefinance from "../../../../components/products/forms/ProductInsuranceFinance";
import productkids from "../../../../components/products/forms/ProductKids";
import productlocalbusiness from "../../../../components/products/forms/ProductLocalBusiness";
import producthomerealstate from "../../../../components/products/forms/ProductHomesRealestate";

export default {
  components:{
    ProductAutomative,  
    ProductComputerElectronics,
    productfitness,
    ProductHealthcare,
    producthomeimprovement,
    productinsurancefinance,
    productkids,
    productlocalbusiness,
    producthomerealstate
  }
}
</script>