<template>
<!--  <div>{{$route.params.slug}}</div>-->

  <div class="section">
    <div class="container px-4 mx-auto">
    <h1 class="font-bold text-3xl mb-5"><span>{{productType[0] | capitalize}}</span> <span> {{productType[1] | capitalize}}</span> <span> {{productType[2] | capitalize}}</span> </h1>

      <div class="flex justify-end mb-5 items-center">

      </div>

      <div class="oc-card oc-card-default rounded-xl">
        <div class="oc-card-body p-0 overflow-auto">
      <ProductHealthcare v-if="$route.params.slug=='healthcare'"/>
      <productlocalbusiness v-else-if="$route.params.slug=='local-business'"/>
      <productfitness v-else-if="$route.params.slug=='fitness'"/>
      <ProductComputerElectronics v-else-if="$route.params.slug=='computers-electronics'"/>
      <ProductAutomative v-else-if="$route.params.slug=='automotive'"/>

      <producthomeimprovement v-else-if="$route.params.slug=='home-improvements'"/>
      <productinsurancefinance v-else-if="$route.params.slug=='insurance-finance'"/>
      <productkids v-else-if="$route.params.slug=='kids'"/>
      <producthomerealstate v-else-if="$route.params.slug=='homes-real-estate'" />
      </div>
      </div>
    </div>
  </div>







</template>
<script>
import ProductAutomative from "../../../../components/products/ProductAutomative";
import ProductComputerElectronics from "../../../../components/products/ProductComputerElectronics";
import productfitness from "../../../../components/products/ProductFitness";
import ProductHealthcare from "../../../../components/products/ProductHealthcare";
import producthomeimprovement from "../../../../components/products/ProductHomeImprovement";
import productinsurancefinance from "../../../../components/products/ProductInsuranceFinance";
import productkids from "../../../../components/products/ProductKids";
import productlocalbusiness from "../../../../components/products/ProductLocalBusiness";
import producthomerealstate from "../../../../components/products/ProductHomeRealstate";
  export default {
    layout:'dashboard',
    components:{
      ProductAutomative,
      ProductComputerElectronics,
      productfitness,
      ProductHealthcare,
      producthomeimprovement,
      productinsurancefinance,
      productkids,
      productlocalbusiness,
      producthomerealstate,
      productType:[]  

    },
     created(){
        this.productType=this.$route.params.slug.split('-');
    },
    filters: {
     capitalize: function (value) {
    if (!value) return ''
    value = value.toString()
    return value.charAt(0).toUpperCase() + value.slice(1)
       }
    },
  }
</script>
