<template>
  <CRow>
    <div class="vld-parent">
      <loading :active.sync="isLoading"></loading>
    </div>
    <CCol sm="12">
      <CCard>
        <CCardBody>
          <CDataTable
            :items="usersData"
            :fields="fields"
            table-filter
            items-per-page-select
            :items-per-page="10"
            hover
            sorter
            pagination
          >
            <template #status="{item}">
              <td>
                <CBadge :color="getBadge(item.status)">
                  {{item.status==0 ? 'Disabled' : 'Active'}}
                </CBadge>
              </td>
            </template>
            <template #actions="{item, index}">
              <td class="py-2">
                <CButton
                  color="primary"
                  variant="outline"
                  square
                  size="sm"
                  @click="updateStatus(item.status, item.id)"
                >
                  {{item.status==0 ? 'Enable' : 'Disable'}}
                </CButton>
              </td>
            </template>
            <template #verify="{item, index}">
              <td class="py-2">
                <CButton
                  color="primary"
                  variant="outline"
                  square
                  size="sm"
                  @click="approve_status(item.approve_status, item.id)"
                >
                  {{item.approve_status==0 ? 'Verify' : 'Verified'}}
                </CButton>

              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  export default {
    components: {
      Loading,
    },
    name: 'HomesRealEstate',
    data () {
      return {
        isLoading: false,
        fullPage: true,
        usersData:[],
        details: [],
        fields:[{key:'name'},{key:'bought_at'},{key:'type'},{key:'state'},{key:'city'},{key:'created_at'},{key:'status'},{key:'actions'},{key:'verify'}],
      }
    },
    created(){
      this.getProducts();
    },
    methods: {
      getProducts(){
        this.isLoading = true;
        this.$http.get('products/product-home-real-estate/product-listing').then(response=>{
          this.isLoading = false;
          this.usersData=response.data.data.map(item=>({
            id:item.id,
            name:item.name,
            bought_at:item.baught_at,
            state:item.state,
            city:item.city,
            type:item.type,
            status:item.status,
            approve_status:item.approve_status,
            created_at:item.created_at,
          }));
        }).catch(error=>{
          this.isLoading = false;
        })
      },
      updateStatus(status, id){
        if(status){
          var status = 0;
        }else{
          var status = 1;
        }
        this.isLoading = true;
        this.$http.post('/products/update-product-status-by-product-type', {status:status,id:id, table_name:'product_homes_realestate'})
          .then(response => {
            this.isLoading = false;
            this.$alertify.success(response.data.message);
            this.getProducts();
          })
          .catch(error => {
            this.isLoading = false;
            this.error = null;
            this.errors =error.response.data.errors;
          })
      },
      approve_status(status, id){
        if(status){
          var status = 1;
        }else{
          var status = 1;
        }
        this.isLoading = true;
        this.$http.post('/products/verify-product', {approve_status:status,id:id, table_name:'product_homes_realestate'})
          .then(response => {
            this.isLoading = false;
            this.$alertify.success(response.data.message);
            this.getProducts();
          })
          .catch(error => {
            this.isLoading = false;
            this.error = null;
            this.errors =error.response.data.errors;
          })
      },
      getBadge (status) {
        return status === 'Active' ? 'success'
          : status === 'Inactive' ? 'secondary'
            : status === 'Pending' ? 'warning'
              : status === 'Banned' ? 'danger' : 'primary'
      },
      toggleDetails (index) {
        const position = this.details.indexOf(index)
        position !== -1 ? this.details.splice(position, 1) : this.details.push(index)
      }
    }
  }
</script>
