<template>
    <div id="dashboardLayout" class="min-h-screen bg-gray-100">
        <div class="main-container min-h-screen flex flex-col outline-none">
            <div class="main-dashboard flex flex-col flex-grow">
                <Sidebar/>
<!--                <Navbar/>-->
                <nuxt/>
            </div>
        </div>
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</template>

<script>
import Sidebar from '@/components/layouts/dashboard/Sidebar';
import Navbar from '@/components/layouts/dashboard/Navbar';

export default {
    components: {
        Sidebar,
        Navbar
    },
    mounted() {
        this.$store.dispatch('auth/checkToken');
    }
}
</script>
