<template>
    <div>
        <Navbar/>
        <nuxt/>
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</template>

<script>
import Navbar from '@/components/layouts/default/Navbar.vue';

export default {
    components: {
        Navbar
    },
    mounted() {
        this.$store.dispatch('auth/checkToken');
    }
}
</script>
