<template>
    <div>
        <h1>{{error.message}}</h1>
        <nuxt-link to="/home">Go to Home</nuxt-link>
    </div>
</template>

<script>
export default {
    props: ['error'],
    layout: 'minimal'
}
</script>