<template>
    <div>
        <nuxt/>
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        this.$store.dispatch('auth/checkToken');
    }
}
</script>