<template>
	<div class="section">
		<div class="container px-4 mx-auto">
			<h1 class="font-bold text-3xl mb-5">Active Chat Leads</h1>

			<div class="flex justify-end mb-5 items-center">

			</div>

			<div class="oc-card oc-card-default overflow-auto rounded-xl">
				<div class="oc-card-body p-0">
					<table class="oc-table oc-table-striped no-border rounded-xl">
						<thead>
							<tr>
								<th>Buyer name</th>
								<th>Owner name</th>
								<th>Buyer cell phone</th>
								<th>Owner cell phone</th>
								<th>Product name</th>
								<th>Chatlead status</th>
								<th>Owner reply</th>
								<th>Created at</th>
							</tr>
						</thead>

						<tbody  v-if="chathead.length==0">
							<tr class="text-center">
							<td colspan="13">No Active Chat Leads</td>
							</tr>
						</tbody>

						<tbody v-else>
							<tr v-for="(chathead, index) in chathead" :key="index">

								<td>{{chathead.buyer_first_name}}</td>
								<td>{{chathead.owner_first_name}}</td>
								<td>{{chathead.buyer_cell_phone}}</td>
								<td>{{chathead.owner_cell_phone}}</td>
								<td>{{chathead.product_name}}</td>
								<td>{{chathead.chat_lead_status | no_underscore | capitalize}}</td>
								<td>{{chathead.owner_reply_to_request | capitalize}}</td>
								<td>{{chathead.created_at}}</td>

								<td>
									<button type="button">
										<more-vertical-icon></more-vertical-icon>
									</button>
									<div uk-dropdown="mode: click">
										<ul class="uk-nav uk-dropdown-nav">
											<li v-if="chathead.owner_reply_to_request=='yes'">
												<nuxt-link :to="`/sad/chatlead/${$route.params.cl_id}/${chathead.id}`" class="oc-card block oc-display-block oc-text-center oc-card-default oc-card-body oc-margin-bottom">
													View
												</nuxt-link>
											</li>
											<li v-if="chathead.chat_lead_status!='terminated'">
												<button class="font-semibold py-2 px-4" style="color:#4a5568; font-weight:normal"
													@click="updateStatus($route.params.cl_id)"
												>
												 Terminate
												</button>
											</li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
</template>



<script>
import { MoreVerticalIcon } from 'vue-feather-icons';

export default {
	layout:'dashboard',
	components: {
		MoreVerticalIcon
	},
	data() {
		return {
			chathead:[]
		}
	},
	created() {
		this.leadHeads();
	},
	methods:{
		leadHeads(){
			this.$axios.get(`/api/v1/sms-chat/active-chat-leads?lead_id=`+this.$route.params.cl_id).then(res => {
				this.chathead = res.data.data.data;
			}).catch(err => console.log(err))
		},
		updateStatus(id){
			this.$axios.post('/api/v1/sms-chat/active-chat-leads-status', {
				chat_lead_status:'terminated',
				id
			}).then(response => {
				this.leadHeads();
			}).catch(err => console.log(err))
		},

	}
}
</script>
