<template>
  <div>
    <div class="vld-parent">
      <loading :active.sync="isLoading"
               :is-full-page="fullPage"
               :loader="dots">
      </loading>
      <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
    </div>
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <strong>Create Product Type Fields</strong>
          </CCardHeader>
          <CCardBody>
            <CRow>
              <CCol sm="12">
                <CInput
                  label="Title"
                  v-model="fields.title"
                  placeholder="Title"
                />
                <CInput
                  class="hide_id_f"
                  v-model="fields.product_type_id"
                />
                <b-form-invalid-feedback v-if="errors.title" id="input-live-feedback">
                  {{errors.title[0]}}
                </b-form-invalid-feedback>
              </CCol>
              <CCol sm="12">
                <b-form-group label="Field type" >
                  <b-form-select  v-model="fields.type" :options="[ {value:'',text:'Select field type'},{value:'dropdown',text:'dropdown'},{value:'text',text:'text'},{value:'year',text:'year'}]" class=" mb-3"></b-form-select>
                  <b-form-invalid-feedback v-if="errors.type" id="input-live-feedback">
                    {{errors.type[0]}}
                  </b-form-invalid-feedback>
                </b-form-group>
              </CCol>

              <CCol sm="12">
                <b-form-group label="Field Optional or Mandatory" >
                  <b-form-select  v-model="fields.field_level" :options="[ {value:'',text:'Select if optional or mandatory'},{value:'optional',text:'optional'},{value:'mandatory',text:'mandatory'}]" class=" mb-3"></b-form-select>
                  <b-form-invalid-feedback v-if="errors.field_level" id="input-live-feedback">
                    {{errors.field_level[0]}}
                  </b-form-invalid-feedback>
                </b-form-group>
              </CCol>
              <CCol sm="12">
                <b-form-group label="Visibility to buyer" >
                  <b-form-select  v-model="fields.visibility" :options="[ {value:'',text:'Select Visibility'},{value:'yes',text:'yes'},{value:'no',text:'no'}]" class=" mb-3"></b-form-select>
                  <b-form-invalid-feedback v-if="errors.visibility" id="input-live-feedback">
                    {{errors.visibility[0]}}
                  </b-form-invalid-feedback>
                </b-form-group>

              </CCol>
              <CCol sm="12">
                <b-form-group label="Use for title generation" >
                  <b-form-select  v-model="fields.use_for_title_generation" :options="[ {value:'',text:'Select if use of title generation'},{value:'yes',text:'yes'},{value:'no',text:'no'}]" class=" mb-3"></b-form-select>
                  <b-form-invalid-feedback v-if="errors.use_for_title_generation" id="input-live-feedback">
                    {{errors.use_for_title_generation[0]}}
                  </b-form-invalid-feedback>
                </b-form-group>

              </CCol>

              <CCol sm="12">
                <CInput
                  label="Order"
                  disabled
                  v-model="fields.order"
                  placeholder="Enter order"
                />
                <b-form-invalid-feedback v-if="errors.order" id="input-live-feedback">
                  {{errors.order[0]}}
                </b-form-invalid-feedback>
              </CCol>
            </CRow>
          </CCardBody>
          <CCardFooter>
            <CButton type="submit" @click="create()" size="sm" color="primary">Add Product Field Type</CButton>
          </CCardFooter>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>
<script>
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  export default {
    name: "Create Product Type Fields",
    components: {
      Loading
    },
    data() {
      return {
        isLoading: false,
        fullPage: true,
        fields: {
          title:'',
          type:'',
          visibility:'',
          field_level: '',
          use_for_title_generation:'',
          order:'',
          product_type_id: null,
        },

        total: null,

        errors:[],
      };
    },
    created() {
      this.fields.product_type_id = this.$route.params.id;
      this.getAllFields();
    },
    methods:{
      getAllFields(){
        this.isLoading = true;
        this.$http.get('products/get-product-type-all-fields/' + this.fields.product_type_id)
          .then(response => {
            this.isLoading = false;
            this.fields.order = response.data.data;
          })
          .catch(error => {
            this.isLoading = false;
            this.error = null;
            this.errors =error.response.data.errors;
          })
      },
      create(){
        this.isLoading = true;
        this.$http.post('products/add-product-type-fields', this.fields)
          .then(response => {
            this.isLoading = false;
            this.$alertify.success(response.data.message);
            this.$router.push('/product-types-fields/' + this.$route.params.id);
          })
          .catch(error => {
            this.isLoading = false;
            this.error = null;
            this.errors =error.response.data.errors;
          })
      }
    }
  }
</script>
<style scoped>
.hide_id_f{
  display: none;
}
</style>
