<template>
    <div>
      <div class="vld-parent">
        <loading :active.sync="isLoading"
                 :is-full-page="fullPage"
                 :loader="dots">
        </loading>
        <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
      </div>
      <CRow>
        <CCol sm="12">
          <CCard>
            <CCardHeader>
              <strong>Create Product Type</strong>
            </CCardHeader>
            <CCardBody>
              <CRow>
                <CCol sm="12">
                  <CInput
                    label="Product type title"
                    v-model="title"
                    placeholder="Enter product type title"
                  />
                  <b-form-invalid-feedback v-if="errors.title" id="input-live-feedback">
                    {{errors.title[0]}}
                  </b-form-invalid-feedback>
                </CCol>
              </CRow>
            </CCardBody>
            <CCardFooter>
              <CButton type="submit" @click="create()" size="sm" color="primary">Add Product Type</CButton>
            </CCardFooter>
          </CCard>
        </CCol>
      </CRow>
    </div>
</template>
<script>
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  export default {
    name: "Create Product Types",
    components: {
      Loading
    },
    data() {
      return {
        isLoading: false,
        fullPage: true,
        title:'',
        errors:[],
      };
    },
    methods:{
      create(){
        this.isLoading = true;
        this.$http.post('products/add-product-type', {
          title: this.title
        })
          .then(response => {
            this.isLoading = false;
            this.$alertify.success(response.data.message);
            this.$router.push('/product-types');
          })
          .catch(error => {
            this.isLoading = false;
            this.error = null;
            this.errors =error.response.data.errors;
          })
      }
    }
  }
</script>
<style scoped>
.container-fluid{
  background-color: transparent !important;
}
</style>
