<template>
  <div class="some">
    <!--<div class="vld-parent">

      &lt;!&ndash;<label><input type="checkbox" v-model="fullPage">Full page?</label>&ndash;&gt;
    </div>-->
    <CRow>
      <CCol sm="12">

        <CCard>
          <CCardHeader>
            <CIcon name="cil-grid"/> Product Types - <p style="color:#321fdb; display: inline">{{product_type_name}}</p>

            <CButton
              color="primary"
              variant="outline"
              style="float:right;"
              square
              v-if="type_published_status=='draft'"
              size="sm"
              @click="loadProductTypeFields(product_type_id)"
            >
              Add Field
            </CButton>

          </CCardHeader>
          <CCardBody>
            <loading :active.sync="isLoading">
            </loading>
            <CDataTable
              :items="usersData"
              :fields="fields"

              table-filter
              items-per-page-select
              :items-per-page="20"
              hover
              sorter
              pagination
            >
              <!-- <template #actions="{item}">
                 <td>
                   <CBadge :color="getBadge(item.status)">
                     {{item.status}}
                   </CBadge>
                 </td>
               </template>-->
              <template #status="{item}">
                <td>
                  {{item.status?'enabled':'disabled'}}
                </td>
              </template>
              <template #actions="{item, index}">
                <td class="py-2">
                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    v-if="item.type_published_status=='draft'"
                    size="sm"
                    @click="editProductTypeFields(item.id)"
                  >
                    Edit Field
                  </CButton>

                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    v-if="item.type_published_status=='draft'"
                    size="sm"
                    @click="deleteField(item.id)"
                  >
                    {{item.type_published_status=='draft' ? 'Delete' : ''}}
                  </CButton>
                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    v-if="item.type_published_status=='published'"
                    size="sm"
                  >
                    Published
                  </CButton>

                </td>
              </template>
              <template #details="{item, index}">
                <CCollapse :show="details.includes(index)">
                  <CCardBody>
                    {{index + 1}} - {{item}}
                  </CCardBody>
                </CCollapse>
              </template>
            </CDataTable>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
  // import usersData from '../users/UsersData'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  export default {
    name: 'Products Fields Types',
    components: {
      Loading
    },
    data () {
      return {
        isLoading: false,
        fullPage: true,
        usersData:[],
        fields:[{key:'title'},{key:'type'},{key:'visibility'},{key:'use_for_title_generation'},{key:'order'},{key:'created_at'},{key:'actions'}],
        details: [],
        product_type_name: null,
        type_published_status: '',
        product_type_id: null,
      }
    },
    created(){
      this.productTypes();
    },
    methods: {
      deleteField(id){
        //alert(id);
        this.isLoading = true;
        this.$http.post('/products/delete-product-type-field', {id:id})
          .then(response => {
            this.isLoading = false;
            this.productTypes();
          })
          .catch(error => {
            this.isLoading = false;
            this.error = null;
            this.errors =error.response.data.errors;
          })
      },

      editProductTypeFields(id){
        this.$router.push('/edit-product-type-fields/'+id);
      },

      loadProductTypeFields(id){
        this.$router.push('/create-product-type-fields/'+id);
      },

      productTypes(){
        this.isLoading = true;
        this.$http.get('/products/product-type-fields/' + this.$route.params.id).then(response=>{
          this.isLoading = false;
          this.product_type_name = response.data.data[0].product_type_name;
          this.type_published_status = response.data.data[0].type_published_status;
          this.product_type_id = response.data.data[0].product_type_id;
          this.usersData=response.data.data.map(item=>({
            id:item.id,
            title:item.title,
            type:item.type,
            product_type_name:item.product_type_name,
            visibility:item.visibility,
            type_published_status:item.type_published_status,
            product_type_id:item.product_type_id,
            use_for_title_generation:item.use_for_title_generation,
            order:item.order,
            created_at:item.created_at,
          }));
        }).catch(error=>{
          this.isLoading = false;
        })
      },
      getBadge (status) {
        return status === 'Active' ? 'success'
          : status === 'Inactive' ? 'secondary'
            : status === 'Pending' ? 'warning'
              : status === 'Banned' ? 'danger' : 'primary'
      },

      toggleDetails (index) {
        const position = this.details.indexOf(index)
        position !== -1 ? this.details.splice(position, 1) : this.details.push(index)
      }
    }
  }
</script>
