<template>
  <div class="some">
    <!--<div class="vld-parent">

      &lt;!&ndash;<label><input type="checkbox" v-model="fullPage">Full page?</label>&ndash;&gt;
    </div>-->
    <CRow>
      <CCol sm="12">

        <CCard>
          <CCardHeader>
            <CIcon name="cil-grid"/> Product Types
          </CCardHeader>
          <CCardBody>
            <loading :active.sync="isLoading">
            </loading>
            <CDataTable
              :items="usersData"
              :fields="fields"

              table-filter
              items-per-page-select
              :items-per-page="10"
              hover
              sorter
              pagination
            >
             <!-- <template #actions="{item}">
                <td>
                  <CBadge :color="getBadge(item.status)">
                    {{item.status}}
                  </CBadge>
                </td>
              </template>-->
              <template #status="{item}">
                <CBadge :color="getBadge(item.status)">
                  {{item.status?'enabled':'disabled'}}
                </CBadge>
              </template>
              <template #actions="{item, index}">
                <td class="py-2">
                  <!--<CButton
                    color="primary"
                    variant="outline"
                    square
                    v-if="item.pub_status=='draft'"
                    size="sm"
                    @click="loadProductTypeFields(item.id)"
                  >
                    Add Fields
                  </CButton>-->
                  <!--<CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="viewProductTypeFields(item.id)"
                  >
                    View Fields
                  </CButton>-->
                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="updateStatus(item)"
                  >
                    {{item.status==0 ? 'Enable' : 'Disable'}}
                  </CButton>
                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    v-if="item.pub_status== 'draft'"
                    size="sm"
                    @click="publishProductType(item)"
                  >
                    {{item.pub_status== 'draft' ? 'Publish' : 'Unpublish'}}
                  </CButton>
                </td>
              </template>
              <template #details="{item, index}">
                <CCollapse :show="details.includes(index)">
                  <CCardBody>
                    {{index + 1}} - {{item}}
                  </CCardBody>



                </CCollapse>
              </template>
            </CDataTable>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
  // import usersData from '../users/UsersData'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  export default {
    name: 'Products Types',
    components: {
      Loading
    },
    data () {
      return {
        isLoading: false,
        fullPage: true,
        usersData:[],
        fields:[{key:'title'},{key:'slug'},{key:'pub_status'},{key:'created_at'},{key:'status'},{key:'actions'}],
        details: [],
      }
    },
    created(){
      this.productTypes();
    },
    methods: {
      updateStatus(data){
        if(data.status){
          var status = 0;
        }else{
          var status = 1;
        }
        //alert(id);
        this.isLoading = true;
        this.$http.post('/products/update-product-types-status', {status:status,slug:data.slug})
          .then(response => {
            this.isLoading = false;
            this.$alertify.success(response.data.message);
            this.productTypes();
          })
          .catch(error => {
            this.isLoading = false;
            this.error = null;
            this.errors =error.response.data.errors;
          })
      },

      publishProductType(data){

        if(data.pub_status == 'draft'){
          var pub_status = 'published';
        }else{
          var pub_status = 'draft';
        }
        this.isLoading = true;
        this.$http.post('/products/publish-product-types', {pub_status:pub_status,id:data.id})
          .then(response => {
            this.isLoading = false;
            this.$alertify.success(response.data.message);
            this.productTypes();
          })
          .catch(error => {
            this.isLoading = false;
            this.error = null;
            this.errors =error.response.data.errors;
          })
      },

      productTypes(){
        this.isLoading = true;
        this.$http.get('products/product-types').then(response=>{
          this.isLoading = false;
          this.usersData=response.data.data.map(item=>({
            id:item.id,
            title:item.title,
            slug:item.slug,
            pub_status:item.pub_status,
            status:item.status,
            created_at:item.created_at,
          }));
        }).catch(error=>{
          this.isLoading = false;
        })
      },
      getBadge (status) {
        return status === 'Active' ? 'success'
          : status === 'Inactive' ? 'secondary'
            : status === 'Pending' ? 'warning'
              : status === 'Banned' ? 'danger' : 'primary'
      },

      /*loadProductTypeFields(id){
        this.$router.push('create-product-type-fields/'+id);
      },*/
      viewProductTypeFields(id){
        this.$router.push('product-types-fields/'+id);
      },

      toggleDetails (index) {
        const position = this.details.indexOf(index)
        position !== -1 ? this.details.splice(position, 1) : this.details.push(index)
      }
    }
  }
</script>
