<template>
	<div class="section">
		<div class="container px-4 mx-auto">
			<h1 class="font-bold text-3xl mb-5">Chat leads</h1>

			<div class="flex justify-end mb-5 items-center">

			</div>

			<div class="oc-card oc-card-default overflow-y-auto rounded-xl">
				<div class="oc-card-body p-0">
					<table class="oc-table oc-table-striped no-border rounded-xl">
						<thead>
							<tr>
								<th>First name</th>
								<th>Last name</th>
								<th>Cell phone</th>
								<th>Table name</th>
								<th>Distance</th>
								<th>Age</th>
								<th>Gender</th>
								<th>Created at</th>
								<th>status</th>
								<th>Actions</th>
							</tr>
						</thead>

						<tbody  v-if="chatleads.length==0">
							<tr class="text-center">
							<td colspan="13">No Chat Leads</td>
							</tr>
						</tbody>

						<tbody v-else>
							<tr v-for="(chat_lead, index) in chatleads" :key="index">
								<td>{{chat_lead.first_name}}</td>
								<td>{{chat_lead.last_name}}</td>
								<td>{{chat_lead.cell_phone}}</td>
								<td>{{chat_lead.table_name | no_underscore | capitalize}}</td>
								<td>{{chat_lead.distance}}</td>
								<td>{{chat_lead.age}}</td>
								<td>{{chat_lead.gender}}</td>
								<td>{{chat_lead.created_at}}</td>
								<td>{{chat_lead.status}}</td>
								<td>
									<button type="button">
										<more-vertical-icon></more-vertical-icon>
									</button>


									<div uk-dropdown="mode: click">
										<ul class="uk-nav uk-dropdown-nav">
											<li>
												<nuxt-link :to="`/sad/chatlead/${chat_lead.id}`" class="oc-card block oc-display-block oc-text-center oc-card-default oc-card-body oc-margin-bottom">
													View
												</nuxt-link>
											</li>
											<li>
												<button v-if="chat_lead.status!='processed'" class="font-semibold py-2 px-4" style="color:#4a5568; font-weight:normal"
													@click="updateStatus(chat_lead.id)"
												>
												 Terminate
												</button>
											</li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>


					</table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { MoreVerticalIcon } from 'vue-feather-icons';

	export default {
		layout:'dashboard',
		components: {
			MoreVerticalIcon
		},
		data() {
			return {
				chatleads:[]
			}
		},
		created() {
			this.loadLeads();
		},
		methods:{
			loadLeads(){
				this.$axios.get('api/v1/sms-chat/leads').then(res=>{
					this.chatleads = res.data.data;
				}).catch(err => console.log(err))
			},

			updateStatus(id){
				this.$axios.post('api/v1/sms-chat/lead-status',{
					request_status:'processed',
					id:id
				}).then(response => {
					this.loadLeads();
				}).catch(err => console.log(err))
			}
		}
	}

</script>
