<template>
  <div class="section">
    <div class="container px-4 mx-auto">
      <h1 class="font-bold text-3xl mb-5">Buyers</h1>
      <div class="flex justify-end mb-5 items-center">
      </div>
      <div class="oc-card oc-card-default rounded-xl">
        <div class="oc-card-body overflow-auto p-0">
          <table class="oc-table oc-table-striped no-border rounded-xl">
            <thead>
                <tr>
                  <th>Buyer first name</th>
                  <th>Buyer last name</th>
                  <th>Cell phone</th>
                  <th>Created at</th>
                </tr>
            </thead>
            <tbody  v-if="buyer.length==0">
                <tr class="text-center">
                  <td colspan="3">No buyers.</td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr  v-for="item in buyer" :key="item.id">
                  <td>{{item.buyer_first_name}}</td>
                  <td>{{item.buyer_last_name}}</td>
                  <td>{{item.cell_phone}}</td>
                  <td>{{item.created_at}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { MoreVerticalIcon } from 'vue-feather-icons';

  export default {
    layout:'dashboard',
    props: ['company-slug'],
    components: {
      MoreVerticalIcon
    },
    data() {
      return {
        buyer:[]
      }
    },
    created() {
      this.$axios.get('api/v1/buyer-module/buyers').then(res=>{
        this.buyer=res.data.data.data;
      }).catch(error=>{
        console.log('error');
      })
    }
  }

</script>
