<template>
    <div>
      <loading :active.sync="isLoading"></loading>
       <CForm >


                    <b-form-group label="State" >
                         <b-form-select  v-model="form.state" @change="stateFocused" :options="state" class=" mb-3"></b-form-select>
                        <span class="invalid-feedback"> {{errors.state?errors.state[0]:''}}</span>
                    </b-form-group>
                    <CInput
                      label="City"
                      v-model="form.city"
                      placeholder="Enter city name"
                       :invalidFeedback="errors.city?errors.city[0]:''"
                    />
                    <CInput
                      label="Type"
                      v-model="form.type"
                      @input="cityFocused"
                      placeholder="Enter type "
                      :invalidFeedback="errors.type?errors.type[0]:''"

                    />
                      <b-form-group label="Age" >
                         <b-form-select v-model="form.age"   :options="[ {value:'baby-1',text:'Baby-1'},
                         {value:'1-3',text:'1-3'},
                         {value:'3-5',text:'3-5'},
                         {value:'5-7',text:'5-7'},
                         {value:'7-10',text:'7-10'},
                          {value:'10-14',text:'10-14'}


                         ]" class=" mb-3"></b-form-select>
                    <span class="invalid-feedback"> {{errors.age?errors.age[0]:''}}</span>
                    </b-form-group>
                    <CInput
                      label="Bought at"
                      v-model="form.baught_at"
                      placeholder="Enter bought at"
                       :invalidFeedback="errors.baught_at?errors.baught_at[0]:''"

                    />
       </CForm>
    </div>
</template>
<script>
import Loading from 'vue-loading-overlay';
export default {
  props: ['productType'],
components: {
  Loading
},
  data(){
return{
  isLoading:false,
  form:{
	name:"",
	baught_at:"",
	state:"",
	city:"",
	type:"",
	age:'',
	product_type_id:this.productType
},
  errors:[],
 steps: true,
 state:[]
}
  },
  created(){
   this.$http.get('company/state').
   then(res=>{
   this.state=res.data.data.map(item=>({value:item.name,text:item.name}));

   }).catch(err=>{

   });
  },
  methods:{
     cityFocused(){
       this.$emit('city', this.form.city);
      console.log(this.form.city);
      },
      stateFocused(){
        // console.log(this.form.state);
       this.$emit('state', this.form.state);
      },
   async submit(){
      // alert(this.productType);
      this.isLoading=true;
      this.form.name=this.form.type+" "+this.form.age;
    await this.$http.post('products/product-kids/save-product',this.form)
     .then(res=>{
        this.isLoading=false;
     this.steps=true;
     })
     .catch(error=>{
         this.isLoading=false;
       if(error.response.status==422){
       this.errors=error.response.data.errors;
       this.steps=false;
       }
     })
     if(this.steps){
       return true;
     }else{
       return false;
     }
    }
  }
}
</script>
