<template>
    <div>
       <loading :active.sync="isLoading"
               :is-full-page="fullPage"
               :loader="dots">
      </loading>
       <CForm >
                    <b-form-group label="State" >
                         <b-form-select @change="stateFocused" v-model="form.state"  :options="state" class=" mb-3"></b-form-select>
        <span class="invalid-feedback"> {{errors.state?errors.state[0]:''}}</span>
                    </b-form-group>
                    <CInput
                      label="City"
                      v-model="form.city"
                      placeholder="Enter city name"
                      @input="cityFocused"
                      :invalidFeedback="errors.city?errors.city[0]:''"
                      
                    />
                     <b-form-group label="Type" >
                         <b-form-select  v-model="form.type" :options="[ {value:'SFR',text:'SFR'},{value:'multi',text:'multi'},{value:'commercial',text:'Commercial'}]" class=" mb-3"></b-form-select>
        <span class="invalid-feedback"> {{errors.type?errors.type[0]:''}}</span>
                    </b-form-group>
                       
             <CInput
                      label="Bought at"
                      v-model="form.baught_at"
                      placeholder="Enter bought at"
                                             :invalidFeedback="errors.baught_at?errors.baught_at[0]:''"
                      
                    />
               
       </CForm>            
    </div>
</template>
<script>
import Loading from 'vue-loading-overlay';
 export default {
  props: ['productType'],
components: {
  Loading
},
  data(){
return{
 isLoading:false,
  form:{
	name:"",
	baught_at:"",
	state:"",
	city:"",
	type:"",
	product_type_id:this.productType
},
  errors:[],
 steps: true,
 state:[]
}
  },
   created(){
   this.$http.get('company/state'). 
   then(res=>{
   this.state=res.data.data.map(item=>({value:item.name,text:item.name}));

   }).catch(err=>{

   });
  },
  methods:{
     cityFocused(){
       this.$emit('city', this.form.city);
      console.log(this.form.city);
      },
      stateFocused(){
        // console.log(this.form.state);
       this.$emit('state', this.form.state);
      },
   async submit(){
      // alert(this.productType);
      this.isLoading=true;
      this.form.name=this.form.state+" "+this.form.city+" "+this.form.type;
    await this.$http.post('products/product-home-real-estate/save-product',this.form)
     .then(res=>{
     this.steps=true;
     this.isLoading=false;
     })
     .catch(error=>{
       if(error.response.status==422){
       this.errors=error.response.data.errors;
       this.steps=false;
        this.isLoading=false;
       }
     })
     if(this.steps){
       return true;
     }else{
       return false;
     }
    }
  }
}
</script>