<template>
    <div>
      <loading :active.sync="isLoading"></loading>
         <CForm >

                 <b-form-group label="State" >
                         <b-form-select v-model="form.state" @change="stateFocused" :options="state" class=" mb-3">

                         </b-form-select>
                       <span class="invalid-feedback"> {{errors.state?errors.state[0]:''}}</span>
                    </b-form-group>
                    <CInput
                      label="City"
                      v-model="form.city"
                      @input="cityFocused"
                      :invalidFeedback="errors.city?errors.city[0]:''"
                      placeholder="Enter city name"

                    />

                    <CInput
                      label="Make"
                       v-model="form.make"
                       :invalidFeedback="errors.make?errors.make[0]:''"
                      placeholder="Enter make name "

                    />
                    <CInput
                      label="Model"
                       v-model="form.model"
                        :invalidFeedback="errors.model?errors.model[0]:''"
                      placeholder="Enter model name"

                    />
                    <!--<CInput
                      label="year"
                       v-model="form.year"
                       :invalidFeedback="errors.year?errors.year[0]:''"
                      placeholder="Enter year "

                    />-->
                   <b-form-group label="Year" >
                     <b-form-select v-model="form.year"  :options="yearsOptions" class=" mb-3"></b-form-select>
                     <span class="invalid-feedback"> {{errors.year?errors.year[0]:''}}</span>
                   </b-form-group>
                            <CInput
                      label="Bought at"
                      v-model="form.baught_at"
                      :invalidFeedback="errors.baught_at?errors.baught_at[0]:''"
                      placeholder="Enter bought at"

                    />

        </CForm>
    </div>
</template>
<script>
 import MaskedInput from 'vue-text-mask';
 import Loading from 'vue-loading-overlay';
export default {

  props: ['productType'],
  components: {
    MaskedInput,
    Loading
  },
  data(){
return{
    isLoading: false,
  form:{
	name:"",
	baught_at:"",
	make:"",
	model:"",
	year:"",
	product_type_id:this.productType,
	state:null,
	city:""
},
 errors:[],
 steps: true,
 state:[],
  yearsOptions: [
    {
      value: null,
      text: 'Select a year' },
    {
      value: 2020,
      text: 2020,
    },
    {
      value: 2019,
      text: 2019,
    },
    {
      value: 2018,
      text: 2018,
    },
    {
      value: 2017,
      text: 2017,
    },
    {
      value: 2016,
      text: 2016,
    },
    {
      value: 2015,
      text: 2015,
    },
    {
      value: 2014,
      text: 2014,
    },
    {
      value: 2013,
      text: 2013,
    },
    {
      value: 2012,
      text: 2012,
    },
    {
      value: 2011,
      text: 2011,
    },
    {
      value: 2010,
      text: 2010,
    },
    {
      value: 2009,
      text: 2009,
    },
    {
      value: 2008,
      text: 2008,
    },
    {
      value: 2007,
      text: 2007,
    },
    {
      value: 2006,
      text: 2006,
    },
    {
      value: 2005,
      text: 2005,
    },
    {
      value: 2004,
      text: 2004,
    },
    {
      value: 2003,
      text: 2003,
    },
    {
      value: 2002,
      text: 2002,
    },
    {
      value: 2001,
      text: 2001,
    },
    {
      value: 2000,
      text: 2000,
    },
  ],

}
  },
  created(){
   this.$http.get('company/state').
   then(res=>{
   this.state=res.data.data.map(item=>({value:item.name,text:item.name}));

   }).catch(err=>{

   });
  },
  methods:{
     cityFocused(){
       this.$emit('city', this.form.city);
      console.log(this.form.city);
      },
      stateFocused(){
        // console.log(this.form.state);
       this.$emit('state', this.form.state);
      },
   async submit(){
      this.isLoading=true;
         this.form.name=this.form.make + " " + this.form.model + " " + this.form.year;
      // alert(this.productType);
    await this.$http.post('products/product-automotive/save-product',this.form)
     .then(res=>{
     this.steps=true;
     this.isLoading=false;
     })
     .catch(error=>{
       this.isLoading=false;
       if(error.response.status==422){
       this.errors=error.response.data.errors;
       this.steps=false;
       }
     })
     if(this.steps){
       return true;
     }else{
       return false;
     }
    }
  }
}
</script>
