<template>
    <div>
       <loading :active.sync="isLoading"></loading>
       <CForm >

                     <b-form-group label="State" >
                         <b-form-select  @change="stateFocused" v-model="form.state"  :options="state" class=" mb-3"></b-form-select>
                             <span class="invalid-feedback"> {{errors.state?errors.state[0]:''}}</span>
                    </b-form-group>
                    <CInput
                      label="City"
                      v-model="form.city"
                      @input="cityFocused"
                      placeholder="Enter city name"
                       :invalidFeedback="errors.city?errors.city[0]:''"
                    />
                    <b-form-group label="Type" >
                         <b-form-select v-model="form.type"  :options="[ {value:'group',text:'Group'},{value:'personal',text:'Personal'},{value:'app/virtual',text:'App/Virtual'}]" class=" mb-3"></b-form-select>
         <span class="invalid-feedback"> {{errors.type?errors.type[0]:''}}</span>
                    </b-form-group>
                     <CInput
                      label="Trainer"
                      v-model="form.trainer"
                      placeholder="Enter trainer name "
                       :invalidFeedback="errors.trainer?errors.trainer[0]:''"
                    />
                     <CInput
                      label="Bought at"
                      v-model="form.baught_at"
                      placeholder="Enter bought at"
                      :invalidFeedback="errors.baught_at?errors.baught_at[0]:''"

                    />
       </CForm>
    </div>
</template>
<script>
import Loading from 'vue-loading-overlay';
 export default {
  props: ['productType'],
components: {
  Loading
},
  data(){
return{
  isLoading:false,
  form:{
	name:"",
	baught_at:"",
	state:"",
	city:"",
	type:"",
	trainer:"",
	product_type_id:this.productType
},
  errors:[],
 steps: true,
 state:[]
}
  },
  created(){
   this.$http.get('company/state').
   then(res=>{
   this.state=res.data.data.map(item=>({value:item.name,text:item.name}));

   }).catch(err=>{

   });
  },
  methods:{
     cityFocused(){
       this.$emit('city', this.form.city);
      console.log(this.form.city);
      },
      stateFocused(){
        // console.log(this.form.state);
       this.$emit('state', this.form.state);
      },
   async submit(){
      // alert(this.productType);
      this.isLoading=true;
      this.form.name=this.form.type+" "+this.form.trainer;
    await this.$http.post('products/product-fitness/save-product',this.form)
     .then(res=>{
     this.steps=true;
     this.isLoading=false;
     })
     .catch(error=>{
       this.isLoading=false;
       if(error.response.status==422){
       this.errors=error.response.data.errors;
       this.steps=false;
       }
     })
     if(this.steps){
       return true;
     }else{
       return false;
     }
    }
  }
}
</script>
