<template>
    <div >
      <loading :active.sync="isLoading"></loading>
            <CForm >

                    <CInput
                      label="Business type"
                      v-model="form.business_type"
                       :invalidFeedback="errors.business_type?errors.business_type[0]:''"
                      placeholder="Enter business type"

                    />
                    <CInput
                      label="Procedure"
                      v-model="form.procedure_type"
                       :invalidFeedback="errors.procedure_type?errors.procedure_type[0]:''"
                      placeholder="Enter procedure "

                    />


                           <b-form-group label="State" >
                         <b-form-select @change="stateFocused"  v-model="form.state" :options="state" class=" mb-3"></b-form-select>
                             <span class="invalid-feedback"> {{errors.state?errors.state[0]:''}}</span>
                           </b-form-group>
                    <CInput
                      label="City"
                      @input="cityFocused"
                      placeholder="Enter city name"

                      v-model="form.city"
                      :invalidFeedback="errors.city?errors.city[0]:''"
                    />

                     <b-form-group label="Doctor contact" >
                      <masked-input
                        type="text"
                        name="taxid"
                        class="form-control"
                        v-model="form.contact"
                        :mask="['+','1', /\d/, /\d/, /\d/,  /\d/, /\d/, /\d/, /\d/, /\d/, /\d/, /\d/]"
                        :guide="false"
                        placeholderChar="#"
                      />
                      <span class="invalid-feedback" v-if="errors.contact">{{errors.contact[0]}}</span>
                    </b-form-group>

                    <CInput
                      label="Bought at"
                      v-model="form.baught_at"
                      :invalidFeedback="errors.baught_at?errors.baught_at[0]:''"
                      placeholder="Enter bought at"

                    />

                    <!-- {{errors.business_name}} -->
                    <!-- <span v-if="errors.business_name">{{errors.business_name[0]}}</span> -->
                            <!-- <b-form-group label="Country" >
           <b-form-select   :options="[ {value:'USA',text:'USA'}]" class=" mb-3"></b-form-select>

                </b-form-group> -->

            </CForm>
    </div>
</template>
<script>
 import MaskedInput from 'vue-text-mask'
 import Loading from 'vue-loading-overlay';
export default {
  props: ['productType'],
  components: {
    MaskedInput,
    Loading
  },

  data(){
return{
  isLoading:false,
  form:{
    name:"",
	baught_at:"",
	business_type:"",
	state:"",
	city:"",
	procedure_type:"",
	contact:"",
	product_type_id:this.productType
  },
  errors:[],
  state:[],
 steps: true
}
  },
  created(){
   this.$http.get('company/state').
   then(res=>{
   this.state=res.data.data.map(item=>({value:item.name,text:item.name}));

   }).catch(err=>{

   });
  },
  methods:{
     cityFocused(){
       this.$emit('city', this.form.city);
      console.log(this.form.city);
      },
      stateFocused(){
        // console.log(this.form.state);
       this.$emit('state', this.form.state);
      },
    cityFocused(){
       this.$emit('city', this.form.city);
      console.log(this.form.city);
      },
      stateFocused(){
        // console.log(this.form.state);
       this.$emit('state', this.form.state);
      },
   async submit(){
      this.isLoading=true;
      // alert(this.productType);
      this.form.name=this.form.state+" "+this.form.city+" "+this.form.business_type+" "+this.form.procedure_type;
    await this.$http.post('products/product-health-care/save-product',this.form)
     .then(res=>{
       this.isLoading=false;
     this.steps=true;
     })
     .catch(error=>{
       this.isLoading=false;
       if(error.response.status==422){
       this.errors=error.response.data.errors;
       this.steps=false;
       }
     })
     if(this.steps){
       return true;
     }else{
       return false;
     }
    }
  }
}
</script>
