<template>
    <div>
      <loading :active.sync="isLoading"></loading>
       <CForm >

                     <b-form-group label="State" >
                         <b-form-select @change="stateFocused" v-model="form.state" :options="state" class=" mb-3"></b-form-select>
                         <span class="invalid-feedback"> {{errors.state?errors.state[0]:''}}</span>
                    </b-form-group>
                    <CInput
                      label="City"
                      v-model="form.city"
                      @input="cityFocused"
                      placeholder="Enter city name"
                      :invalidFeedback="errors.city?errors.city[0]:''"

                    />
                    <CInput
                      label="Service"
                      v-model="form.service"
                      placeholder="Enter service name"
                      :invalidFeedback="errors.service?errors.service[0]:''"
                    />

                     <b-form-group label=" Contact person" >
                      <masked-input
                        type="text"
                        name="taxid"
                        class="form-control"
                        v-model="form.contact_person"
                        :mask="['+','1', /\d/, /\d/, /\d/,  /\d/, /\d/, /\d/, /\d/, /\d/, /\d/, /\d/]"
                        :guide="false"
                        placeholderChar="#"
                      />
                      <span class="invalid-feedback" v-if="errors.contact_person">{{errors.contact_person[0]}}</span>
                    </b-form-group>

                      <CInput
                      label="Bought at"
                      v-model="form.baught_at"
                      placeholder="Enter bought at"
                       :invalidFeedback="errors.baught_at?errors.baught_at[0]:''"
                    />
       </CForm>
    </div>
</template>
<script>
import MaskedInput from 'vue-text-mask'
import Loading from 'vue-loading-overlay';
 export default {
  props: ['productType'],
components: {
  MaskedInput,
  Loading
},
  data(){
return{
  isLoading:false,
  form:{
name:"",
baught_at:"",
city:"",
state:"",
service:"",
contact_person:"",
product_type_id:this.productType
},
  errors:[],
 steps: true,
 state:[]
}
  },
   created(){
   this.$http.get('company/state').
   then(res=>{
   this.state=res.data.data.map(item=>({value:item.name,text:item.name}));

   }).catch(err=>{

   });
  },
  methods:{
     cityFocused(){
       this.$emit('city', this.form.city);
      console.log(this.form.city);
      },
      stateFocused(){
        // console.log(this.form.state);
       this.$emit('state', this.form.state);
      },
   async submit(){
      // alert(this.productType);
      this.isLoading=true;
      this.form.name=this.form.state+" "+this.form.city+" "+this.form.service;
    await this.$http.post('products/product-local-business/save-product',this.form)
     .then(res=>{
       this.isLoading=false;
     this.steps=true;
     })
     .catch(error=>{
       this.isLoading=false;
       if(error.response.status==422){
       this.errors=error.response.data.errors;
       this.steps=false;
       }
     })
     if(this.steps){
       return true;
     }else{
       return false;
     }
    }
  }
}
</script>
