<template>
    <div>
      <loading :active.sync="isLoading"></loading>
        <CForm >


                    <b-form-group label="State" >
                         <b-form-select v-model="form.state" @change="stateFocused" :options="state" class=" mb-3"></b-form-select>
                      <span class="invalid-feedback"> {{errors.state?errors.state[0]:''}}</span>
                    </b-form-group>
                    <CInput
                      label="City"
                      v-model="form.city"
                      :invalidFeedback="errors.city?errors.city[0]:''"
                      @input="cityFocused"
                      placeholder="Enter city name"

                    />
                    <b-form-group label="Type" >
                         <b-form-select v-model="form.type"   :options="[ {value:'tv',text:'TV'},{value:'computer',text:'Computer'},{value:'stereo',text:'Stereo'},{value:'mobile',text:'Mobile'},{value:'tablet',text:'Tablet'}]" class=" mb-3"></b-form-select>
                           <span class="invalid-feedback"> {{errors.type?errors.type[0]:''}}</span>
                    </b-form-group>
                    <CInput
                      label="Make"
                      v-model="form.make"
                      :invalidFeedback="errors.make?errors.make[0]:''"
                      placeholder="Enter make name "

                    />
                    <CInput
                      label="Model"
                      v-model="form.model"
                      :invalidFeedback="errors.model?errors.model[0]:''"
                      placeholder="Enter model name"

                    />
                    <CInput
                      label="Bought at"
                      v-model="form.baught_at"
                      placeholder="Enter bought at"
                       :invalidFeedback="errors.baught_at?errors.baught_at[0]:''"
                    />
        </CForm>

    </div>
</template>
<script>
import Loading from 'vue-loading-overlay';
export default {
  props: ['productType'],
components: {
  Loading
},
  data(){
return{
  isLoading:false,
  form:{
	name:"",
	baught_at:"",
	state:"",
	city:"",
	type:"",
	make:"",
	model:"",
	"product_type_id":this.productType
},
  errors:[],
 steps: true,
 state:[]
}
  },
  created(){
   this.$http.get('company/state').
   then(res=>{
   this.state=res.data.data.map(item=>({value:item.name,text:item.name}));

   }).catch(err=>{

   });
  },
  methods:{
     cityFocused(){
       this.$emit('city', this.form.city);
      console.log(this.form.city);
      },
      stateFocused(){
        // console.log(this.form.state);
       this.$emit('state', this.form.state);
      },
   async submit(){
      // alert(this.productType);
      this.isLoading=true;
      this.form.name=this.form.type +" "+this.form.make +" "+this.form.model;
    await this.$http.post('products/product-computers-electronics/save-product',this.form)
     .then(res=>{
     this.steps=true;
     this.isLoading=false;
     })
     .catch(error=>{
          this.isLoading=false;
       if(error.response.status==422){
       this.errors=error.response.data.errors;
       this.steps=false;
       }
     })
     if(this.steps){
       return true;
     }else{
       return false;
     }
    }
  }
}
</script>
