<template>
    <div class="flex min-h-screen items-center bg-gray-200">
        <div class="container mx-auto px-4">
            <div class="oc-grid justify-center">
                <div class="w-full md:w-1/3">
                    <div class="oc-card oc-card-default oc-card-body rounded">
                        <h2 class="text-3xl mb-4">Login</h2>

                        <form @submit.prevent="login">
                            <div class="mb-4">
                                <label for="email">Email</label>
                                <input name="email" type="text" class="oc-form-control" v-model="email">

                                <error name="email"></error>
                            </div>

                            <div class="mb-4">
                                <label for="password">Password</label>
                                <input name="password" type="password" class="oc-form-control" v-model="password">

                                <error name="password"></error>
                            </div>

                            <div class="mb-4 flex justify-between items-center">
                                <button type="submit" class="oc-btn oc-btn-primary rounded">Login</button>
                                <nuxt-link to="/forgot-password">Forgot Password</nuxt-link>
                            </div>

                            <div class="mb-4 text-center register-buttons">
                                <p class="mb-2">OR</p>
                                <div class="flex flex-col">
                                    <nuxt-link to="/register" class="oc-btn">
                                        Sign up
                                    </nuxt-link>


                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    layout: 'minimal',
    middleware: ['guest'],
    data() {
        return {
            email: '',
            password: ''
        }
    },
    methods: {
        login() {
            const { email, password } = this;
            this.$store.dispatch('auth/login', {email, password});
        }
    }
}
</script>

<style lang="postcss" scoped>
    .register-buttons a {
        @apply rounded mb-2 bg-gray-100 border border-gray-200;
        min-width: 210px;
    }
</style>
