<template>
  <div class="flex min-h-screen items-center bg-gray-200">
    <div class="container mx-auto px-4">
      <div class="oc-grid justify-center">
        <div class="w-full md:w-1/3">
          <div class="oc-card oc-card-default oc-card-body rounded">
            <h2 class="text-3xl mb-4">Register</h2>
            <div v-if="success" class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
              <p class="font-bold">Registration</p>
              <p class="text-sm">Registered Successfully</p>
            </div>
            <form @submit.prevent="register">
              <div class="mb-4">
                <label for="email" v-bind:class="errors.name?'text-red-500':''">Name</label>
                <input name="name" type="text" class="oc-form-control " v-bind:class="errors.name?'border-red-500':''" v-model="name">

                <p v-if="errors.name" class="text-red-500 text-xs ">{{errors.name[0]}}</p>
              </div>

              <div class="mb-4">
                <label for="email" v-bind:class="errors.email?'text-red-500':''">Email</label>
                <input name="email" v-bind:class="errors.email?'border-red-500':''" type="text" class="oc-form-control" v-model="email">

                <p v-if="errors.email" class="text-red-500 text-xs ">{{errors.email[0]}}</p>
              </div>

              <div class="mb-4" >
                <label for="password" v-bind:class="errors.password?'text-red-500':''">Password</label>
                <input name="password" v-bind:class="errors.password?'border-red-500':''" type="password" class="oc-form-control" v-model="password">

                <p v-if="errors.password" class="text-red-500 text-xs ">{{errors.password[0]}}</p>
              </div>
              <div class="mb-4">
                <label for="confirm_password" v-bind:class="errors.confirm_password?'text-red-500':''">Password</label>
                <input name="confirm_password" v-bind:class="errors.confirm_password?'border-red-500':''" type="password" class="oc-form-control" v-model="confirm_password">

                <p v-if="errors.confirm_password" class="text-red-500 text-xs ">{{errors.confirm_password[0]}}</p>
              </div>

              <div class="mb-4 flex justify-between items-center">
                <button type="submit" class="oc-btn oc-btn-primary rounded">Register</button>
                <nuxt-link to="/login">Login</nuxt-link>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'minimal',
  middleware: ['guest'],
  data() {
    return {
      name:'',
      email: '',
      password: '',
      confirm_password:'',
      errors:[],
      success:false,

    }
  },
  methods: {
    register() {
      this.$axios.post('/api/v1/auth/register',
        {name:this.name,
          email:this.email,
          password:this.password,
          confirm_password:this.confirm_password
        }
        ).then(res=>{
          this.errors=[];

          if(res.status==201){
            this.success=true;
            this.name='';
            this.email='';
            this.password='';
            this.confirm_password='';
          }
        this.buyer=res.data.data.data;
      }).catch(error=>{
        if(error.response.status==422){
        this.errors= error.response.data.errors;
        }
      })
    }
  }
}
</script>

<style lang="postcss" scoped>
.register-buttons a {
  @apply rounded mb-2 bg-gray-100 border border-gray-200;
  min-width: 210px;
}
</style>
