<template>
     <nuxt-child></nuxt-child>
</template>

<script>
export default {
    layout: 'dashboard',
    middleware: ['auth', 'admin'],
    validate({store}) {
        return store.state.auth.user && store.state.auth.user.type == 'admin';
    }
}
</script>