<template>
	<div class="flex min-h-screen items-center bg-gray-200 py-4">
		<div class="container mx-auto px-4">
			<div class="oc-grid justify-center">
				<div class="md:w-2/4 w-full">
					<div class="oc-card oc-card-default rounded">
						<div class="oc-card-body">
							Your request has been submitted successfully. An owner will contact you shortly
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
	layout:'minimal'
	}
</script>
