<template>
    <div class="section">
        <div class="container mx-auto px-4">
            <h2>Dashboard</h2>
        </div>
    </div>
</template>

<script>
export default {
    head() {
        return {
            title: 'Company Dashboard'
        }
    }
}
</script>