<template>
    <form @submit.prevent="save">
        <h2 class="mb-2">Business Information</h2>

        <div class="oc-grid">
            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input type="text" v-model="business_name" placeholder="Business Name" class="oc-form-control">

                    <error name="business_name"></error>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input type="text" v-model="phone_number" placeholder="Phone Number" class="oc-form-control">

                    <error name="phone_number"></error>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input type="text" v-model="city" placeholder="City" class="oc-form-control">

                    <error name="city"></error>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input type="text" v-model="state" placeholder="State/Province" class="oc-form-control">

                    <error name="state"></error>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input type="text" v-model="zip" placeholder="Zip/Postal Code" class="oc-form-control">

                    <error name="zip"></error>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input type="text" v-model="country" placeholder="Country" class="oc-form-control">

                    <error name="country"></error>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <textarea v-model="street_address" name="street_address" placeholder="Street Address" cols="30" rows="10" class="oc-form-control"></textarea>

            <error name="street_address"></error>
        </div>

        <h2 class="my-2">Personal Information</h2>

        <div class="oc-grid">
            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input type="text" v-model="first_name" placeholder="First Name" class="oc-form-control">

                    <error name="first_name"></error>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input v-model="last_name" type="text" placeholder="Last Name" class="oc-form-control">

                    <error name="last_name"></error>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <input type="email" v-model="email" placeholder="Email" class="oc-form-control">

            <error name="email"></error>
        </div>

        <div class="oc-grid">
            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input autocomplete v-model="password" type="password" placeholder="Password" class="oc-form-control">

                    <error name="password"></error>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-4">
                    <input autocomplete v-model="password_confirmation" type="password" placeholder="Password Confirmation" class="oc-form-control">

                    <error name="password_confirmation"></error>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <button type="submit" class="oc-btn oc-btn-primary rounded">Sign Up</button>
        </div>

    </form>
</template>

<script>
export default {
    data() {
        return {
            business_name: '',
            phone_number: '',
            city: '',
            state: '',
            zip: '',
            country: '',
            street_address: '',
            first_name: '',
            last_name: '',
            email: '',
            password: '',
            password_confirmation: ''
        }
    },
    methods: {
        save() {
            const data = {
                business_name: this.business_name,
                phone_number: this.phone_number,
                city: this.city,
                state: this.state,
                zip: this.zip,
                country: this.country,
                street_address: this.street_address,
                first_name: this.first_name,
                last_name: this.last_name,
                email: this.email,
                password: this.password,
                password_confirmation: this.password_confirmation
            }

            this.$axios.post('/api/v1/register/companies', data).then(res => {
                this.$store.commit('auth/changeIsSendVerification', true);
            }).catch(err => {
                this.$store.commit('errors/add', err);
            })
        }
    }
}
</script>