<template>
  <div class="mobui">
   <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
    Make
    </label>
    <select  @change="make"  v-model="modeldata.make" :options="dropdown_data"   class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
    <option v-for="item in dropdown_data" v-bind:value="item.value" :key="item.id">{{item.text}}</option>
    </select>
    <p class="text-red-500 text-xs" v-if="error.make" id="input-live-feedback">
            {{error.make[0]}}
    </p>
   
  
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
    Model
    </label>

    <select  @change="model"  v-model="modeldata.model" :options="dropdown_data_model"   class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
    <option v-for="item in dropdown_data_model" v-bind:value="item.value" :key="item.id">{{item.text}}</option>
    </select>
    <p class="text-red-500 text-xs" v-if="error.model" id="input-live-feedback">
            {{error.model[0]}}
            </p>
    <!-- <span class="invalid-femodeldataedback" v-if="errors.business_type">{{errors.business_type[0]}}</span>-->
 
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
    Year
    </label>

    <select  @change="year" v-model="modeldata.year" :options="yearsOptions"   class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
    <option v-for="item in yearsOptions" v-bind:value="item.value" :key="item.id">{{item.text}}</option>
    </select>

     <p class="text-red-500 text-xs" v-if="error.year" id="input-live-feedback">
            {{error.year[0]}}
            </p>

  </div>
</template>

<script>
  export default {
  props: ['error'],
  components: {
  },
  name: 'Automotive',
  data () {
    return {
    modeldata:{
      make: '',
      model: '',
      year: '',
    },
    dropdown_data: [],
    dropdown_data_model: [],
    errors: [],
    yearsOptions: [
      {
      value: null,
      text: 'Select a year' },
      {
      value: 2020,
      text: 2020,
      },
      {
      value: 2019,
      text: 2019,
      },
      {
      value: 2018,
      text: 2018,
      },
      {
      value: 2017,
      text: 2017,
      },
      {
      value: 2016,
      text: 2016,
      },
      {
      value: 2015,
      text: 2015,
      },
      {
      value: 2014,
      text: 2014,
      },
      {
      value: 2013,
      text: 2013,
      },
      {
      value: 2012,
      text: 2012,
      },
      {
      value: 2011,
      text: 2011,
      },
      {
      value: 2010,
      text: 2010,
      },
      {
      value: 2009,
      text: 2009,
      },
      {
      value: 2008,
      text: 2008,
      },
      {
      value: 2007,
      text: 2007,
      },
      {
      value: 2006,
      text: 2006,
      },
      {
      value: 2005,
      text: 2005,
      },
      {
      value: 2004,
      text: 2004,
      },
      {
      value: 2003,
      text: 2003,
      },
      {
      value: 2002,
      text: 2002,
      },
      {
      value: 2001,
      text: 2001,
      },
      {
      value: 2000,
      text: 2000,
      },
    ],
    }
  },
  created(){
    this.getData();
  },
  methods: {
    year(){
     this.$emit('year',this.modeldata.year);
    },
    model(){
     this.$emit('model',this.modeldata.model);
    },
    make(){
    this.$emit('make',this.modeldata.make);
    },
    getData(){
    this.$axios.get('/api/v1/buyer-forms-data/automotive').then(response=>{
      this.dropdown_data = response.data.data.make.map(item=>({value:item.make,text:item.make}));
      this.dropdown_data_model = response.data.data.model.map(item=>({value:item.model,text:item.model}));
    }).catch(error=>{
    })
    },
  }
  }
</script>
