<template>
  <div class="mobui">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Type
      </label>


      <select  @change="type" v-model="modeldata.type"    class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
        <option value="tv">TV</option>
        <option value="computer">Computer</option>
        <option value="stereo">Stereo</option>
        <option value="mobile">Mobile</option>
        <option value="tablet">Tablet</option>
        <option value="tablet">Tablet</option>


      </select>

      <p class="text-red-500 text-xs" v-if="error.type" id="input-live-feedback">
                        {{error.type[0]}}
                      </p>
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Make
      </label>


      <select  @change="make"  v-model="modeldata.make" :options="dropdown_data"   class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
        <option v-for="item in dropdown_data" v-bind:value="item.value" :key="item.id">{{item.text}}</option>


      </select>

      <p class="text-red-500 text-xs" v-if="error.make" id="input-live-feedback">
                        {{error.make[0]}}
                      </p>
   
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Model
      </label>
      <select @change="model" v-model="modeldata.model" :options="dropdown_data_model"   class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
        <option v-for="item in dropdown_data_model" v-bind:value="item.value" :key="item.id">{{item.text}}</option>


      </select>

      <p class="text-red-500 text-xs" v-if="error.model" id="input-live-feedback">
                        {{error.model[0]}}
                      </p>
 
  </div>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'ComputersOrElectronics',
    data () {
      return {
        modeldata:{
          make: '',
          model: '',
          type:""
        },
        dropdown_data: [],
        dropdown_data_model: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      type(){
      this.$emit('type',this.modeldata.type);
      },
      make(){
       this.$emit('make',this.modeldata.make);
      },
      model(){
        this.$emit('model',this.modeldata.model);
      },
      getData(){
        this.$axios.get('/api/v1/buyer-forms-data/computers-or-electronics').then(response=>{
          this.dropdown_data = response.data.data.make.map(item=>({value:item.make,text:item.make}));
          this.dropdown_data_model = response.data.data.model.map(item=>({value:item.model,text:item.model}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
