<template>
  <div class="mobui">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Type
      </label>

      <select  @change="type" v-model="modeldata.type"  class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
        <option value="group">Group</option>
        <option value="personal">Personal</option>
        <option value="app/virtual">App/Virtual</option>

      </select>

      <p class="text-red-500 text-xs" v-if="error.type" id="input-live-feedback">
        {{error.type[0]}}
      </p>
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Trainer
      </label>

      <select  @change="trainer" v-model="modeldata.trainer" :options="dropdown_data_trainer"   class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
        <option v-for="item in dropdown_data_trainer" v-bind:value="item.value" :key="item.id">{{item.text}}</option>


      </select>

      <p class="text-red-500 text-xs" v-if="error.trainer" id="input-live-feedback">
        {{error.trainer[0]}}
      </p>
  
  </div>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'Fitness',
    data () {
      return {
        modeldata:{
          type: '',
          trainer: '',
        },
        dropdown_data: [],
        dropdown_data_trainer: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      type(){
        this.$emit('type',this.modeldata.type);
      },
      trainer(){
        this.$emit('trainer',this.modeldata.trainer);
      },
      getData(){
        // alert('yes');
        this.$axios.get('/api/v1/buyer-forms-data/fitness').then(response=>{
          this.dropdown_data = response.data.data.type.map(item=>({value:item.type,text:item.type}));
          this.dropdown_data_trainer = response.data.data.trainer.map(item=>({value:item.trainer,text:item.trainer}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
