<template>
  <div>
    
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
          Business type
        </label>
        <select  @change="business_type" v-model="modeldata.business_type" :options="business_type_data"    class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
          <option v-for="item in business_type_data" v-bind:value="item.value" :key="item.id">{{item.text}}</option>



        </select>


       <p class="text-red-500 text-xs" v-if="error.businessType" id="input-live-feedback">
                        {{error.businessType[0]}}
        </p>

   
   
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Procedure type
      </label>
      <select  @change="procedureType"  v-model="modeldata.procedure_type" :options="procedure_type_data"    class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
        <option v-for="item in procedure_type_data" v-bind:value="item.value" :key="item.id">{{item.text}}</option>
        </select>


    <p class="text-red-500 text-xs" v-if="error.procedure" id="input-live-feedback">
                      {{error.procedure[0]}}
     </p>
   
  </div>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'HealthCareProducts',
    data () {
      return {
        modeldata:{
          business_type: '',
          procedure_type: '',
        },
        business_type_data: [],
        procedure_type_data: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      business_type(){
        this.$emit('bussiness',this.modeldata.business_type)

      },
      procedureType(){
       this.$emit('procedure',this.modeldata.procedure_type);
      },
      getData(){
        this.$axios.get('/api/v1/buyer-forms-data/health-care').then(response=>{
          let data = response.data.data.business_type.map(item=>({value:item.business_type,text:item.business_type}));
          this.business_type_data = data;
          this.procedure_type_data=response.data.data.procedure_type.map(item=>({value:item.procedure_type,text:item.procedure_type}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
