<template>
  <div class="mobui">
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Property type
      </label>

      <select @change="type"  v-model="modeldata.type"  class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
        <option v-for="item in real_estate_data" v-bind:value="item.value" :key="item.id">{{item.text}}</option>

      </select>

      <p class="text-red-500 text-xs" v-if="error.property_type" id="input-live-feedback">
        {{error.property_type[0]}}
      </p>

   

  </div>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'HealthCareProducts',
    data () {
      return {
        modeldata:{
          type: '',
        },
        real_estate_data: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      type(){
      this.$emit('type',this.modeldata.type);
      },
      getData(){
        // alert('yes')
        this.$axios.get('/api/v1/buyer-forms-data/home-real-estate').then(response=>{
          this.real_estate_data = response.data.data.map(item=>({value:item.type,text:item.type}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
