<template>
  <div class="mobui">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Type
      </label>
      <select  @change="type" v-model="modeldata.type" :options="dropdown_data"   class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
        <option  value="window">Window</option>
        <option  value="sliding">sliding</option>
        <option  value="roof">Roof</option>
        <option  value="pool">Pool</option>
        <option  value="solar">Solar</option>
        <option  value="bath">Bath</option>
        <option  value="addition">Addition</option>
        <option  value="construction">Construction</option>
      </select>


      <p class="text-red-500 text-xs" v-if="error.type" id="input-live-feedback">
                        {{error.type[0]}}
                      </p>
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Manufacture
      </label>
      <select  @change="manufacturer"  v-model="modeldata.manufacturer" :options="dropdown_data"   class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
        <option v-for="item in dropdown_data" v-bind:value="item.value" :key="item.id">{{item.text}}</option>
      </select>
       <p class="text-red-500 text-xs" v-if="error.manufacturer" id="input-live-feedback">
                        {{error.manufacturer[0]}}
                      </p>

  </div>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'HomeImprovements',
    data () {
      return {
        modeldata:{
          type: '',
          manufacturer: '',
        },
        dropdown_data: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      manufacturer(){
      this.$emit('manufacturer',this.modeldata.manufacturer);
      },
      type(){
        this.$emit('type',this.modeldata.type);
      },
      getData(){
        this.$axios.get('/api/v1/buyer-forms-data/home-improvements').then(response=>{
          this.dropdown_data = response.data.data.map(item=>({value:item.manufacturer,text:item.manufacturer}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
