<template>
  <div class="mobui">
 
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Advisor
      </label>
      <select  @change="advisor" v-model="modeldata.advisor" :options="dropdown_data"   class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
        <option v-for="item in dropdown_data" v-bind:value="item.value" :key="item.id">{{item.text}}</option>
       </select>
    <p class="text-red-500 text-xs" v-if="error.advisor" id="input-live-feedback">
                        {{error.advisor[0]}}
                      </p>
   
  </div>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'InsuranceOrFinance',
    data () {
      return {
        modeldata:{
          advisor: '',
        },
        dropdown_data: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      advisor(){
        this.$emit('advisor',this.modeldata.advisor);
      },
      getData(){
        this.$axios.get('/api/v1/buyer-forms-data/insurance-or-finance').then(response=>{
          this.dropdown_data = response.data.data.map(item=>({value:item.advisor,text:item.advisor}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
