<template>
  <div class="mobui">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Type
      </label>


      <select  @change="type"  v-model="modeldata.type" :options="dropdown_data"   class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
        <option v-for="item in dropdown_data" v-bind:value="item.value" :key="item.id">{{item.text}}</option>


      </select>
       <p class="text-red-500 text-xs" v-if="error.type" id="input-live-feedback">
                        {{error.type[0]}}
                      </p>
 
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Age
      </label>

      <select  @change="age" v-model="modeldata.product_age"    class="appearance-none bg-white block border border-gray-400 border-gray-600 leading-tight pr-8 px-4 py-2 py-3 rounded shadow w-full">
        <option value="baby-1">Baby-1</option>
        <option value="1-3">1-3</option>
        <option value="3-5">3-5</option>
        <option value="5-7">5-7</option>
        <option value="7-10">7-10</option>
        <option value="10-13">10-13</option>


      </select>
       <p class="text-red-500 text-xs" v-if="error.product_age" id="input-live-feedback">
                        {{error.product_age[0]}}
                      </p>
 
  </div>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'Kids',
    data () {
      return {
        modeldata:{
          type: '',
          product_age: '',
        },
        dropdown_data: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      type(){
        this.$emit('type',this.modeldata.type);
      },
      age(){
        this.$emit('age',this.modeldata.product_age);
      },
      getData(){
        this.$axios.get('/api/v1/buyer-forms-data/kids').then(response=>{
          this.dropdown_data = response.data.data.map(item=>({value:item.product_type,text:item.product_type}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
