<template>
  <div class="flex min-h-screen items-center bg-gray-200">
    <div class="container mx-auto px-4">
      <div class="oc-grid justify-center">
        <div class="w-full md:w-3/3">
          <div class="oc-card oc-card-default oc-card-body rounded">
            <h2 class="text-3xl mb-4">Update Survey</h2>
            <div v-if="success" class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
              <p class="font-bold">Error message</p>
              <p class="text-sm">{{message}}.</p>
            </div>
            <form @submit.prevent="savequestion">
              <div class="mb-4">
                <label for="email" v-bind:class="errors.title?'text-red-500':''">Survey title</label>
                <input name="name" type="text" class="oc-form-control " v-bind:class="errors.title?'border-red-500':''" v-model="title">

                <p v-if="errors.title" class="text-red-500 text-xs ">{{errors.title[0]}}</p>
              </div>
              <div class="mb-4">
                <label for="email" v-bind:class="errors.description?'text-red-500':''">Survey Description</label>
                <textarea cols="95" rows="10" v-model="description" v-bind:class="errors.description?'border-red-500':''" name="description" class="resize border rounded focus:outline-none focus:shadow-outline"></textarea>

                <p v-if="errors.description" class="text-red-500 text-xs ">{{errors.description[0]}}</p>
              </div>
              <div class="mb-4">
                <label for="email" v-bind:class="errors.fees?'text-red-500':''">Survey Fee</label>
                <input name="name" type="text" class="oc-form-control " v-bind:class="errors.fees?'border-red-500':''" v-model="fees">

                <p v-if="errors.fees" class="text-red-500 text-xs ">{{errors.fees[0]}}</p>
              </div>


              <div class="mb-4 flex justify-between items-center">
                <button type="submit" class="oc-btn oc-btn-primary rounded">Save</button>
                <nuxt-link to="/dashboard/survey">survey</nuxt-link>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout:'dashboard',
  data(){
    return{
      item:[],
      title:'',
      fees:"",
      description: "",

      errors:[],
      error:true,

      message:'',
      success:false,
      id:'',
      correctAnswer:0,
    }
  },
  created() {

    this.surveyfunc();
    this.questionfunc();

  },
  methods:{
    questionfunc(){
      this.id=this.$route.params.slug;
      this.$axios.get('api/v1/survey'+'/'+this.id).then(res=>{


        this.title=res.data.data.data.title;
        this.fees=res.data.data.data.fees;
        this.description=res.data.data.data.description;

      }).catch(error=>{
        console.log('error');
      })
    },
    surveyfunc(){

      this.$axios.get('api/v1/survey').then(res=>{

        this.item=res.data.data.data;
      }).catch(error=>{
        console.log('error');
      })
    },
    savequestion(){


      this.$axios.post('api/v1/survey/'+this.id,{
        '_method':'put',
        'title':this.title,
        'description':this.description,
        'fees':this.fees

      }).then(res=>{
        this.success=true;
        this.error=false;
        this.errors=[];
        this.message=res.data.data.message;


      }).catch(error=>{

        if(error.response.status==422){
          this.errors=error.response.data.errors;
          this.error=true;
          this.success=false;
          this.message=error.response.data.data.message;
        }
      })
    }
  }
}
</script>
