<template>
  <CRow>
    <div class="vld-parent">
      <loading :active.sync="isLoading">
      </loading>
      <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
    </div>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CIcon name="cil-grid"/>Buyer Chat Requests
        </CCardHeader>
        <CCardBody>
          <CDataTable
            :items="usersData"
            :fields="fields"
            table-filter
            items-per-page-select
            :items-per-page="5"
            hover
            sorter
            pagination
          >

            <template #details="{item, index}">
              <CCollapse :show="details.includes(index)">
                <CCardBody>
                  {{index + 1}} - {{item}}
                </CCardBody>
              </CCollapse>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
  // import usersData from '../users/UsersData'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';

  const fields = [
    { key: 'username', _style:'width:40%' },
    'registered',
    { key: 'role', _style:'width:20%;' },
    { key: 'status', _style:'width:20%;' },
    {
      key: 'show_details',
      label: '',
      _style: 'width:1%',
      sorter: false,
      filter: false
    }
  ]

  export default {
    name: 'ChatLeads',
    components: {
      Loading,
    },
    data () {
      return {
        isLoading: false,
        fullPage: true,
        usersData:[],
        fields:[{key:'search_keywords'},{key:'created_at'}],
        details: [],
      }
    },
    created(){
      this.loadSearch();
    },
    methods: {
      loadSearch(){
        this.isLoading = true;
        this.$http.get('buyer-module/search-keywords').then(response=>{
          this.isLoading = false;
          this.usersData=response.data.data.map(item=>({
            id:item.id,
            search_keywords:item.search_keyword,
            created_at:item.created_at,
          }));
        }).catch(error=>{
          this.isLoading = false;
        })
      },

    }
  }
</script>
