<template>
  <div class="section">
    <div class="container px-4 mx-auto">
      <h1 class="font-bold text-3xl mb-5">Enrolled Survey</h1>
      <div class="flex justify-end mb-5 items-center">

      </div>
      <div class="oc-card oc-card-default rounded-xl">
        <div class="oc-card-body p-0">

          <table class="oc-table oc-table-striped no-border rounded-xl">
            <thead>
            <tr>
              <th>Title</th>
              <th>User</th>
              <th>Amount</th>
              <th>Created at</th>


              <th>Actions</th>
            </tr>
            </thead>
            <tbody v-if="item?item.length==0:0"  >
            <tr class="text-center">
              <td colspan="6">No owners.</td>
            </tr>
            </tbody>

            <tbody v-if="item?item.length>0:0" >
            <tr v-for="(survey,index) in item" :key="survey.id">
              <td>{{ survey.survey.title }}</td>
              <td>{{ survey.user.name }}</td>
              <td>{{survey.survey.fees}}</td>
              <td>{{survey.survey.created_at}}</td>

              <td>
                <div class="inline-flex">

                  <nuxt-link class="bg-blue-500 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
                             :to="{ path: '/dashboard/' + survey.survey.id+'/'+survey.user_id}">View Details</nuxt-link>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data(){
    return{
      item:null,
    }
  },
  created() {
    this.$axios.get('api/v1/survey/enrolled').then(res=>{

      this.item=res.data.data;
    }).catch(error=>{
      console.log('error');
    })
  },
}
</script>
