<template>
  <div class="flex min-h-screen items-center bg-gray-200">
    <div class="container mx-auto px-4">
      <div class="oc-grid justify-center">
        <div class="w-full md:w-3/3">
          <div class="oc-card oc-card-default oc-card-body rounded">
            <h2 class="text-3xl mb-4">Create Question</h2>
            <div v-if="success" class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
              <p class="font-bold">Error message</p>
              <p class="text-sm">{{message}}.</p>
            </div>
            <form @submit.prevent="savequestion">
              <div class="mb-4">
                <label for="email" v-bind:class="errors.question?'text-red-500':''">Question</label>
                <input name="name" type="text" class="oc-form-control " v-bind:class="errors.question?'border-red-500':''" v-model="question">

                <p v-if="errors.question" class="text-red-500 text-xs ">{{errors.question[0]}}</p>
              </div>
              <div class="w-full md:w-3/3 px-3 mb-6 md:mb-0">
                <label v-bind:class="errors.accurate_answer?'text-red-500':''" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                  Category
                </label>
                <div class="mb-4 relative">
                  <select v-model="category" name="category" v-bind:class="errors.category?'border-red-500':''" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-states">
                    <option value="">Select Category</option>
                    <option value="complexity">complexity</option>
                    <option value="invasion">invasion</option>
                    <option value="uncertainty">uncertainty</option>
                    <option value="privacy">privacy</option>
                    <option value="overload">overload</option>
                    <option value="safety">safety</option>
                    <option value="social">social</option>
                    <option value="usefulness">usefulness</option>
                    <option value="support">support</option>
                    <option value="unreliability">unreliability</option>

                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                  </div>
                  <p v-if="errors.category" class="text-red-500 text-xs ">{{errors.category[0]}}</p>
                </div>
              </div>

              <div class="w-full md:w-3/3 px-3 mb-6 md:mb-0">
                <label v-bind:class="errors.accurate_answer?'text-red-500':''" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                  Survey
                </label>
                <div class="mb-4 relative">
                  <select v-model="survey" name="survey" v-bind:class="errors.survey?'border-red-500':''" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                    <option value="">Select Survey</option>
                    <option v-for="(survey,index) in item" v-bind:value="survey.id">{{ survey.title }}</option>


                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                  </div>
                  <p v-if="errors.survey" class="text-red-500 text-xs ">{{errors.survey[0]}}</p>
                </div>
              </div>

              <div class="mb-4 flex justify-between items-center">
                <button type="submit" class="oc-btn oc-btn-primary rounded">Save</button>
                <nuxt-link to="/dashboard/questions">Questions</nuxt-link>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout:'dashboard',
  data(){
    return{
      item:[],
      question:"",
      survey:"",
      accurate_answer:"",
      category:"",
      errors:[],
      error:true,

      message:'',
      success:false
    }
  },
  created() {
    this.$axios.get('api/v1/survey').then(res=>{
      this.item=res.data.data.data;
    }).catch(error=>{
      console.log('error');
    })
  },
  methods:{
    savequestion(){
      this.$axios.post('api/v1/question',{
        'question':this.question,
        'survey':this.survey,
        'category':this.category
      }).then(res=>{
        this.success=true;
        this.error=false;
       this.errors=[];
        this.message=res.data.message;


      }).catch(error=>{

        if(error.response.status==422){
          this.errors=error.response.data.errors;
          this.error=true;
          this.success=false;
          this.message=error.response.data.data.message;
        }
      })
    }
  }
}
</script>
