<template>
  <div class="section">
    <div class="container px-4 mx-auto">
      <h1 class="font-bold text-3xl mb-5">Questions</h1>
      <div class="flex justify-end mb-5 items-center">
        <nuxt-link class="bg-blue-500 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r"
                   to="/dashboard/questions/create">Create</nuxt-link>
      </div>
      <div class="oc-card oc-card-default rounded-xl">
        <div class="oc-card-body p-0">
          <div v-if="error" class="bg-red-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
            <p class="font-bold">Error message</p>
            <p class="text-sm">{{message}}.</p>
          </div>
          <div v-if="success" class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
            <p class="font-bold">Success message</p>
            <p class="text-sm">{{message}}.</p>
          </div>
          <table class="oc-table oc-table-striped no-border rounded-xl">
            <thead>
            <tr>
              <th>Question</th>
              <th>Category</th>

              <th>Survey</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody v-if="item==0"  >
            <tr class="text-center">
              <td colspan="6">No owners.</td>
            </tr>
            </tbody>

            <tbody v-if="item.length>0" >
            <tr v-for="(question,index) in item" :key="question.id">
              <td>{{ question.question }}</td>
              <td>{{question.category}}</td>
              <td>{{question.title}}</td>

              <td>
                <div class="inline-flex">
                  <button v-on:click="trashItem(question.id,index)" class="bg-blue-500 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">
                    Delete
                  </button>
                  <nuxt-link class="bg-blue-500 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r"
                             :to="{ path: '/dashboard/questions/' + question.id}">Edit</nuxt-link>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout:'dashboard',
  data(){
    return{
      item:[],

      error:false,
      message:'',
      success:false
    }
  },
  created() {
    this.$axios.get('api/v1/question').then(res=>{
       console.log(res.data.data)
      this.item=res.data.data;
       console.log(res.data.data);
    }).catch(error=>{
      console.log('error');
    })
  },
  methods:{
    trashItem(id,index){


      this.$axios.delete('api/v1/question'+'/'+id).then(res=>{
        this.success=true;
        this.error=false;

        this.message=res.data.data.message;
        this.item.splice(index, 1);

      }).catch(error=>{
        if(error.response.status==403){
          this.error=true;
          this.success=false;
          this.message=error.response.data.data.message;
        }
      })
    }
  }
}
</script>
