<template>
    <ul class="oc-pagination my-4" v-if="data.data.length">
        <li class="oc-page-item" v-if="!onFirstPage()">
            <nuxt-link exact class="oc-page-link" :to="`?page=1`">
                <span class="prev">
                    <chevron-left-icon></chevron-left-icon>
                </span>
            </nuxt-link>
        </li>
        <template v-for="(element,index) in elements">
            <li :key="index" :class="`oc-page-item ${typeof element == 'string' ? 'disabled' :'' || data.current_page == element ? 'disabled' : ''}`">
                <nuxt-link exact class="oc-page-link" :to="`?page=${element}`" v-if="typeof element == 'number'">
                    {{element}}
                </nuxt-link>
                <span class="oc-page-link" aria-disabled="true" v-else>{{element}}</span>
            </li>
        </template>
        <li class="oc-page-item" v-if="hasMorePages()">
            <nuxt-link exact class="oc-page-link" :to="`?page=${data.last_page}`">
                <span class="next">
                    <chevron-right-icon></chevron-right-icon>
                </span>
            </nuxt-link>
        </li>
    </ul>
</template>

<script>
import { mapState } from 'vuex';
import { ChevronRightIcon, ChevronLeftIcon } from 'vue-feather-icons'

export default {
    props: ['data'],
    components: {
        ChevronRightIcon,
        ChevronLeftIcon
    },
    methods:{
        /**
         * Change page number / param number
         *
         * @param {number} number
         * @return {void}
         */
        changePage(number){
            this.$router.push(`${this.$route.fullPath}?page=${number}`);
        },
        /**
         * Determine if there are enough items to split into multiple pages
         *
         * @return {boolean}
         */
        hasPages(){
            return this.data.current_page != 1 || this.hasMorePages();
        },
        /**
         * Determine if there are more items in the data source
         *
         * @return {boolean}
         */
        hasMorePages(){
            return this.data.current_page < this.data.last_page;
        },
        /**
         * Determine if paginator is on the first page
         *
         * @return {boolean}
         */
        onFirstPage(){
            return this.data.current_page <= 1;
        },
    },
    computed: {
        /**
         * Gets the array of element to pas to the views
         *
         * @return {array}
         */
        elements(){
            let current = this.data.current_page,
                last = this.data.last_page,
                delta = 2,
                left = current - delta,
                right = current + delta + 1,
                range = [],
                rangeWithDots = [],
                l;

            for (let i = 1; i <= last; i++){
                if(i ==1 || i == last || i >= left && i < right){
                    range.push(i);
                }
            }


            for (let i of range) {
                if (l) {
                    if (i - l === 2) {
                        rangeWithDots.push(l + 1);
                    } else if (i - l !== 1) {
                        rangeWithDots.push('...');
                    }
                }
                rangeWithDots.push(i);
                l = i;
            }

            return rangeWithDots;
        }
    }
}
</script>

<style lang="postcss" scoped>
    .oc-pagination {
        @apply flex;
    }

    .oc-page-link {
        @apply rounded bg-white p-1 block;
        width: 34px;
    }

    .oc-page-item {
        @apply text-center;
    }

    .oc-page-item:not(:last-child) .oc-page-link {
        @apply mr-2;
    }

    .oc-page-link.active {
        @apply bg-blue-500 text-white;
    }
</style>