<template>
    <div id="contactListEditModal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body rounded">
            <h2 class="uk-modal-title">Edit Contact</h2>
            <form @submit.prevent="updateContactList">
                <div class="mb-4">
                    <label for="title">Title</label>
                    <input type="text" v-model="title" class="oc-form-control">

                    <error name="title"></error>
                </div>

                <div class="mb-4">
                    <button type="submit" class="oc-btn oc-btn-primary rounded">Save</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    props: ['data'],
    data() {
        return {
            title: '',
            id: null,
        }
    },
    mounted() {
        const self = this;
        this.$root.$on('contactListData', function(data) {
            self.title = data.title;
            self.id = data.id;
        })
    },
    methods: {
        updateContactList() {
            this.$axios.patch(`/api/v1/companies/${this.$route.params.slug}/contact_lists/${this.id}`,{title: this.title}).then(res => {
                this.$store.dispatch('contact_lists/index', this.$route.params.slug);
                UIkit.modal('#contactListEditModal').hide();
            }).catch(err => this.$store.commit('errors/add', err))
        }
    }
}
</script>