<template>
    <div class="section">
        <div class="container px-4 mx-auto">
            <h2 class="mb-4 text-2xl mb-4 font-bold">Campaign Sequence</h2>
            <form @submit.prevent="saveSequenceType">
                <div class="mb-4">
                    <div class="oc-card oc-card-body oc-card-default rounded my-4" v-for="(sequence_type, index) in sequence_types" :key="index">
                        <h2 class="text-xl">{{index + 1}}. {{sequence_type.type | capitalize}} Type</h2>

                        <div class="mb-4">
                            <div class="oc-grid">
                                <div class="w-full md:w-1/2">
                                    <label for="template_id">Template</label>
                                    <select name="template_id" @change="changeSequenceType($event, index)" class="oc-form-control" v-if="sequence_type.type == 'email'">
                                        <option :value="template.id" v-for="template in email_templates" :key="template.id">
                                            {{template.name}}
                                        </option>
                                    </select>

                                    <select name="template_id" @change="changeSequenceType($event, index)" class="oc-form-control" v-if="sequence_type.type == 'sms'">
                                        <option :value="template.id" v-for="template in sms_templates" :key="template.id">
                                            {{template.name}}
                                        </option>
                                    </select>

                                </div>

                                <div class="w-full md:w-1/2">
                                    <label for="sequence_start_date">Send Date</label>
                                    <client-only>
                                        <flat-pickr name="sequence_start_date" v-model="sequence_types[index]['sequence_start_date']" :config="dateConfig" class="oc-form-control"></flat-pickr>
                                    </client-only>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button @click.prevent="addSequenceType('email')" class="oc-btn oc-btn-red rounded">Add Email Message</button>
                        <button @click.prevent="addSequenceType('sms')" class="oc-btn oc-btn-red rounded">Add SMS Message</button>
                    </div>

                    <div class="my-4" v-if="sequence_types.length">
                        <button type="submit" class="oc-btn oc-btn-primary rounded">Save Sequence</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import 'flatpickr/dist/flatpickr.css';

import { campaignsAndSequenceTypes } from '@/graphql/query/company/campaigns';

export default {
    data() {
        return {
            sequence_types:[],
            email_templates:[],
            sms_templates:[],
            dateConfig: {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
                minDate: 'today',
                minTime: Date.now()
            },
        }
    },
    mounted() {
        this.$axiosGQL.post('/graphql', campaignsAndSequenceTypes()).then(res => {
            if(!res.data.errors) {
                this.email_templates = this.setTemplate('email', res.data.data.templates);
                this.sms_templates = this.setTemplate('sms', res.data.data.templates);
            }
        });
    },
    methods: {
        /**
         * Set template whether is email or sms by given type
         *
         * @param {string} type
         * @param {array} templates
         * @return {array}
         */
        setTemplate(type, templates) {
            return templates.filter(template => template.type == type);
        },
        /**
         * Add Sequence type like email, sms or voice. currently only sms and email
         *
         * @param type
         * @return {void}
         */
        addSequenceType(type) {
            if(type == 'sms' && !this.sms_templates.length) {
                this.$store.dispatch('flash/add',{message:`You need to add at least 1 ${type} template`, status: 'danger'});
                return;
            }

            if(type == 'email' && !this.email_templates.length) {
                this.$store.dispatch('flash/add',{message:`You need to add at least 1 ${type} template`, status: 'danger'});
                return;
            }

            let data = {
                type,
                sequence_start_date: this.$moment().format(),
            }

            if(type == 'email') {
                data.template_id = this.email_templates[0].id;
            }

            if(type == 'sms') {
                data.template_id = this.sms_templates[0].id;
            }

            this.sequence_types.push(data);
        },
        /**
         * Change sequences type array value
         *
         * @param {Event} e
         * @param {number} index
         * @return {void}
         */
        changeSequenceType(e, index) {
            this.sequence_types[index][e.target.name] = e.target.value;
        },
        /**
         * Save sequence type to database through API
         *
         * @return {void}
         */
        saveSequenceType() {
            const { params } = this.$route;
            this.$axios.post(`/api/v1/campaigns/${params.cp_id}/sequence_types`, {
                sequence_types: this.sequence_types,
            }).then(res => {
                this.$router.push(`/cd/${params.slug}/campaigns/${params.cp_id}`);
            }).catch(err => {

            })
        }
    }
}
</script>

<router>
    { name: 'campaigns.edit'}
</router>