<template>
    <div class="section">
        <div class="container px-4 mx-aut">
            <div class="oc-card oc-card-default rounded">
                <div class="oc-card-header">
                    <div class="flex justify-between items-center">
                        <h2 class="text-xl">{{campaign.name}}</h2>
                    </div>
                </div>
                <div class="oc-card-body" v-if="campaign.status == 'draft'">
                    <button @click.prevent="startCampaign" class="oc-btn oc-btn-primary rounded">Start Campaign</button>
                </div>
            </div>

            <div class="flex mt-5 items-center justify-between">
                <h2 class="text-2xl font-bold">Sequences</h2>
                <div class="text-center">
                    <nuxt-link :to="$ocTo('campaigns.edit', {slug: $route.params.slug, cp_id: campaign.id})" v-if="campaign.status == 'draft'" class="oc-btn oc-btn-primary">Add New Sequence</nuxt-link>
                </div>
            </div>

            <div class="oc-card oc-card-default rounded mt-5" v-for="sequence_type in sequence_types" :key="sequence_type.id">
                <div class="oc-card-body">
                    <div class="flex flex-wrap justify-between items-center">
                        <div>
                            <span>{{sequence_type.type | capitalize}} - {{$moment(sequence_type.sequence_start_date).format('MMMM Do YYYY, h:mm:ss a')}}</span>
                        </div>
                        <div>
                            <!-- <nuxt-link to="/" class="oc-btn oc-btn-primary oc-btn-small">Edit</nuxt-link> -->
                            <button @click.prevent="deleteSequenceType(sequence_type.id)" class="oc-btn oc-btn-red oc-btn-small">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="!sequence_types.length">
                <div class="text-center">No Sequence Types</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    asyncData({$axios, error, params}) {
        return $axios.get(`/api/v1/campaigns/${params.cp_id}`).then(res => {
            return {
                campaign: res.data
            }
        }).catch(err => {
            return error({status: 404, message:"Campaign Not Found"})
        })
    },
    data() {
        return {
            sequence_types: []
        }
    },
    mounted() {
        const { params } = this.$route;
        this.$axios.get(`/api/v1/campaigns/${params.cp_id}/sequence_types`).then(res => {
            this.sequence_types = res.data;
        })
    },
    methods: {
        startCampaign() {
            this.$axios.post(`/api/v1/campaigns/${this.$route.params.cp_id}/startCampaign`).then(res => {
                this.campaign.status = 'sent';
            }).catch(err => {
                this.$store.commit('errors/add',err)
            })
        },
        deleteSequenceType(id) {
            if(confirm("Are you sure you want to delete sequence type ?")) {
                this.$axios.delete(`/api/v1/campaigns/${this.$route.params.cp_id}/sequence_types/${id}`).then(res => {
                    this.sequence_types = this.sequence_types.filter(st => st.id != id);
                })
            } else {

            }
        }
    }
}
</script>

<router>
    { name: 'campaigns.show' }
</router>