<template>
  <CRow>
    <CCol sm="12">
      <div class="vld-parent">
        <loading :active.sync="isLoading"
                 :is-full-page="fullPage"
                 :loader="dots">
        </loading>
        <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
      </div>
      <CCard>
        <CCardHeader>
          <CIcon name="cil-grid"/> {{company.business_name}} Users


        </CCardHeader>
        <CCardBody>
          <CDataTable
            :items="usersData"
            :fields="fields"

            table-filter
            items-per-page-select
            :items-per-page="5"
            hover
            sorter
            pagination
          >
            <template #status="{item}">
              <td>
                <CBadge :color="getBadge(item.status)">
                  {{item.status}}
                </CBadge>
              </td>
            </template>
            <template #action="{item, index}">

              <td class="py-2">

               <CButtonGroup class="mx-1">

            <a v-if='item.status=="not_activated"'
                    variant="outline"
                  href="javascript:void(0);"
                    class="btn btn-outline-success btn-xs"
                    @click="activateUser(item.id)"
                >Enable</a>

                 <a v-else-if="item.status=='activated'"
                    variant="outline"
                   href="javascript:void(0);"
                   @click="desableUser(item.id)"
                    class="btn btn-outline-warning btn-xs"
                >Disable</a>
                <router-link :to="'/edit-company-user/'+item.id"
                    variant="outline"
                  href="javascript:void(0);"
                    class="btn btn-outline-success btn-xs"
                    @click="activateUser(item.id)"
                >Edit</router-link>
               </CButtonGroup>

              </td>
            </template>
            <template #details="{item, index}">
              <CCollapse :show="details.includes(index)">
                <CCardBody>
                  {{index + 1}} - {{item}}
                </CCardBody>
              </CCollapse>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
// import usersData from '../users/UsersData'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
const fields = [
  { key: 'username', _style:'width:40%' },
  'registered',
  { key: 'role', _style:'width:20%;' },
  { key: 'status', _style:'width:20%;' },
  {
    key: 'show_details',
    label: '',
    _style: 'width:1%',
    sorter: false,
    filter: false
  }
]

export default {
  name: 'Company Admin',
  components: {
    Loading,
  },
  data () {
    return {
      isLoading: false,
      fullPage: true,
      usersData:[],
      company:{},
      fields:[{key:'first_name'},{key:'last_name'},{key:'email'},{key:'cell_phone'},{key:'type'},{key:'status'},{key:'action'}],
      details: [],
    }
  },

  created(){
   this.getUser();
  },
  methods: {
    getUser(){
      // alert('yes');
     this.isLoading = true;
   $axios.get('company/company-user/'+this.$route.params.id).then(response=>{
     this.isLoading = false;
     this.company=response.data.company;
     this.usersData=response.data.data.map(item=>({
         first_name:item.first_name,
         last_name:item.last_name,
         email:item.email,
         cell_phone:item.cell_phone,
         type:item.type,
         id:item.id,
         status:item.status

     }))
   }).catch(error=>{
     this.isLoading = false;
   })
    },
   desableUser(id){
    let status='not_activated';
    $axios.post('user-module/update-user-status',{id:id,status:status}).
    then(response=>{
       console.log(response);
     this.getUser();
    }).
    catch(error=>{

    })
   },
   activateUser(id){
      let status='activated';
     $axios.post('user-module/update-user-status',{id:id,status:status}).
    then(response=>{
      console.log(response);
    this.getUser();
    }).
    catch(error=>{

    })
   },
    getBadge (status) {
      return status === 'Active' ? 'success'
             : status === 'Inactive' ? 'secondary'
             : status === 'Pending' ? 'warning'
             : status === 'Banned' ? 'danger' : 'primary'
    },

    toggleDetails (index) {
      const position = this.details.indexOf(index)
      position !== -1 ? this.details.splice(position, 1) : this.details.push(index)
    }
  }
}
</script>
