<template>
  <CRow>
    <div class="vld-parent">
      <loading :active.sync="isLoading"
               :is-full-page="fullPage"
               :loader="dots">
      </loading>
      <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
    </div>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CIcon name="cil-grid"/> Companies


        </CCardHeader>
        <CCardBody>
          <CDataTable
            :items="usersData"
            :fields="fields"

            table-filter
            items-per-page-select
            :items-per-page="5"
            hover
            sorter
            pagination
          >
            <template #status="{item}">
              <td>
                <CBadge :color="getBadge(item.status)">
                  {{item.status}}
                </CBadge>
              </td>
            </template>
            <template #action="{item, index}">

              <td class="py-2">

               <CButtonGroup class="mx-1">
            <router-link
                    variant="outline"
                    :to="'/create-company-user/'+item.id"
                    class="btn btn-outline-primary btn-sm"
                >Add Users</router-link>
                 <router-link
                    variant="outline"
                    :to="'/company-users/'+item.id"
                    class="btn btn-outline-primary btn-sm"
                >View Users</router-link>

                 <CButton
                   color="primary"
                   variant="outline"
                   v-if="loggedInUser.type=='admin'"
                   square
                   size="sm"
                   @click="updateStatus(item.status, item.id)"
                 >
                   {{item.status== 'disabled' ? 'Enable' : 'Disable'}}
                 </CButton>

               </CButtonGroup>

              </td>
            </template>
            <template #details="{item, index}">
              <CCollapse :show="details.includes(index)">
                <CCardBody>
                  {{index + 1}} - {{item}}
                </CCardBody>
              </CCollapse>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
// import usersData from '../users/UsersData'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

const fields = [
  { key: 'username', _style:'width:40%' },
  'registered',
  { key: 'role', _style:'width:20%;' },
  { key: 'status', _style:'width:20%;' },
  {
    key: 'show_details',
    label: '',
    _style: 'width:1%',
    sorter: false,
    filter: false
  }
]

export default {
  name: 'Companies',
  components: {
    Loading,
  },
  data () {
    return {
      isLoading: false,
      fullPage: true,
      usersData:[],
      fields:[{key:'company_title'},{key:'company_product_type'},{key:'twillio_number'},{key:'phone_number'},{key:'company_state'},{key:'company_city'},{key:'expiry_date'},{key:'signup_url'},{key:'login_url'},{key:'created_at'},{key:'status'},{key:'action'}],
      details: [],
      loggedInUser: null,
    }
  },

  created(){
    this.getCompaniese();
    var loggedInUser = localStorage.getItem("userDetail");
    this.loggedInUser = JSON.parse(loggedInUser);  },
  methods: {

    updateStatus(status, id){
      if(status=='enabled'){
          var c_status = 'disabled'
      }else{
        var c_status = 'enabled'
      }
      this.isLoading = true;
      $axios.post('/company/set-company-status', {status:c_status,id:id})
        .then(response => {
          this.isLoading = false;
          this.$alertify.success(response.data.message);
          this.getCompaniese();
        })
        .catch(error => {
          this.isLoading = false;
          this.error = null;
          this.errors =error.response.data.errors;
        })
    },

    getBadge (status) {
      return status === 'Active' ? 'success'
             : status === 'Inactive' ? 'secondary'
             : status === 'Pending' ? 'warning'
             : status === 'Banned' ? 'danger' : 'primary'
    },

    getCompaniese(){
      var c_id = localStorage.getItem("company_id");
      this.isLoading = true;
      $axios.get('company/company-listing/' + c_id).then(response=>{
        this.isLoading = false;
        this.usersData=response.data.data.map(item=>({
          company_title:item.business_name,
          company_product_type:item.company_product_type,
          slug:item.slug,
          twillio_number:item.twillio_number,
          phone_number:item.phone_number,
          company_state:item.state,
          company_city:item.city,
          expiry_date:item.expiry_date,
          signup_url: 'http://app.ownerchat.com/owners-signup/' + item.slug,
          login_url: 'http://app.ownerchat.com/login/' + item.slug,
          created_at: item.created_at,
          status:item.status,
          id:item.id

        }))
      }).catch(error=>{
        this.isLoading = false;
      })
    },

    toggleDetails (index) {
      const position = this.details.indexOf(index)
      position !== -1 ? this.details.splice(position, 1) : this.details.push(index)
    }
  }
}
</script>
