<template>
  <div>
    <div class="vld-parent">
      <loading :active.sync="isLoading"
               :is-full-page="fullPage"
               :loader="dots">
      </loading>
      <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
    </div>
    <CCard>
      <CCardHeader>
        <strong>Create Company </strong>
      </CCardHeader>
      <CCardBody>
        <div style="height: 100%">
          <div style="height: 100%; padding-top: 50px; padding-bottom: 50px;" class="container-fluid centerx">
            <div class="container">
              <CCard>
                <CCardHeader style="background-color: lightgray">
                  <strong>Company Details</strong>
                </CCardHeader>
                <CCardBody>
                  <CForm @submit.prevent="saveCompanyInfo">
                    <CInput
                      label="Company title"
                      v-model="company_title"
                      placeholder="Enter your company name"
                      :invalidFeedback="errors.business_name?errors.business_name[0]:''"
                    />
                    <!-- {{errors.business_name}} -->
                    <!-- <span v-if="errors.business_name">{{errors.business_name[0]}}</span> -->
                            <b-form-group label="Country" >
           <b-form-select  v-model="country" :options="[ {value:'USA',text:'USA'}]" class=" mb-3"></b-form-select>
       <span class="invalid-feedback" v-if="errors.user_type">{{errors.user_type[0]}}</span>
                </b-form-group>


                      <b-form-group label="State" >
           <b-form-select  v-model="state" :options="statelist" class=" mb-3"></b-form-select>
       <span class="invalid-feedback" v-if="errors.state">{{errors.state[0]}}</span>
                </b-form-group>
                    <!-- <span v-if="errors.state">{{errors.state[0]}}</span> -->
                    <CInput
                      label="City "
                      v-model="city"
                      placeholder="Enter your city name"
                      :invalidFeedback="errors.city?errors.city[0]:''"
                    />
                    <CInput
                      label="Street Address "
                      v-model="street_address"
                      placeholder="Enter street address"
                      :invalidFeedback="errors.city?errors.city[0]:''"
                    />

                      <!-- <b-form-group label="Zip code" >
                      <masked-input
                        type="text"
                        name="taxid"
                        class="form-control"
                        v-model="zip_code"
                        :mask="[/\d/, /\d/,  /\d/, /\d/, /\d/, /\d/, /\d/, /\d/, /\d/, /\d/]"
                        :guide="true"

                      />

                    </b-form-group> -->
                    <CInput
                      label="Zip code "
                      type="number"
                      v-model="zip_code"
                      placeholder="Enter zip code"
                      :invalidFeedback="errors.zip_code?errors.zip_code[0]:''"
                    />
                    <CRow>
      <CCol md="9">
                    <b-form-group label="Twilio phone pumber" >
                      <masked-input
                        type="text"
                        name="taxid"
                        class="form-control"
                        v-model="twillio_phone"
                        :mask="['+','1', /\d/, /\d/, /\d/,  /\d/, /\d/, /\d/, /\d/, /\d/, /\d/, /\d/]"
                        :guide="false"
                        placeholderChar="#"
                      />
                      <span class="invalid-feedback" v-if="errors.twillio_number">{{errors.twillio_number[0]}}</span>
                    </b-form-group>
      </CCol>
      <CCol md="3">
          <!-- <b-button >Show Modal</b-button> -->
     <CButton  class="mt-4" @click="showModal" style="height:36px;" color="primary">Generate twilio number</CButton>
      </CCol>
                    </CRow>
                    <!-- <span v-if="errors.twillio_number">{{errors.twillio_number[0]}}</span> -->
                    <b-form-group label="Phone number" >
                      <masked-input
                        type="text"
                        name="taxid"
                        class="form-control"
                        v-model="cell_phone"
                        :mask="['+','1', /\d/, /\d/, /\d/,  /\d/, /\d/, /\d/, /\d/, /\d/, /\d/, /\d/]"
                        :guide="false"
                        placeholderChar="#"
                      />
                      <span class="invalid-feedback" v-if="errors.phone_number">{{errors.phone_number[0]}}</span>
                    </b-form-group>
                    <!-- <span v-if="errors.twillio_number">{{errors.twillio_number[0]}}</span> -->
                    <b-form-group id="date_bought" label="Expiry date:" label-for="date_bought">
                      <datepicker class="textowners-date" :format="customDateFormatter" v-model="expiry_date" name="date_bought"></datepicker>
                      <span v-if="errors.expiry_date" class="invalid-feedback">{{errors.expiry_date[0]}}</span>
                    </b-form-group>
                    <b-form-group label="Product Type" >
                       <b-form-select  v-model="type" :options="productType" class=" mb-3">
                         <template slot="">
                           <option value="">Select Product Type</option>
                         </template>
                       </b-form-select>
       <span class="invalid-feedback" v-if="errors.product_type">{{errors.product_type[0]}}</span>
                </b-form-group>
                  </CForm>
                </CCardBody>

                <CCardFooter>
                  <CButton @click="saveCompanyInfo()" type="submit" size="sm" color="primary" >Create company</CButton>
                </CCardFooter>
              </CCard>
            </div>
          </div>
        </div>
      </CCardBody>
    </CCard>
     <!-- <CModal
      title="Generate twillio number"
      hide-footer
      :show.sync="myModal"
    noFooter
    >
      <CInput
                      label="Area code"
                      type="number"
                      v-model="areaCode"
                      placeholder="Enter zip code"
                      :invalidFeedback="errors.zip_code?errors.zip_code[0]:''"
                    />
             <div slot="modal-footer" class="w-100">
   <p class="float-left">Modal sadsadas Footer Content</p>
   <b-btn size="sm" class="float-right" variant="primary" @click="show=false">
      Close
   </b-btn>
 </div>
    </CModal> -->
     <b-modal  title="Generate twillio number"
      size="lg"  ref="my-modal"


      >
        <div class="">
            <CInput
                      label="Area code"
                      type="number"
                      v-model="areaCode"
                      placeholder="Enter area code"
                      :invalidFeedback="errors.zip_code?errors.zip_code[0]:''"
                    />
                       <b-form-group v-if="generatedNumber.length>0" label="Twillio number" >
           <b-form-select  v-model="selectedNumber" :options="generatedNumber" class=" mb-3">

           </b-form-select>
       <span class="invalid-feedback" v-if="errors.product_type">{{errors.product_type[0]}}</span>
                </b-form-group>
                <h3 v-if="generatedNumber.length==0">{{message}}</h3>
      </div>
     <template v-slot:modal-footer="{ ok, cancel }">

     <loading :active.sync="isGenerated"
               :is-full-page="fullPage"
               :loader="dots">
      </loading>

  <b-button v-if="selectedNumber!=''" @click="setnumber" size="sm" variant="success" >
        Select as twilio number
      </b-button>
      <b-button size="sm" variant="success" @click="generateTwilio()">
        Generate twilio number
      </b-button>
      <b-button size="sm" variant="danger" @click="cancel()">
        Cancel
      </b-button>
    </template>
     </b-modal>
  </div>
</template>
<script>
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import Datepicker from 'vuejs-datepicker';
  import MaskedInput from 'vue-text-mask'
  import moment from 'moment';

  export default {
    name: "Create Company",
    components: {
      Datepicker,
      MaskedInput,
      Loading
    },
    data() {
      return {
        myModal: false,
        isLoading: false,
        fullPage: true,
        company_title:'',
        twillio_phone:'',
        cell_phone:'',
        expiry_date:'',
        product_type:'',
        state:'',
        city:'',
        type:'',
        isGenerated:false,
        country:'USA',
        street_address:'',
        zip_code:'',
        areaCode:'',
        errors:[],
        selectedNumber:'',
        message:'',
        generatedNumber:[],
        productType:[],
        statelist: ''
      };
    },
    created(){
      this.getProductTypes();
      this.getState();
    },
    methods: {

      getProductTypes(){
        this.$http.get('products/published-product-types')
        .then(response=>{
          this.message = '';
          this.productType = response.data.data.map(item => ({value: item.id, text: item.title}));
        }).
        catch(error=>{

        })
      },

      getState(){
       this.$http.get('company/state').
       then(response=>{
            this.statelist=response.data.data.map(item=>({value:item.name,text:item.name}));
       }).
       catch(error=>{
          console.log('state error');
       })
      },
      setnumber(){
this.twillio_phone=this.selectedNumber;
this.hideModal();
 this.$alertify.success('Company twilio number selected');

      },
      customDateFormatter(date) {
        return moment(date).format('DD/MM/YYYY');
      },
      generateTwilio(){
        this.message='';
        this.selectedNumber='';
        this.isGenerated=true;
          this.$http.post('company/generate-twellio-number',{area_code:this.areaCode})
          .then(resp=>{
            this.message=resp.data.message;
         this.generatedNumber=resp.data.data.map(item=>({value:item.phone_number,text:item.phone_number}));
         this.isGenerated=false;
          }).
          catch(error=>{
             alert('no');
             this.isGenerated=false;
          })
      },
       showModal() {
        this.$refs['my-modal'].show()
      },
      hideModal() {
        this.$refs['my-modal'].hide()
      },
      toggleModal() {
        // We pass the ID of the button that we want to return focus to
        // when the modal has hidden
        this.$refs['my-modal'].toggle('#toggle-btn')
      },
      saveCompanyInfo(){
        this.isLoading = true;
        this.$http.post('company/company-signup',{
          business_name:this.company_title,
          city:this.city,
          state:this.state,
          product_type:this.type,
          phone_number:this.cell_phone,
          twillio_number:this.twillio_phone,
          expiry_date:this.expiry_date,
          country:this.country,
          street_address:this.street_address,
          zip_code:this.zip_code
        }).then(response=>{
          this.isLoading = false;
          this.steps=true;
          this.company_id=response.data.data.id;
          this.$alertify.success('Company created successfully');
          this.$router.push('/create-company-user/'+this.company_id);
        }).catch(error=>{
          this.errors=  error.response.data.errors;
          this.steps=false;
          this.isLoading = false;
        });
        if(this.steps)
        {
          return true;
        }
        else
        {
          return false;
        }
      }
    },
    onComplete(){
      // alert('yes');
    },
  }
</script>
<style lang="scss" scopped>
  .invalid-feedback{
    display: block !important;
    position: relative;
    top: -7px;
  }
  .to-register-wraper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0px;
  }
  .col-auto{
    max-width: 300px !important;
    width: 100% !important;
  }
  .col-auto ul li{
    padding: 10px 0px !important;
    font-weight: bold !important;
  }
  .to-register-wraper .card{
    border-radius: 0px !important;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000 !important;
    background-color: transparent !important;
    padding-left: 45px;
  }
  .nav-pills .nav-link {
    padding-left: 45px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #6c757d;
  }
  .card .nav.flex-column > li{
    border-bottom: none !important;
  }
  .col-auto ul{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .process-buttons{
    padding-top: 40px;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #3490dc;
    background-color: #3490dc;
  }
  .vue-tags-input {
    max-width: 500px !important;
  }
  .invalid-feedback{
    display: block;
  }
  .textowners-date input{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .right_side{
    background-color: #fff;
  }
  .container-fluid{
    background-color: transparent !important;
  }
  .response-message{
    padding-bottom: 10px;
  }
  @media screen and (max-width: 600px){
    .responsive-login{
      display: none !important;
    }
  }
</style>
