<template>
   <div>
     <div class="vld-parent">
       <loading :active.sync="isLoading"
                :is-full-page="fullPage"
                :loader="dots">
       </loading>
       <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
     </div>
         <CCard>
          <CCardHeader>
            <strong>Create User</strong>
          </CCardHeader>
          <CCardBody>
       <div style="height: 100%">
           <div style="height: 100%; padding-top: 50px; padding-bottom: 50px;" class="container-fluid centerx">
               <div class="container">






           <CForm @submit.prevent="saveCompanyInfo">
                <b-form-group label="User Type" >
           <b-form-select  v-model="user_type" :options="[ {value:'',text:'Select user'},{value:'business_admin',text:'Business admin'},{value:'business_user',text:'Business user'}]" class=" mb-3"></b-form-select>
       <span class="invalid-feedback" v-if="errors.user_type">{{errors.user_type[0]}}</span>
                </b-form-group>

            <CInput
              label="First name"
              v-model="first_name"
              placeholder="Enter first name"

              :invalidFeedback="errors.first_name?errors.first_name[0]:''"
            />
            <!-- {{errors.business_name}} -->
            <!-- <span v-if="errors.business_name">{{errors.business_name[0]}}</span> -->
            <CInput
              label="Last name "
              v-model="last_name"
              placeholder="Enter last name"
              :invalidFeedback="errors.last_name?errors.last_name[0]:''"
            />
              <!-- <span v-if="errors.state">{{errors.state[0]}}</span> -->

            <CInput
              label="Email"
              v-model="email"
              placeholder="Enter email "
              :invalidFeedback="errors.email?errors.email[0]:''"
            />

          <b-form-group label="Cell number" >

             <masked-input
                type="text"
                name="taxid"

                class="form-control"
                v-model="cell_phone"
              :mask="['+',/\d/, /\d/, /\d/, /\d/,  /\d/, /\d/, /\d/, /\d/, /\d/, /\d/, /\d/]"
                :guide="false"
                placeholderChar="#"
              />
              <span class="invalid-feedback" v-if="errors.cell_phone">{{errors.cell_phone[0]}}</span>
          </b-form-group>
            <CInput
            v-model="password"
              label="Password"
              type="password"
              placeholder="Enter password"
                :invalidFeedback="errors.password?errors.password[0]:''"
            />
           </CForm>

               </div>
           </div>
       </div>
       </CCardBody>
           <CCardFooter>
             <CButton @click="saveCompanyInfo()" type="submit" size="sm" color="primary">Create User</CButton>
           </CCardFooter>
                           </CCard>
   </div>
</template>
<script>
import MaskedInput from 'vue-text-mask'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import Datepicker from 'vuejs-datepicker';

import moment from 'moment';
    export default {
        name: "Create Company User",
        components: {
             Loading,
             Datepicker,
             MaskedInput

        },
        data() {
            return {
               isLoading: false,
               fullPage: true,
               user_type:'',
               first_name:'',
               last_name:'',
               email:'',
               password:'',
               cell_phone:'',
               company_id:'',
               errors:[],
            };
        },
        created(){

        },

        methods: {
   customDateFormatter(date) {
        return moment(date).format('mm/dd/yyyy');
      },
    saveCompanyInfo(){
      this.isLoading = true;
      $axios.post('company/company-admin',{
       first_name:this.first_name,
       last_name:this.last_name,
       user_type:this.user_type,
       email:this.email,
       password:this.password,
       cell_phone:this.cell_phone,
       company_id:this.$route.params.id
     }).then(response=>{
        this.isLoading = false;
        this.steps=true;
        // this.$router.push('/dashboard');
        this.company_id=response.data.data.id;
         this.$alertify.success('Company user created successfully');
        this.$router.push('/company-users/'+this.$route.params.id);
     }).catch(error=>{
        this.isLoading = false;
     this.errors=  error.response.data.errors;
       this.steps=false;
     });
     if(this.steps)
      {
          return true;
      }
      else
      {
          return false;
      }

    }
  },


    }
</script>
<style lang="scss" scopped>
    .invalid-feedback{
        display: block !important;
        position: relative;
        top: -7px;
    }
    .to-register-wraper {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        padding: 50px 0px;
    }
    .col-auto{
        max-width: 300px !important;
        width: 100% !important;
    }
    .col-auto ul li{
        padding: 10px 0px !important;
        font-weight: bold !important;
    }
    .to-register-wraper .card{
        border-radius: 0px !important;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #000 !important;
        background-color: transparent !important;
        padding-left: 45px;
    }
    .nav-pills .nav-link {
        padding-left: 45px;
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #6c757d;

    }
    .card .nav.flex-column > li{
        border-bottom: none !important;
    }
    .col-auto ul{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .process-buttons{
        padding-top: 40px;
    }
    .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: #3490dc;
        background-color: #3490dc;
    }
    .vue-tags-input {
        max-width: 500px !important;
    }
    .invalid-feedback{
        display: block;
    }
    .textowners-date input{
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .right_side{
        background-color: #fff;
    }
    .container-fluid{
        background-color: transparent !important;
    }
    .response-message{
        padding-bottom: 10px;
    }
    @media screen and (max-width: 600px){
        .responsive-login{
            display: none !important;
        }
    }
</style>
