<template>
    <div class="section">
        <div class="container px-4 mx-auto">
            <div class="flex items-center justify-center" v-if="!onCsvEdit">
                <div class="oc-card oc-card-default rounded-lg">
                    <div class="oc-card-header">
                        <h2>Upload List up to 5000 files</h2>
                        <p>
                            .csv file required header, we will not accept csv file without header column
                        </p>
                    </div>
                    <div class="oc-card-body">
                        <form @submit.prevent="importCsv">
                            <div class="mb-5">
                                <label for="file">Only .csv file allow</label>
                                <input type="file" @change="onChange" name="file" required>

                                <error name="file"></error>
                            </div>

                            <div class="mb-5">
                                <button type="submit" class="oc-btn oc-btn-red rounded">Upload File</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="oc-grid" v-else>
                <div class="w-full">
                    <div class="mb-5">
                        <label for="contact_list_id">Contact List</label>
                        <select v-model="contact_list_id" name="contact_list_id" class="oc-form-control">
                            <option value="">
                                Choose Contact List
                            </option>
                            <option v-for="contact_list in contact_lists" :key="contact_list.id" :value="contact_list.id">
                                {{contact_list.title}}
                            </option>
                        </select>

                        <button uk-toggle="target: #contactListModal" class="text-blue-500">Add new Contact List</button>
                        <ContactListForm />

                    </div>
                </div>

                <div class="w-full md:w-1/2">
                    <div class="mb-5">
                        <label for="first_name">First Name</label>
                        <select v-model="first_name" name="first_name" class="oc-form-control">
                            <option value="">
                                ------
                            </option>
                            <option v-for="(column,index) in csv_columns" :key="index">
                                {{column}}
                            </option>
                        </select>
                    </div>

                    <div class="mb-5">
                        <label for="email">Email</label>

                        <select name="email" v-model="email" class="oc-form-control">
                            <option value="">
                                ------
                            </option>
                            <option v-for="(column,index) in csv_columns" :key="index">
                                {{column}}
                            </option>
                        </select>
                    </div>

                    <div class="mb-5">
                        <label for="other">Other</label>

                        <select v-model="other" name="other" class="oc-form-control">
                            <option value="">
                                ------
                            </option>
                            <option v-for="(column,index) in csv_columns" :key="index">
                                {{column}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="w-full md:w-1/2">
                    <div class="mb-5">
                        <label for="last_name">Last Name</label>

                        <select v-model="last_name" name="last_name" class="oc-form-control">
                            <option value="">
                                ------
                            </option>
                            <option v-for="(column,index) in csv_columns" :key="index">
                                {{column}}
                            </option>
                        </select>
                    </div>

                    <div class="mb-5">
                        <label for="phone">Phone</label>

                        <select name="phone" v-model="phone" class="oc-form-control">
                            <option value="">
                                ------
                            </option>
                            <option v-for="(column,index) in csv_columns" :key="index">
                                {{column}}
                            </option>
                        </select>
                    </div>

                    <div class="mb-5">
                        <label for="tags">Tags</label>
                        <multiselect v-model="value" @remove="removeTag" :options="tags" tag-placeholder="Add this as new tag" track-by="name" label="name" @tag="addTag" placeholder="Search or add a tag" :multiple="true" :taggable="true"></multiselect>
                    </div>
                </div>

                <div class="w-full" v-if="!contact_list_id">
                    <p class="text-red-500">Cannot Save Contact, please choose or add contact list first</p>
                </div>

                <div class="w-full" v-if="contact_list_id">
                    <div class="mb-5 flex justify-end">
                        <button @click="saveCsv" class="oc-btn oc-btn-red rounded-full">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import slugify from 'slugify';
import ContactListForm from '@/components/cd/import/ContactListForm';

import { mapState } from 'vuex';

export default {
    components: {
        Multiselect,
        ContactListForm
    },
    data() {
        return {
            file:'',
            onCsvEdit: false,
            contacts: [],
            csv_columns: [],
            contacts2:[],

            first_name:'',
            last_name:'',
            email:'',
            phone:'',
            other:'',

            value:[],
            tags:[],

            contact_list_id: '',
        }
    },
    mounted() {
        const { slug } = this.$route.params;
        this.$store.dispatch('contact_lists/index', slug);
    },
    methods: {
        onChange(e) {
            this.file = e.target.files[0];
        },
        importCsv() {
            const data = new FormData();
            data.append('file', this.file);
            this.$axios.post('/api/v1/contacts/import',data).then(res => {
                this.contacts = res.data.data;
                this.onCsvEdit = true;

                if(this.contacts.length) {
                    this.csv_columns = Object.keys(this.contacts[0])
                }
            }).catch()
        },
        saveCsv() {
            this.contacts2 = [];

            this.contacts.map(contact => {
                this.pushContact(contact)
            });

            const data = {
                contacts: this.contacts2,
                tags: this.tags
            }
            this.$axios.post('/api/v1/contacts/import/store',data).then(res => {
                this.$router.push(`/cd/${this.$route.params.slug}/contact_lists`);
            }).catch()
        },
        /**
         * Push imported csv contact to contacts
         *
         * @param {object} contact
         * @return {void}
         */
        pushContact(contact) {
            this.contacts2.push({
                first_name: contact[this.first_name] || null,
                last_name: contact[this.last_name] || null,
                phone_number: contact[this.phone] || null,
                other: contact[this.other] || null,
                email: contact[this.email] || null,
                contact_list_id: this.contact_list_id
            });
        },
        /**
         * Add tag to contacts
         */
        addTag(value) {
            const tag = {
                name:value,
                slug: slugify(value,{lower: true})
            }

            this.tags.push(tag);
            this.value.push(tag);
        },
        removeTag(value) {
            this.tags = this.tags.filter(tag => {
                tag.slug != value.slug
            })
        }
    },
    computed: {
        ...mapState({
            contact_lists: state => state.contact_lists.all
        }),
    }
}
</script>