<template>
    <div class="section">
        <div class="container px-4 mx-auto">
            <h1 class="text-3xl font-bold mb-8">Contact Lists</h1>

            <div class="flex justify-between items-center mb-6">
                <div>
                    <button uk-toggle="target: #contactListModal" class="oc-btn oc-btn-primary rounded">Add new Contact List</button>
                    <ContactListForm />
                </div>

                <div>
                    <nuxt-link :to="`/cd/${$route.params.slug}/contact_lists/import`" class="oc-btn oc-btn-red rounded">Import Contact</nuxt-link>
                </div>
            </div>

            <div class="oc-card oc-card-default rounded-xl">
                <div class="oc-card-body p-0">
                    <table class="oc-table oc-table-striped no-border rounded-xl">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Total</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="contact_list in contact_lists" :key="contact_list.id">
                                <td>
                                    <nuxt-link :to="{name: 'contact_lists.show', params:{'slug': $route.params.slug, ctl_id: contact_list.id}}">
                                        {{ contact_list.title || 'N/A'}}
                                    </nuxt-link>
                                </td>
                                <td>{{ contact_list.contacts_count }}</td>
                                <td>
                                    <button>
                                        <more-vertical-icon></more-vertical-icon>
                                    </button>

                                    <div uk-dropdown="mode:click;">
                                        <ul class="uk-dropdown-nav">
                                            <li>
                                                <a href="#" @click="handleEditModal(contact_list)">Edit</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                            <tr v-if="!contact_lists.length">
                                <td colspan="3" class="text-center">No Contact List</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Modal -->
                    <EditModal :data="contact_list" />

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { MoreVerticalIcon } from 'vue-feather-icons';

import { mapState } from 'vuex';

import ContactListForm from '@/components/cd/import/ContactListForm';
import EditModal from '@/components/cd/contacts/EditModal';

export default {
    components: {
        MoreVerticalIcon,
        ContactListForm,
        EditModal
    },
    data() {
        return {
            isEditContact: false,
            contact_list: null,
        }
    },
    mounted() {
        this.$store.dispatch('contact_lists/index', this.$route.params.slug);
    },
    methods: {
        handleEditModal(data) {
            this.selected_contact_list = data;
            UIkit.modal('#contactListEditModal').show();
            this.$root.$emit('contactListData', data);
        }
    },
    computed: {
        ...mapState({
            contact_lists: state => state.contact_lists.all
        })
    }
}
</script>

<router>
    {
        name: 'contact_lists.index'
    }
</router>