<template>
  <b-row class="mobui">
    <b-form-group label="Type" class="col-md-12 mb-1 mt-5" >
      <b-form-select @change="type" v-model="modeldata.type"   :options="[ {value:'tv',text:'TV'},{value:'computer',text:'Computer'},{value:'stereo',text:'Stereo'},{value:'mobile',text:'Mobile'},{value:'tablet',text:'Tablet'}]" class=" mb-3"></b-form-select>
     <b-form-invalid-feedback v-if="error.type" id="input-live-feedback">
                        {{error.type[0]}}
                      </b-form-invalid-feedback>
    </b-form-group>
    <b-form-group label="Make"  class="col-md-12 mb-1 mt-1">
      <b-form-select @change="make"  v-model="modeldata.make" :options="dropdown_data" class="col-md-12"></b-form-select>
      <b-form-invalid-feedback v-if="error.type" id="input-live-feedback">
                        {{error.type[0]}}
                      </b-form-invalid-feedback>
    </b-form-group>
    <b-form-group label="Model" class="col-md-12 mb-1 mt-1">
      <b-form-select  @change="model" v-model="modeldata.model" :options="dropdown_data_model" class="col-md-12"></b-form-select>
      <b-form-invalid-feedback v-if="error.model" id="input-live-feedback">
                        {{error.model[0]}}
                      </b-form-invalid-feedback>
    </b-form-group>
  </b-row>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'ComputersOrElectronics',
    data () {
      return {
        modeldata:{
          make: '',
          model: '',
          type:""
        },
        dropdown_data: [],
        dropdown_data_model: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      type(){
      this.$emit('type',this.modeldata.type);
      },
      make(){
       this.$emit('make',this.modeldata.make);
      },
      model(){
        this.$emit('model',this.modeldata.model);
      },
      getData(){
        this.$http.get('/buyer-forms-data/computers-or-electronics').then(response=>{
          this.dropdown_data = response.data.data.make.map(item=>({value:item.make,text:item.make}));
          this.dropdown_data_model = response.data.data.model.map(item=>({value:item.model,text:item.model}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
