<template>
  <b-row class="mobui">
    <b-form-group label="Type" class="col-md-12 mb-1 mt-5" >
      <b-form-select @change="type" v-model="modeldata.type"   :options="[ {value:'group',text:'Group'},{value:'personal',text:'Personal'},{value:'app/virtual',text:'App/Virtual'}]" class=" mb-3"></b-form-select>
     <b-form-invalid-feedback v-if="error.type" id="input-live-feedback">
                        {{error.type[0]}}
                      </b-form-invalid-feedback>

    </b-form-group>
    <b-form-group label="Trainer" class="col-md-12 mb-1 mt-1">
      <b-form-select @change="trainer" v-model="modeldata.trainer" :options="dropdown_data_trainer" class="col-md-12"></b-form-select>
     <b-form-invalid-feedback v-if="error.trainer" id="input-live-feedback">
                        {{error.trainer[0]}}
                      </b-form-invalid-feedback>
    </b-form-group>
  </b-row>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'Fitness',
    data () {
      return {
        modeldata:{
          type: '',
          trainer: '',
        },
        dropdown_data: [],
        dropdown_data_trainer: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      type(){
        this.$emit('type',this.modeldata.type);
      },
      trainer(){
        this.$emit('trainer',this.modeldata.trainer);
      },
      getData(){
        this.$http.get('/buyer-forms-data/fitness').then(response=>{
          this.dropdown_data = response.data.data.type.map(item=>({value:item.type,text:item.type}));
          this.dropdown_data_trainer = response.data.data.trainer.map(item=>({value:item.trainer,text:item.trainer}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
