<template>
  <b-row class="mobui">

      <b-form-group label="Business type" class="col-md-12 mb-1 mt-5">
<!--        <b-form-select @change="business_type" v-model="modeldata.business_type" :options="business_type_data" class="col-md-12"></b-form-select>-->
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
          Business Type
        </label>

        <select @change="business_type" v-model="modeldata.business_type"  class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
          <option v-for="item in business_type_data" v-bind:value="item.value">{{item.text}}</option>

        </select>

       <b-form-invalid-feedback v-if="error.businessType" id="input-live-feedback">
                        {{error.businessType[0]}}
                      </b-form-invalid-feedback>

      </b-form-group>
    <b-form-group label="Business type" class="col-md-12 mb-1 mt-5">
      <!--        <b-form-select @change="business_type" v-model="modeldata.business_type" :options="business_type_data" class="col-md-12"></b-form-select>-->
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Procedure type
      </label>

      <select @change="procedureType"  v-model="modeldata.procedure_type"   class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
        <option v-for="item in procedure_type_data" v-bind:value="item.value">{{item.text}}</option>

      </select>

      <b-form-invalid-feedback v-if="error.procedure" id="input-live-feedback">
        {{error.procedure[0]}}
      </b-form-invalid-feedback>

    </b-form-group>
  </b-row>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'HealthCareProducts',
    data () {
      return {
        modeldata:{
          business_type: '',
          procedure_type: '',
        },
        business_type_data: [],
        procedure_type_data: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      business_type(){
        this.$emit('bussiness',this.modeldata.business_type)

      },
      procedureType(){
      // console.log(this.modeldata.procedure_type);
       this.$emit('procedure',this.modeldata.procedure_type);
      },
      getData(){
        this.$axios.get('/api/v1/buyer-forms-data/health-care').then(response=>{
          let data = response.data.data.business_type.map(item=>({value:item.business_type,text:item.business_type}));
          this.business_type_data = data;
          this.procedure_type_data=response.data.data.procedure_type.map(item=>({value:item.procedure_type,text:item.procedure_type}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
