<template>
  <b-row class="mobui">
    <b-form-group label="Property type" class="col-md-12 mb-1 mt-5">
      <b-form-select @change="type"  v-model="modeldata.type" :options="real_estate_data" class="col-md-12"></b-form-select>
       <b-form-invalid-feedback v-if="error.property_type" id="input-live-feedback">
                        {{error.property_type[0]}}
                      </b-form-invalid-feedback>
    </b-form-group>
  </b-row>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'HealthCareProducts',
    data () {
      return {
        modeldata:{
          type: '',
        },
        real_estate_data: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      type(){
      this.$emit('type',this.modeldata.type);
      },
      getData(){
        this.$http.get('/buyer-forms-data/home-real-estate').then(response=>{
          this.real_estate_data = response.data.data.map(item=>({value:item.type,text:item.type}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
