<template>
  <b-row class="mobui">
    <b-form-group label="Type" class="col-md-12 mb-1 mt-5" >
      <b-form-select @change="type" v-model="modeldata.type"   :options="[ {value:'window',text:'Window'},{value:'sliding',text:'Sliding'},{value:'roof',text:'Roof'},{value:'pool',text:'Pool'}, {value:'solar',text:'Solar'},{value:'bath',text:'Bath'},{value:'addition',text:'Addition'},{value:'construction',text:'Construction'}]" class=" mb-3"></b-form-select>
      <b-form-invalid-feedback v-if="error.type" id="input-live-feedback">
                        {{error.type[0]}}
                      </b-form-invalid-feedback>
    </b-form-group>
    <b-form-group label="Manufacturer" class="col-md-12 mb-1 mt-1">
      <b-form-select @change="manufacturer"  v-model="modeldata.manufacturer" :options="dropdown_data" class="col-md-12"></b-form-select>
       <b-form-invalid-feedback v-if="error.manufacturer" id="input-live-feedback">
                        {{error.manufacturer[0]}}
                      </b-form-invalid-feedback>
    </b-form-group>
  </b-row>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'HomeImprovements',
    data () {
      return {
        modeldata:{
          type: '',
          manufacturer: '',
        },
        dropdown_data: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      manufacturer(){
      this.$emit('manufacturer',this.modeldata.manufacturer);
      },
      type(){
        this.$emit('type',this.modeldata.type);
      },
      getData(){
        this.$http.get('/buyer-forms-data/home-improvements').then(response=>{
          this.dropdown_data = response.data.data.map(item=>({value:item.manufacturer,text:item.manufacturer}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
