<template>
  <b-row class="mobui">
    <b-form-group label="Advisor" class="col-md-12 mb-1 mt-5">
      <b-form-select @change="advisor" v-model="modeldata.advisor" :options="dropdown_data" class="col-md-12"></b-form-select>
    <b-form-invalid-feedback v-if="error.advisor" id="input-live-feedback">
                        {{error.advisor[0]}}
                      </b-form-invalid-feedback>
    </b-form-group>
  </b-row>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'InsuranceOrFinance',
    data () {
      return {
        modeldata:{
          advisor: '',
        },
        dropdown_data: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      advisor(){
        this.$emit('advisor',this.modeldata.advisor);
      },
      getData(){
        this.$http.get('/buyer-forms-data/insurance-or-finance').then(response=>{
          this.dropdown_data = response.data.data.map(item=>({value:item.advisor,text:item.advisor}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
