<template>
  <b-row class="mobui">
    <b-form-group label="Type" class="col-md-12 mb-1 mt-5">
      <b-form-select @change="type"  v-model="modeldata.type" :options="dropdown_data" class="col-md-12"></b-form-select>
      <!-- <span class="invalid-femodeldataedback" v-if="errors.business_type">{{errors.business_type[0]}}</span>-->
       <b-form-invalid-feedback v-if="error.type" id="input-live-feedback">
                        {{error.type[0]}}
                      </b-form-invalid-feedback>
    </b-form-group>

    <b-form-group label="Age" class="col-md-12 mb-1 mt-1" >
      <b-form-select @change="age" v-model="modeldata.product_age"   :options="[ {value:'baby-1',text:'Baby-1'},{value:'1-3',text:'1-3'},{value:'3-5',text:'3-5'},{value:'5-7',text:'5-7'},{value:'7-10',text:'7-10'},{value:'10-13',text:'10-13'}]" class=" mb-3"></b-form-select>
      <!--<span class="invalid-feedback"> {{errors.type?errors.type[0]:''}}</span>-->
       <b-form-invalid-feedback v-if="error.product_age" id="input-live-feedback">
                        {{error.product_age[0]}}
                      </b-form-invalid-feedback>
    </b-form-group>
  </b-row>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'Kids',
    data () {
      return {
        modeldata:{
          type: '',
          product_age: '',
        },
        dropdown_data: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      type(){
        this.$emit('type',this.modeldata.type);
      },
      age(){
        this.$emit('age',this.modeldata.product_age);
      },
      getData(){
        this.$http.get('/buyer-forms-data/kids').then(response=>{
          this.dropdown_data = response.data.data.map(item=>({value:item.product_type,text:item.product_type}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
