<template>
  <b-row class="mobui">
    <b-form-group label="Service type" class="col-md-12 mb-1 mt-5">
      <b-form-select @change="service"  v-model="modeldata.service" :options="dropdown_data" class="col-md-12"></b-form-select>
      <b-form-invalid-feedback v-if="error.service" id="input-live-feedback">
                        {{error.service[0]}}
                      </b-form-invalid-feedback>
    </b-form-group>
  </b-row>
</template>

<script>
  export default {
    props:['error'],
    components: {
    },
    name: 'LocalBusiness',
    data () {
      return {
        modeldata:{
          service: '',
        },
        dropdown_data: [],
        errors: [],
      }
    },
    created(){
      this.getData();
    },
    methods: {
      service(){
       this.$emit('service',this.modeldata.service);
      },
      getData(){
        this.$http.get('/buyer-forms-data/local-business').then(response=>{
          this.dropdown_data = response.data.data.map(item=>({value:item.service,text:item.service}));
        }).catch(error=>{
        })
      },
    }
  }
</script>
