<template>
    <div class="section">
        <div class="container px-4 mx-auto">
            <h1 class="font-bold text-3xl">Create Template</h1>

            <div class="oc card oc-card-body oc-card-default rounded my-5">
                <h2 class="text-xl">Available Directive</h2>
                <p>Replace the curly brace to contact list column, only available on subject and body</p>

                <div>
                    {first_name} - Contact First Name
                </div>

                <div>
                    {last_name} - Contact Last Name
                </div>

                <div>
                    {phone_number} - Contact Phone Number
                </div>

                <div>
                    {email} - Contact Email
                </div>
            </div>

            <div class="oc-card oc-card-body oc-card-default rounded my-5">
                <form @submit.prevent="updateTemplate">
                    <div class="mb-4">
                        <label for="type">Type</label>
                        <select name="type" id="" v-model="template.type" class="oc-form-control">
                            <option v-for="type in types" :key="type" :value="type">
                                {{type | uppercase}}
                            </option>
                        </select>

                        <error name="type"></error>
                    </div>

                    <div class="mb-4">
                        <label for="name">Name</label>
                        <input type="text" v-model="template.name" name="name" class="oc-form-control">

                        <error name="name"></error>
                    </div>

                    <div class="mb-4" v-if="template.type == 'email'">
                        <label for="subject">Subject</label>
                        <input type="text" v-model="template.subject" class="oc-form-control">

                        <error name="subject"></error>
                    </div>

                    <div class="mb-4">
                        <label for="body">Body</label>
                        <client-only>
                            <quill-editor
                                ref="editor"
                                v-model="template.body"
                                :options="qOpt"
                                v-if="template.type == 'email'"
                            />
                        </client-only>

                        <textarea v-if="template.type == 'sms'" name="body" v-model="template.body" id="" cols="30" rows="10" class="oc-form-control"></textarea>

                        <error name="body"></error>
                    </div>

                    <div class="mb-4">
                        <button type="submit" class="oc-btn oc-btn-primary rounded">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import 'quill/dist/quill.core.css';
import 'quill/dist/quill.snow.css';
import 'quill/dist/quill.bubble.css';

export default {
    asyncData({$axios, error, params}) {
        return $axios.get(`/api/v1/companies/${params.slug}/templates/${params.tp_id}`).then(res => {
            return {
                template: res.data
            }
        }).catch(err => {
            return error({statusCode: 404, message: 'Template not found'})
        });
    },
    data() {
        return {
            types: ['email', 'sms', 'voice'],

            qOpt: {
                modules: {
                    toolbar: [
                        [{ 'header': 1 }, { 'header': 2 }],
                        ['bold', 'italic'],
                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                        ['link']
                    ]
                }
            }
        }
    },
    methods: {
        updateTemplate() {
            const data = this.$object.only(this.template, ['subject', 'attachment', 'name', 'body', 'type']);
            const { params } = this.$route
            this.$axios.patch(`/api/v1/companies/${params.slug}/templates/${this.template.id}`, data).then(res => {
                this.$router.push({name: 'templates.index', params:{slug: params.slug, tp_id: this.template.id}})
            }).catch(err => {
                this.$store.commit('errors/add',err);
            })
        }
    }
}
</script>

<router>
    { name: 'templates.edit' }
</router>