<template>
  <div class="section">
    <div class="container px-4 mx-auto">
      <h1 class="font-bold text-3xl mb-5">Search keywords</h1>
      <div class="flex justify-end mb-5 items-center">
      </div>
      <div class="oc-card oc-card-default rounded-xl">
        <div class="oc-card-body p-0">
          <table class="oc-table oc-table-striped no-border rounded-xl">
            <thead>
                <tr>
                  <th>Search keyword</th>
                  <th>Created at</th>
                </tr>
            </thead>
            <tbody  v-if="searchkeyword.length==0">
                <tr class="text-center">
                  <td colspan="2">No keywords found.</td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr v-for="item in searchkeyword" :key="item.id">
                  <td>{{item.search_keyword}}</td>
                  <td>{{item.created_at}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {MoreVerticalIcon} from 'vue-feather-icons';

  export default {
    layout:'dashboard',
    props: ['company-slug'],
    components: {
      MoreVerticalIcon
    },
    data() {
      return {
        searchkeyword:[]
      }
    },
    created() {
      this.$axios.get('/api/v1/buyer-module/search-keywords').then(res=>{
        this.searchkeyword=res.data.data;
      }).catch(err=>{

      })
    }
  }

</script>
