<template>
  <CContainer class="d-flex align-items-center min-vh-100">
    <CRow class="justify-content-center">
      <CCol md="8">
        <CCardGroup>
          <CCard class="p-4">
            <CCardBody>
              <CForm>
                <p class="text-muted">Please select a company to login with</p>
                <b-form-group id="company_slug" label="Select Company:" label-for="company_slug">
                  <b-form-select required v-model="selectedcompany" :options="companiese"></b-form-select>

                </b-form-group>
                <CButton block color="primary" @click="selctcompany">Continue</CButton>
              </CForm>
            </CCardBody>
          </CCard>
          <CCard
            color="primary"
            text-color="white"
            class="text-center py-5 d-md-down-none"
            style="width:44%"
            body-wrapper
          >
            <h2>OwnersChat</h2>
            <p>If you have a product you want to sell, sign up with ownerschat, we aim to connect you with potential buyers.
            </p>
            <!--<CButton
              color="primary"
              class="active mt-3"
            >
              Register Now!
            </CButton>-->
          </CCard>
        </CCardGroup>
      </CCol>



    </CRow>
  </CContainer>
</template>

<script>
  export default {
    name: "TestComponent",
    components: {
    },
    data() {
      return {

       companies:[],
       selectedcompany:"",
        companiese: [
          { value: null, text: 'Select Company' },
          { value: 'first-company-name', text: 'First Company Name' },
          { value: 'second-company-name', text: 'Secon Company Name' },
        ],
        companieseSlug:{
          slug: null,
        },
        errors: [],

      };
    },
    created(){
    this.companiese=  JSON.parse(localStorage.getItem('companies')).map(item=>({value:item.id,text:item.business_name}));
    },
    methods:{
      selctcompany(){
        if(this.selectedcompany==''){
           this.$alertify.error('Please select company');
        }else{
          localStorage.setItem('company_id',this.selectedcompany);
            this.$alertify.success('Company successfully selected');
             this.$router.push('/dashboard');
        }
        // alert(this.selectedcompany);
      }
    }

  }
</script>
<style scoped>
  .invalid-feedback{
    display: block;
  }
</style>
