<template>
  <div style="height: 100%">
    <div class="vld-parent">
      <loading :active.sync="isLoading"
               :is-full-page="fullPage">
      </loading>
      <!--<label><input type="checkbox" v-model="fullPage">Full page?</label>-->
    </div>
    <!-- {{productkey}}
    {{product_type_fields}} -->
    <div style="" class="h-100 p-0 pt-sm-5 pb-sm-5 container-fluid centerx">
      <div style="background-color: #fff; max-width: 750px; margin: 0 auto;" class="container">
        <form-wizard @on-complete="onComplete">
          <h2 class="textonwer-title" slot="title">Register with TextOwners Today</h2>
          <tab-content class="steps-title-t" :before-change="firstStep" title="Personal Details"  icon="ti-user">

      <!-- <automative @city="getCity" @state="getState" ref="automotive" :productType="selectedProduct.id" v-if="selectedProduct.slug=='automotive'"></automative>
          <homeimprovement @city="getCity" @state="getState" ref="home_improvements" :productType="selectedProduct.id" v-if="selectedProduct.slug=='home-improvements'"></homeimprovement>
          <insurance @city="getCity" @state="getState" ref="insurance_finance" :productType="selectedProduct.id" v-if="selectedProduct.slug=='insurance-finance'"></insurance>
          <kids @city="getCity" @state="getState" ref="kids" :productType="selectedProduct.id" v-if="selectedProduct.slug=='kids'"></kids>
          <computer @city="getCity" @state="getState" :productType="selectedProduct.id" ref="computers_electronics" v-if="selectedProduct.slug=='computers-electronics'"></computer>
          <healthcare @city="getCity" @state="getState" :productType="selectedProduct.id" ref="healthcare" v-if="selectedProduct.slug=='healthcare'"></healthcare>
          <realestate @city="getCity" @state="getState" :productType="selectedProduct.id" ref="homes_real_estate" v-if="selectedProduct.slug=='homes-real-estate'"></realestate>
          <localBusiness @city="getCity" @state="getState" :productType="selectedProduct.id" ref="local_business" v-if="selectedProduct.slug=='local-business'"></localBusiness>
          <fitness @city="getCity" @state="getState" :productType="selectedProduct.id" ref="fitness" v-if="selectedProduct.slug=='fitness'"></fitness> -->

            <b-form class="from_first_step" ref="firstStep_form"  role="form"  enctype="multipart/form-data">

                <b-form-group id="first_name" label="First Name:" label-for="first_name">
                  <b-form-input
                    id="first_name"
                    v-model="form.first_name"
                    required
                    placeholder="Enter first name"
                  ></b-form-input>
                  <b-form-invalid-feedback v-if="errors.first_name" id="input-live-feedback">
                    {{errors.first_name[0]}}
                  </b-form-invalid-feedback>
                </b-form-group>
                <b-form-group id="input-group-2" label="Last Name:" label-for="last_name">
                  <b-form-input
                    id="last_name"
                    v-model="form.last_name"
                    required
                    placeholder="Enter last name"
                  ></b-form-input>
                  <b-form-invalid-feedback v-if="errors.last_name" id="input-live-feedback">
                    {{errors.last_name[0]}}
                  </b-form-invalid-feedback>
                </b-form-group>
                <b-form-group
                  id="input-group-4"
                  label="Cell:"
                  label-for="cell"
                  description="Cell phone format: +16171234567"
                >
                  <masked-input
                    name="taxid"
                    class="form-control"
                    v-model="form.cell_phone"
                    :mask="['+',/\d/, /\d/, /\d/, /\d/,  /\d/, /\d/, /\d/, /\d/, /\d/, /\d/, /\d/, /\d/]"
                    :guide="false"
                    type="text"
                    required
                    placeholder="Cell"
                  />
                  <b-form-invalid-feedback v-if="errors.cell_phone" id="input-live-feedback">
                    {{errors.cell_phone[0]}}
                  </b-form-invalid-feedback>
                </b-form-group>

                <b-form-group
                  id="input-group-3"
                  label="Email:"
                  label-for="email"
                >
                  <b-form-input
                    id="email"
                    v-model="form.email"
                    type="email"
                    required
                    placeholder="Enter email"
                  ></b-form-input>
                  <b-form-invalid-feedback v-if="errors.email" id="input-live-feedback">
                    {{errors.email[0]}}
                  </b-form-invalid-feedback>

                  <b-form-group style="padding-top:10px" id="password" label="Password:" label-for="password">
                    <b-form-input
                      id="password"
                      v-model="form.password"
                      required
                      type="password"
                      placeholder="Password"
                    ></b-form-input>
                    <b-form-invalid-feedback v-if="errors.password" id="input-live-feedback">
                      {{errors.password[0]}}
                    </b-form-invalid-feedback>
                  </b-form-group>
                  <b-form-group id="password_confirmation" label="Confirm Password:" label-for="password_confirmation">
                    <b-form-input
                      id="password_confirmation"
                      v-model="form.password_confirmation"
                      type="password"
                      required
                      placeholder="Confirm password"
                    ></b-form-input>
                    <b-form-invalid-feedback v-if="errors.password_confirmation" id="input-live-feedback">
                      {{errors.password_confirmation[0]}}
                    </b-form-invalid-feedback>
                  </b-form-group>

                </b-form-group>

              </b-form>




          </tab-content>
          <tab-content :before-change="verifyCellPhone" title="Verify Phone" icon="ti-mobile" >
            <b-form class="from_first_step" role="form"  enctype="multipart/form-data">
              <b-form-group
                id="verify_cell"
                label="Verification Code:"
                label-for="verify_cell"
                description="Please enter 6 digits code you received on your cell for verification."
              >
                <b-form-input
                  id="verify_code"
                  v-model="verify.verification_code"
                  type="text"
                  required
                  placeholder="Enter 6 digits code"
                ></b-form-input>

                <b-form-invalid-feedback v-if="errors.verification_code" id="input-live-feedback">
                  {{errors.verification_code[0]}}
                </b-form-invalid-feedback>

              </b-form-group>
            </b-form>
          </tab-content>
          <tab-content :before-change="saveStepThree" title="Availability" icon="ti-time">


            <b-form class="from_first_step_Stop"  >

              <b-form-group label="Select timezone:">
                <div class="radio-toolbar resize-labels">
                  <input type="radio" v-model="timezone" id="radio1" name="radios" value="Eastern Standard Time" checked>
                  <label for="radio1">Eastern Standard Time</label>

                  <input type="radio" id="radio2" v-model="timezone" name="radios" value="Central Standard Time">
                  <label for="radio2">Central Standard Time</label>

                  <input type="radio" id="radio3" v-model="timezone" name="radios" value="Mountain Standard Time">
                  <label for="radio3">Mountain Standard Time</label>

                  <input type="radio" id="radio4" v-model="timezone" name="radios" value="Pacific Standard Time">
                  <label for="radio4">Pacific Standard Time</label>

                  <input type="radio" id="radio5" v-model="timezone" name="radios" value="Hawaii Standard Time">
                  <label for="radio5">Hawaii Standard Time</label>

                  <input type="radio" id="radio6" v-model="timezone" name="radios" value="Alaska Standard Time">
                  <label for="radio6">Alaska Standard Time</label>
                  <b-form-invalid-feedback v-if="errors.timezone" id="input-live-feedback">
                    {{errors.timezone[0]}}
                  </b-form-invalid-feedback>
                </div>
              </b-form-group>

              <!--<b-form-group label="Select timezone:">
                <b-form-checkbox-group
                  v-model="timezone"
                  :options="ownerTimeZoneOptions"
                  name="timezone"
                  switches
                  button-variant="outline-primary"
                  size="sm"
                ></b-form-checkbox-group>
                <b-form-invalid-feedback v-if="errors.timezone" id="input-live-feedback">
                  {{errors.timezone[0]}}
                </b-form-invalid-feedback>
              </b-form-group>-->


              <b-form-group label="Select Language:">
                <div class="radio-toolbar resize-labels">
                  <input type="radio" v-model="tag" id="english" name="language" value="English" checked>
                  <label for="english">English</label>

                  <input type="radio" id="spanish" v-model="tag" name="language" value="Spanish">
                  <label for="spanish">Spanish</label>

                  <b-form-invalid-feedback v-if="errors.language" id="input-live-feedback">
                    {{errors.language[0]}}
                  </b-form-invalid-feedback>
                </div>
              </b-form-group>


              <!--<b-form-group label="Select languages you speak:">
                <b-form-checkbox-group
                  id="checkbox-group-11"
                  v-model="tag"
                  :options="tags"
                  switches
                  name="language"
                ></b-form-checkbox-group>
                <b-form-invalid-feedback v-if="errors.language" id="input-live-feedback">
                  {{errors.language[0]}}
                </b-form-invalid-feedback>
              </b-form-group>-->


              <b-form-group label="Available Times to Chat:">
                <div class="radio-toolbar resize-labels">
                  <input type="radio" v-model="chatTimeselected" id="morning" name="time_to_chat" value="Morning" checked>
                  <label for="morning">Morning</label>

                  <input type="radio" id="afternoon" v-model="chatTimeselected" name="time_to_chat" value="Afternoon">
                  <label for="afternoon">Afternoon</label>

                  <input type="radio" id="evening" v-model="chatTimeselected"  name="time_to_chat" value="Evening">
                  <label for="evening">Evening</label>

                  <b-form-invalid-feedback v-if="errors.time" id="input-live-feedback">
                    {{errors.time[0]}}
                  </b-form-invalid-feedback>
                </div>
              </b-form-group>


              <!--<b-form-group label="Available Times to Chat:">
                <b-form-checkbox-group
                  id="checkbox-group-1"
                  v-model="chatTimeselected"
                  :options="chatTimeOptions"
                  switches
                  name="timetochat"
                ></b-form-checkbox-group>
                <b-form-invalid-feedback v-if="errors.time" id="input-live-feedback">
                  {{errors.time[0]}}
                </b-form-invalid-feedback>
              </b-form-group>-->



              <b-form-group label="Preferred Chat option:">
                <div class="radio-toolbar resize-labels">
                  <input type="radio" v-model="preferedChatSelected" id="sms" name="chat_option" value="SMS" checked>
                  <label for="sms">English</label>

                  <input type="radio" id="video" v-model="preferedChatSelected" disabled name="chat_option" value="Video">
                  <label for="video">Video</label>

                  <b-form-invalid-feedback v-if="errors.communication_type" id="input-live-feedback">
                    {{errors.communication_type[0]}}
                  </b-form-invalid-feedback>
                </div>
              </b-form-group>


              <!-- <b-form-group label="Preferred Chat option">
                 <b-form-checkbox-group
                   v-model="preferedChatSelected"
                   :options="preferedChat"
                   switches
                 ></b-form-checkbox-group>
                 <b-form-invalid-feedback v-if="errors.communication_type" id="input-live-feedback">
                   {{errors.communication_type[0]}}
                 </b-form-invalid-feedback>
               </b-form-group>-->
            </b-form>



          </tab-content>

          <tab-content :before-change="AddProduct" title="Add Product" icon="ti-tag">


          <automative @city="getCity" @state="getState" ref="automotive" :productType="selectedProduct.id" v-if="selectedProduct.slug=='automotive'"></automative>
          <homeimprovement @city="getCity" @state="getState" ref="home_improvements" :productType="selectedProduct.id" v-if="selectedProduct.slug=='home-improvements'"></homeimprovement>
          <insurance @city="getCity" @state="getState" ref="insurance_finance" :productType="selectedProduct.id" v-if="selectedProduct.slug=='insurance-finance'"></insurance>
          <kids @city="getCity" @state="getState" ref="kids" :productType="selectedProduct.id" v-if="selectedProduct.slug=='kids'"></kids>
          <computer @city="getCity" @state="getState" :productType="selectedProduct.id" ref="computers_electronics" v-if="selectedProduct.slug=='computers-electronics'"></computer>
          <healthcare @city="getCity" @state="getState" :productType="selectedProduct.id" ref="healthcare" v-if="selectedProduct.slug=='healthcare'"></healthcare>
          <realestate @city="getCity" @state="getState" :productType="selectedProduct.id" ref="homes_real_estate" v-if="selectedProduct.slug=='homes-real-estate'"></realestate>
          <localBusiness @city="getCity" @state="getState" :productType="selectedProduct.id" ref="local_business" v-if="selectedProduct.slug=='local-business'"></localBusiness>
          <fitness @city="getCity" @state="getState" :productType="selectedProduct.id" ref="fitness" v-if="selectedProduct.slug=='fitness'"></fitness>




          </tab-content>
          <tab-content :before-change="userDemographics" title="Demographics" icon="ti-user">
               <b-form class="from_first_step"  role="form"  enctype="multipart/form-data">
              <b-form-group id="sex" label="Sex:" label-for="sex">
                <b-form-select required v-model="demographics.sex" :options="sexOptions"></b-form-select>
                <b-form-invalid-feedback v-if="errors.sex" id="input-live-feedback">
                  {{errors.sex[0]}}
                </b-form-invalid-feedback>
              </b-form-group>

              <b-form-group id="age" label="Age:" label-for="age">
                <b-form-select required v-model="demographics.age" :options="ageOptions">

                </b-form-select>
                <b-form-invalid-feedback v-if="errors.age" id="input-live-feedback">
                  {{errors.age[0]}}
                </b-form-invalid-feedback>
              </b-form-group>

              <b-form-group id="enter_city" label="City:" label-for="enter_city">
                <b-form-input
                  id="enter_city"
                  v-model="demographics.city"
                  required
                  placeholder="Enter City"
                ></b-form-input>
                <b-form-invalid-feedback v-if="errors.city" id="input-live-feedback">
                  {{errors.city[0]}}
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group label="Location:">
                 <gmap-autocomplete
                 class="form-control"
                            @place_changed="setPlace">
                    </gmap-autocomplete>
                     <b-form-invalid-feedback v-if="errors.address" id="input-live-feedback">
                    {{errors.address[0]}}
                  </b-form-invalid-feedback>
                     </b-form-group>
              <b-form-group label="State" >
                <b-form-select  v-model="demographics.state" :options="statelist" class=" mb-3"></b-form-select>
                <span class="invalid-feedback" v-if="errors.state">{{errors.state[0]}}</span>
              </b-form-group>


              <b-form-group id="location" label="Country:" label-for="location">
                <b-form-select required v-model="demographics.location" :options="locationOptions"></b-form-select>
                <b-form-invalid-feedback v-if="errors.location" id="input-live-feedback">
                  {{errors.location[0]}}
                </b-form-invalid-feedback>
              </b-form-group>

            </b-form>
          </tab-content>
          <template slot="footer" slot-scope="props">
            <div class="wizard-footer-left">
              <!--
                                          <wizard-button v-if="props.activeTab`Index` > 0 && !props.isLastStep" @click.native="props.prevTab()" :style="props.fillButtonStyle">Previous</wizard-button>
              -->
            </div>
            <div class="wizard-footer-right">
              <wizard-button v-if="!props.isLastStep" @click.native="props.nextTab()" class="wizard-footer-right" :style="props.fillButtonStyle">Next</wizard-button>
              <wizard-button v-else @click.native="userDemographics" class="wizard-footer-right finish-button" :style="props.fillButtonStyle">{{props.isLastStep ? 'Done' : 'Next'}}</wizard-button>
            </div>
          </template>
        </form-wizard>
      </div>
    </div>
  </div>
</template>
<script>
  //import VueTagsInput from '@johmun/vue-tags-input';
  import Datepicker from 'vuejs-datepicker';
  import MaskedInput from 'vue-text-mask'
  import moment from 'moment';
  import automative from '../product/forms/product_automotive';
  import homeimprovement from '../product/forms/product_home_improvement';
  import insurance from '../product/forms/product_insurance_finance';
  import kids from '../product/forms/product_kids';
  import computer from '../product/forms/product_computers_electronics';
  import healthcare from '../product/forms/product_healthcare';
  import realestate from '../product/forms/product_homes_realestate';
  import localBusiness from '../product/forms/product_local_business';
  import fitness from '../product/forms/product_fitness';
  import {FormWizard, TabContent, WizardButton} from 'vue-form-wizard';
  import 'vue-form-wizard/dist/vue-form-wizard.min.css';
  import Loading from 'vue-loading-overlay';
  // Import stylesheet
  import 'vue-loading-overlay/dist/vue-loading.css';
  export default {
    components: {
      MaskedInput,

      WizardButton,
      FormWizard,
      TabContent,
      Loading,
       automative,
      homeimprovement,
      insurance,
      kids,
      computer,
      healthcare,
      realestate,
      localBusiness,
      fitness
    },
    data() {
      return {
             center: { lat: 24.774, lng: 46.738  },
                markers: [],
                places: [],
                currentPlace: null,
                adr_address: null,
                adr_name: null,
                adr_lat: null,
                adr_lng: null,
                addOption: false,
                coordinates: null,
                after_drag_lat: '',
                after_drag_lng: '',
                final_lat: '',
                final_lng: '',

                showMapWithLat: '',
                showMapWithLng: '',
                full_feature: true,

                draggable: true,
        isLoading: false,
        fullPage: true,
        selectedProduct:[],
        form: {
          first_name: '',

          last_name: '',
          email: '',
          cell_phone: '',
          lat:this.adr_lat,
          lng:this.adr_lng,
          address:this.adr_name,
          password: '',
          password_confirmation: '',
          category_id: null,
        },
        verify: {
          verification_code: '',
        },


        chatTimeselected: 'Morning', // Must be an array reference!
        chatTimeOptions: [
          { text: 'morning', value: 'morning' },
          { text: 'afternoon', value: 'afternoon' },
          { text: 'evening', value: 'evening' },
        ],

        timezone: 'Eastern Standard Time', // Must be an array reference!
        ownerTimeZoneOptions: [
          { text: 'Eastern Standard Time', value: 'Eastern Standard Time' },
          { text: 'Central Standard Time', value: 'Central Standard Time' },
          { text: 'Mountain Standard Time', value: 'Mountain Standard Time' },
          { text: 'Pacific Standard Time', value: 'Pacific Standard Time' },
          { text: 'Hawaii Standard Time', value: 'Hawaii Standard Time' },
          { text: 'Alaska Standard Time', value: 'Alaska Standard Time' },
        ],

        preferedChatSelected: 'SMS', // Must be an array reference!
        preferedChat: [
          { text: 'SMS', value: 'sms' },
          { text: 'Video', value: 'video', disabled: true },
        ],

        tag: 'English',
        tags: [
          { text: 'English', value: 'english' },
          { text: 'Spanish', value: 'spanish' },
        ],

        categoriesOptions: [],

        yearsOptions: [
          {
            value: null,
            text: 'Select a year' },
          {
            value: 2020,
            text: 2020,
          },
          {
            value: 2019,
            text: 2019,
          },
          {
            value: 2018,
            text: 2018,
          },
          {
            value: 2017,
            text: 2017,
          },
          {
            value: 2016,
            text: 2016,
          },
          {
            value: 2015,
            text: 2015,
          },
          {
            value: 2014,
            text: 2014,
          },
          {
            value: 2013,
            text: 2013,
          },
          {
            value: 2012,
            text: 2012,
          },
          {
            value: 2011,
            text: 2011,
          },
          {
            value: 2010,
            text: 2010,
          },
          {
            value: 2009,
            text: 2009,
          },
          {
            value: 2008,
            text: 2008,
          },
          {
            value: 2007,
            text: 2007,
          },
          {
            value: 2006,
            text: 2006,
          },
          {
            value: 2005,
            text: 2005,
          },
          {
            value: 2004,
            text: 2004,
          },
          {
            value: 2003,
            text: 2003,
          },
          {
            value: 2002,
            text: 2002,
          },
          {
            value: 2001,
            text: 2001,
          },
          {
            value: 2000,
            text: 2000,
          },
        ],

        product: {
          category_id: null,
          years: null,
          product_name: '',
          model: '',
          make: '',
          color: '',
          bought_at: '',
          date_bought: '',
        },

        product_type_fields: [],

        sexOptions: [
          { value: null, text: 'Select sex' },
          { value: 'male', text: 'Male' },
          { value: 'female', text: 'Female' },
        ],

        ageOptions: [
          { value: null, text: 'Select age' },
          { value: '18-24', text: '18-24' },
          { value: '25-34', text: '25-34' },
          { value: '25-34', text: '25-34' },
          { value: '35-44', text: '35-44' },
          { value: '45-60', text: '45-60' },
          { value: '61-70', text: '61-70' },
          { value: '71+', text: '71+' },
        ],

        locationOptions: [
          { value: null, text: 'Select location' },
          { value: 'usa', text: 'USA' },
        /*  { value: 'spain', text: 'Spain' },
          { value: 'china', text: 'China' },
          { value: 'france', text: 'Fracne' },*/
        ],

        demographics:{
          sex: null,
          age: null,
          location: 'usa',
          city: null,
          state: null,
          lat:null,
          lng:null,
          address:null
        },
        statelist: '',

        errors: [],
        success: [],
        productkey:[],
        show: true,


        temp_token: null,
        token:localStorage.getItem('token'),


        form_control:{
          user_token:	true,
          user:	true,
          cell_verification:	false,
          user_availiblity:	true,
          user_language:	false,
          user_product:	false,
        },
        steps: null,
      };
    },
    created() {
      this.verify_category();
      this.getProductType();
      this.getStates();
      this.geolocate();
      //this.load_product_types()
    },
    computed: {

    },
    methods:{
       setPlace(place) {

                // console.log('skndr');
                // console.log(place);
                // this.markers = [];
                this.currentPlace = place;

                this.adr_name = this.currentPlace.name;

                this.demographics.address =  this.currentPlace.name+','+this.currentPlace.formatted_address;
                this.demographics.lat = this.currentPlace.geometry.location.lat();
                this.demographics.lng = this.currentPlace.geometry.location.lng();
                // this.addOption = true;
             console.log(this.demographics.address);
            },

      geolocate: function() {
                navigator.geolocation.getCurrentPosition(position => {
                    this.center = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                });
            },
      getProductType(){
       this.slug=this.$route.params.slug;
       $axios.get('verify-product-type/'+this.slug).then(res=>{
           this.selectedProduct=res.data.data;
       }).catch(error=>{
          // alert('no');
       })
      },

      verify_category(){
        $axios.get('verify-product-type/' + this.$route.params.slug)
          .then(response => {
            if(response.data.error){
              this.$router.push(this.$route.query.redirect || '/login')
            }
            this.form.category_id = response.data.data.id;
            // alert(this.form.category_id)
            /*this.categoriesOptions = response.data.data.company_product_type.map(
              item => ({
                value: item.product_type_id,
                text: item.product_type_title,
              })
            );
            this.product.category_id = response.data.data.company_product_type[0].product_type_id;
            this.product_type_fields =  response.data.data.company_product_type_fields;
            let index = this.product_type_fields.findIndex( record => record.slug === "product_name" );

             let check = this.product_type_fields.findIndex( record => record.field_level === "optional" );


            if(check!=-1){
            //  delete this.product_type_fields[index];
            this.product_type_fields.splice(index, 1);
            }
             //let slugarray=[];
            let slug={};
           response.data.data.company_product_type_fields.forEach(function(element){
             // slugarray.push(element.slug);
             //this.productkey.element.slug='';

             // this.productkey[element.slug]='';
             slug[element.slug] = ''
             // jsObj[]
            });
           console.log(slug);
           this.productkey=slug;*/
          // alert('hi');
         // console.log(this.productkey)
          })
          .catch(error => {
            this.$router.push(this.$route.query.redirect || '/login')
            this.errors = '';
          })
      },



      onComplete(){
        alert('Yay. Done!');
      },

      async firstStep() {
        this.isLoading = true;

        await  $axios.post('register', this.form)
          .then(response => {
            this.isLoading = false;
            this.success = response.data.success
            localStorage.setItem('token','Bearer ' +response.data.data.token);
            this.temp_token = 'Bearer ' +response.data.data.token;
            /*toast.fire({
              type: 'success',
              title: 'Registered successfully.'
            });*/
            this.form_control.cell_verification = true;
            this.errors = '';
            this.steps = true;
          })
          .catch(error => {
            this.isLoading = false;
           /* this.$vs.loading.close()
            toast.fire({
              type: 'error',
              title: error.response.data.message,
            });*/
            this.errors = error.response.data.errors;
            this.steps = false;
          })
        if(this.steps)
        {
          return true;
        }
        else
        {
          return false;
        }
      },

      async verifyCellPhone() {
        /*evt.preventDefault()*/
        this.isLoading = true;
        var token_to_be_used;
        if(this.temp_token != null){
          token_to_be_used = this.temp_token;
        }else{
          token_to_be_used = this.token;
        }
        await  $axios.post('registration/verify-cell', this.verify,{ headers: { Authorization: token_to_be_used } })
          .then(response => {
            this.isLoading = false;
            this.success = response.data.success;
            /*toast.fire({
              type: 'success',
              title: response.data.message,
            });*/
            this.form_control.cell_verification = true;
            this.errors = '';
            this.steps = true;
          })
          .catch(error => {
            this.isLoading = false;
            this.errors = error.response.data.errors;
            this.steps = false;
          })
        if(this.steps)
        {
          return true;
          this.steps = false;
        }
        else
        {
          return false;
          this.steps = false;
        }
      },

      async saveStepThree(){
        this.isLoading = true;
        var token_to_be_used;
        if(this.temp_token != null){
          token_to_be_used = this.temp_token;
        }else{
          token_to_be_used = this.token;
        }
        await $axios.post('registration/available',
          {
            time: this.chatTimeselected,
            communication_type: this.preferedChatSelected,
            user_timezone: this.timezone,
            language: this.tag,
          },
          {
            headers:
              {
                Authorization: token_to_be_used
              }
          })
          .then(response=>{
            this.isLoading = false;
            this.errors = '';
            this.errors = '';
            this.steps = true;
          })
          .catch(error=>{
            this.isLoading = false;
            if(error.response.status==422){
              this.errors=error.response.data.errors;
            }
            this.steps = false;
          })
        if(this.steps)
        {
          return true;
        }
        else
        {
          return false;
        }

      },

      async addLanguages() {
        this.isLoading = true;
        var token_to_be_used;
        if(this.temp_token != null){
          token_to_be_used = this.temp_token;
        }else{
          token_to_be_used = this.token;
        }
       /* var languages = [];
        console.log(this.tags.map(item=>{item.text}));
        for (var i=0;i<this.tags.length;i++){
          languages.push(this.tags[i].text);
        }*/
        await  $axios.post('registration/add-languages',
          {
            language: this.tag

          },{ headers: { Authorization: token_to_be_used } })
          .then(response => {
            this.isLoading = false;
            this.success = response.data.success
            this.errors = '';
            this.steps = true;
          })
          .catch(error => {
            this.isLoading = false;
            this.errors = error.response.data.errors;
            this.steps = false;

          })
        if(this.steps)
        {
          return true;
        }
        else
        {
          return false;
        }
      },
   async AddProduct(){
    //  alert('yes');
    var formref=this.selectedProduct.slug;
    if(formref=='healthcare'){
     await  this.$refs.healthcare.submit()
           if(this.$refs.healthcare.steps){
             return true;
           }else{
             return false;
           }
    }else if (formref=='homes-real-estate') {
     await this.$refs.homes_real_estate.submit()
      if(this.$refs.homes_real_estate.steps){
             return true;
           }else{
             return false;
           }
    }else if (formref=='local-business') {
      await this.$refs.local_business.submit()
      if(this.$refs.local_business.steps){
             return true;
           }else{
             return false;
           }
    }else if (formref=='fitness') {
    await  this.$refs.fitness.submit()
      if(this.$refs.fitness.steps){
             return true;
           }else{
             return false;
           }
    }else if (formref=='computers-electronics') {
    await  this.$refs.computers_electronics.submit()
      if(this.$refs.computers_electronics.steps){
             return true;
           }else{
             return false;
           }
    }else if (formref=='kids') {
     await this.$refs.kids.submit()
      if(this.$refs.kids.steps){
             return true;
           }else{
             return false;
           }
    }else if (formref=='insurance-finance') {
     await this.$refs.insurance_finance.submit()
       if(this.$refs.insurance_finance.steps){
             return true;
           }else{
             return false;
           }
    }else if (formref=='automotive') {

     await this.$refs.automotive.submit()
      if(this.$refs.automotive.steps){
             return true;
           }else{
             return false;
           }
    }else if (formref=='home-improvements') {
   await  this.$refs.home_improvements.submit()
      if(this.$refs.home_improvements.steps){
             return true;
           }else{
             return false;
           }
    }

    },


   async   submitProduct(){
      // alert('yes');
        // console.log(JSON.stringify(mandatoryFields));
           let index = this.product_type_fields.findIndex( record => record.slug === "product_name" );
          //  alert(index);
        let createMandatoryArray={};
        let optional=[];
        this.product_type_fields.forEach(element=>{
          if(element.field_level=='mandatory' && index!=-1){
              createMandatoryArray[element.slug]=element.temp_value;
              }else if(element.field_level=='mandatory' && element.slug=='bought_at' && index==-1){
                     createMandatoryArray[element.slug]=element.temp_value;
              }else{
                optional.push(element);
              }
        });
       let user_id= JSON.parse(localStorage.getItem('userDetail')).id;
      if(index==-1){
        let title='';
         this.product_type_fields.forEach(element=>{

            if(element.use_for_title_generation=='yes'){
              title+= element.temp_value?element.temp_value+ ' ':' ';
            }
         });
           createMandatoryArray['product_name']= title;
           }
        //  alert(title);
        createMandatoryArray['company_id']= this.form.company_id;

        createMandatoryArray['user_id']= user_id;

        createMandatoryArray['optional']=optional;
           this.product_type_fields.forEach(element=>{
             if(element.slug!='product_name' || element.slug!='bought_at'){
              createMandatoryArray[element.slug]=element.temp_value;
              }
           });

    await    $axios.post('products/add-product',createMandatoryArray)
         .then(response => {
            this.isLoading = false;
            this.success = response.data.success
            this.errors = [];
            this.steps = true;
          })
          .catch(error => {
            this.isLoading = false;
            console.log(error.response.data.errors);
            this.errors = error.response.data.errors;
            this.steps = false;
          })
        if(this.steps)
        {
          return true;
        }
        else
        {
          return false;
        }
     },


      async productOwn() {
        // alert('hi');
        let data={};
        this.product_type_fields.forEach(function(element){
          console.log(element);
                      data[element.slug] = element.temp_value;

        });
        console.log(data);
        this.isLoading = true;
        var token_to_be_used;
        if(this.temp_token != null){
          token_to_be_used = this.temp_token;
        }else{
          token_to_be_used = this.token;
        }
        await $axios.post('registration/add-product', data,
          { headers:
              {
                Authorization: token_to_be_used
              }
          })
          .then(response => {
            this.isLoading = false;
            this.success = response.data.success
            this.errors = '';
            this.steps = true;
          })
          .catch(error => {
            this.isLoading = false;
            this.errors = error.response.data.errors;
            this.steps = false;
          })
        if(this.steps)
        {
          return true;
        }
        else
        {
          return false;
        }
      },

      async userDemographics() {
        this.isLoading = true;
        var token_to_be_used;
        if(this.temp_token != null){
          token_to_be_used = this.temp_token;
        }else{
          token_to_be_used = this.token;
        }
        await $axios.post('registration/add-user-demographics', this.demographics,
          { headers:
              {
                Authorization: token_to_be_used
              }
          })
          .then(response => {
            this.isLoading = false;
            this.success = response.data.success
            this.errors = [];
            this.steps = true;
            localStorage.removeItem('token');
            localStorage.removeItem('userDetail');
            this.$router.push('/login');

          })
          .catch(error => {
            this.isLoading = false;
            this.errors = error.response.data.errors;
            this.steps = false;
          })
        if(this.steps)
        {
          return true;
        }
        else
        {
          return false;
        }
      },

      customDateFormatter(date) {
        return moment(date).format('YYYY-MM-DD');
      },
      getState(value){
       this.demographics.state=value;
      },
      getCity(value){
       this.demographics.city=value;
      },

      getStates(){
        $axios.get('getState').
        then(response=>{
          this.statelist=response.data.data.map(item=>({value:item.name,text:item.name}));
        }).
        catch(error=>{

        })
      },

    },

  }
</script>
<style lang="scss" scopped>
  .to-register-wraper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0px;
  }
  .col-auto{
    max-width: 300px !important;
    width: 100% !important;
  }
  .col-auto ul li{
    padding: 10px 0px !important;
    font-weight: bold !important;
  }
  .to-register-wraper .card{
    border-radius: 0px !important;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000 !important;
    background-color: transparent !important;
    padding-left: 45px;
  }
  .nav-pills .nav-link {
    padding-left: 45px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #6c757d;

  }
  .card .nav.flex-column > li{
    border-bottom: none !important;
  }
  .col-auto ul{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .process-buttons{
    padding-top: 40px;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #3490dc;
    background-color: #3490dc;
  }
  .vue-tags-input {
    max-width: 500px !important;
  }
  .invalid-feedback{
    display: block;
  }
  .textowners-date input{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .right_side{
    background-color: #fff;
  }
  .container-fluid{
    background-color: transparent !important;
  }
  .resize-labels label{
    font-size: 12px;
  }
</style>
