<template>
  <CContainer class="d-flex align-items-center">
    <div class="vld-parent">
      <loading :active.sync="isLoading"></loading>
    </div>
    <CRow class="w-100 select_category">
      <CCol  class="select-inner-h" sm="12" md="12">
        <h2>Select a category of your interest</h2>
      </CCol>
      <CCol v-for="type in productType" :key="type.id"  class="select-inner" sm="6" md="4">
        <CCard>
          <CCardBody>
            <router-link :to="{name: 'OwnersSignup', params: {slug: type.slug}}">{{type.title}}</router-link>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  export default {
    name: "TestComponent",
    components: {
      Loading
    },
    data() {
      return {
        errors: [],
        productType: null,
        isLoading: false,
      };
    },
    created(){
      this.getProductTypes();
    },
    methods:{
      getProductTypes(){
        this.isLoading = true;
        this.$http.get('/published-product-types')
          .then(response=>{
            this.isLoading = false;
            this.productType = response.data.data;
          }).
        catch(error=>{
          this.isLoading = false;
        })
      },
    }

  }
</script>
<style scoped>
  .invalid-feedback{
    display: block;
  }
  .select-inner-h{
    padding: 20px 15px;
    font-size: 18px;
  }
  .select-inner-h h2{
    font-size: 20px;
  }
</style>
