<template>
    <nav class="oc-navbar bg-gray-800 border-b-2 border-gray-800 h-12">
        <div class="oc-navbar-left">
            <nuxt-link to="/" class="oc-navbar-item text-white hover:text-white">Survey Questions</nuxt-link>
        </div>
        <div class="oc-navbar-right">

        </div>
    </nav>
</template>

<script>
export default {

}
</script>
