<template>
    <div class="oc-sidebar" v-if="$auth.user">
        <div class="oc-sidebar-nav">
            <div class="oc-sidebar-item items-center button-dropdown cursor-pointer hover:text-gray-500">
                <button type="button" class="avatar focus:outline-none">
                    {{$store.getters['auth/initial']}}
                </button>
                <div class="user-info pl-3 text-left flex-wrap oc-m-hide sidebar-text" v-if="$auth.user">
                    <div class="text-gray-600">{{$auth.user.email}}</div>
                </div>
            </div>
            <div uk-dropdown="mode:click;">
                <ul class="uk-dropdown-nav">
                    <li>
                        <nuxt-link to="/">Go To Home</nuxt-link>
                    </li>
                    <li>
                        <a href="#" @click.prevent="$store.dispatch('auth/logout')">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>

        <CompanySidebar v-if="$auth.user.type == 'company'"/>
        <OwnerSidebar v-if="$auth.user.type == 'user'"/>
        <AdminSidebar v-if="$auth.user.type == 'admin'"/>

        <div class="bottom-sidebar flex flex-col">

            <div class="oc-sidebar-nav">
                <button class="oc-sidebar-item mt-5" id="collapseBtn" @click="collapse">
                    <div>
                        <span class="oc-sidebar-icon">
                            <arrow-left-circle-icon></arrow-left-circle-icon>
                        </span>
                        <span class="ml-3 oc-m-hide">Collapse</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { ArrowLeftCircleIcon, SettingsIcon } from 'vue-feather-icons';

import CompanySidebar from '@/components/layouts/dashboard/sidebar/Company';
import AdminSidebar from '@/components/layouts/dashboard/sidebar/Admin';
import OwnerSidebar from '@/components/layouts/dashboard/sidebar/Owner';

export default {
    components: {
        ArrowLeftCircleIcon,
        SettingsIcon,
        CompanySidebar,
        AdminSidebar,
        OwnerSidebar
    },
    methods: {
        collapse() {
            let wrapper = document.getElementById('dashboardLayout');
            wrapper.classList.toggle('collapsed');
        }
    }
}
</script>
