<template>
    <form @submit.prevent="save">
        <h2 class="mb-2">Add Product </h2>

        <div class="oc-grid">
            
            <div class="w-full">
                <div class="mb-4">
                    <input type="text" v-model="baught_at" placeholder="Bought At" class="oc-form-control">

                    <error name="baught_at"></error>
                </div>
            </div>

            <div class="w-full">
                <div class="mb-4">
                    <input type="text" v-model="business_type" placeholder="Business Type" class="oc-form-control">

                    <error name="business_type"></error>
                </div>
            </div>

            <div class="w-full">
                <div class="mb-4">
                    <input type="text" v-model="state" placeholder="State" class="oc-form-control">

                    <error name="state"></error>
                </div>
            </div>

        </div>

        <div class="oc-grid">
            <div class="w-full">
                <div class="mb-4">
                    <input autocomplete v-model="city" placeholder="City" type="text"  class="oc-form-control">

                    <error name="city"></error>
                </div>
            </div>

            <div class="w-full">
                <div class="mb-4">
                    <input autocomplete v-model="procedure_type" placeholder="Procedure Type" type="text"  class="oc-form-control">

                    <error name="procedure_type"></error>
                </div>
            </div>

            <div class="w-full">
                <div class="mb-4">
                    <input autocomplete v-model="contact" placeholder="Contact Number" type="text"  class="oc-form-control">

                    <error name="contact"></error>
                </div>
            </div>

        </div>

        <div class="mb-4 flex justify-end">
            <button type="submit"  class="oc-btn oc-btn-primary rounded">{{nextBtn?'Next':'Submit'}}</button>
        </div>

    </form>
</template>

<script>
export default {
    data() {
        return {
            name: '',
            baught_at: '',
            business_type: '',
            state: '',
            city: '',
            procedure_type: '',
            contact: '',
            product_type_id: '',
            nextBtn:true,
            segments:[]
        }
    },
    created(){
               this.segments=this.$route.fullPath.split('/');
            if(this.segments.length===5){
               this.nextBtn=false;
            }
    },
    methods: {
         save() {
                const data = {
                    name: this.state +' '+ this.city +' '+ this.business_type +' '+ this.procedure_type, 
                    baught_at: this.baught_at,
                    business_type: this.business_type,
                    state: this.state,
                    city: this.city,
                    procedure_type: this.procedure_type,
                    contact: this.contact,
                    product_type_id: 1,
                }

          this.$axios.post('/api/v1/products/product-health-care/save-product', data).then(res => {
                     if(this.segments.length==5){
                         this.$router.push('/'+this.segments[1]+'/'+this.segments[2]+'/'+this.segments[3]);
                     }else{
                    this.$store.commit('auth/changeOwnerProduct', false);
                    this.$store.commit('auth/changeOwnerDemographic', true);
                    }
                }).catch(err => {
                    this.$store.commit('errors/add', err);
                })
            },
    }
}
</script>