<template>
    <form @submit.prevent="save">
        <h2 class="mb-2">Add Product</h2>

        <div class="oc-grid">
            
            <div class="w-full">
                <div class="mb-4">
                    <input type="text" v-model="baught_at" placeholder="Bought At" class="oc-form-control">

                    <error name="baught_at"></error>
                </div>
            </div>


            <div class="w-full">
                <div class="mb-4">
                    <input type="text" v-model="state" placeholder="State" class="oc-form-control">

                    <error name="state"></error>
                </div>
            </div>

        </div>

        <div class="oc-grid">
            <div class="w-full">
                <div class="mb-4">
                    <input autocomplete v-model="city" placeholder="City" type="text"  class="oc-form-control">

                    <error name="city"></error>
                </div>
            </div>

            <div class="w-full">
                <div class="mb-4">
                    <input autocomplete v-model="type" placeholder="Type" type="text"  class="oc-form-control">

                    <error name="type"></error>
                </div>
            </div>

            <div class="w-full">
                <div class="mb-4">
                    <input autocomplete v-model="trainer" placeholder="Trainer" type="text"  class="oc-form-control">

                    <error name="trainer"></error>
                </div>
            </div>

        </div>

         <div class="mb-4 flex justify-end">
            <button type="submit" class="oc-btn oc-btn-primary rounded">{{nextBtn?'Next':'Submit'}}</button>
        </div>

    </form>
</template>

<script>
export default {
    data() {
        return {
            name: '',
            baught_at: '',
            state: '',
            city: '',
            type: '',
            trainer: '',
            product_type_id: '',
            segments:[],
            nextBtn:true,
        }
    },
     created(){
          this.segments=this.$route.fullPath.split('/');
            if(this.segments.length===5){
               this.nextBtn=false;
            }
    },
    methods: {
         save() {
                const data = {
                    name: this.type +' '+ this.trainer, 
                    baught_at: this.baught_at,
                    state: this.state,
                    city: this.city,
                    type: this.type,
                    trainer: this.trainer,
                    product_type_id: 4,
                }

          this.$axios.post('/api/v1/products/product-fitness/save-product', data).then(res => {
                    if(this.segments.length==5){
                         this.$router.push('/'+this.segments[1]+'/'+this.segments[2]+'/'+this.segments[3]);
                     }else{
                    this.$store.commit('auth/changeOwnerProduct', false);
                    this.$store.commit('auth/changeOwnerDemographic', true);
                     }
                }).catch(err => {
                    this.$store.commit('errors/add', err);
                })
            },
    }
}
</script>